<div class="col-md-12">
  <div class="card card--withTabs card--whitepapers  card--achievements">
    <div class="card-header active-line-move">
      <div id="whitepapers-tabs" class="bs-responsive-tabs">
        <div class="selected-tab hidden-xs">
          <h1 class="title">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22">
              <g>
                <path
                  d="M15 22H3c-1.7 0-3-1.3-3-3V3c0-1.7 1.3-3 3-3h7c.3 0 .5.1.7.3l7 7c.2.2.3.4.3.7v11c0 1.7-1.3 3-3 3zM3 2c-.6 0-1 .4-1 1v16c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V8.4L9.6 2H3z">
                </path>
                <path d="M17 9h-7c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v6h6c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
              </g>
            </svg>
            <span>White Papers</span>
          </h1>
        </div>

        <ul class="nav nav-tabs responsive hidden-xs">
          <li class="active">
            <a data-toggle="tab" href="#whitepapers">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22">
                  <g>
                    <path
                      d="M15 22H3c-1.7 0-3-1.3-3-3V3c0-1.7 1.3-3 3-3h7c.3 0 .5.1.7.3l7 7c.2.2.3.4.3.7v11c0 1.7-1.3 3-3 3zM3 2c-.6 0-1 .4-1 1v16c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V8.4L9.6 2H3z">
                    </path>
                    <path d="M17 9h-7c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v6h6c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                  </g>
                </svg>
                <span>White Papers</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#newsletter">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="17.3">
                  <g>
                    <path class="st0"
                      d="M23 17.3H4.8c-2.7 0-4.8-2.2-4.8-4.8V2.7C0 1.2 1.2 0 2.7 0c1.5 0 2.7 1.2 2.7 2.7v11.2c0 .6-.4 1-1 1s-1-.4-1-1V2.7C3.3 2.3 3 2 2.7 2s-.7.3-.7.7v9.8c0 1.6 1.3 2.8 2.8 2.8s2.8-1.3 2.8-2.8V3.9c0-.6.4-1 1-1H23c.6 0 1 .4 1 1v12.4c0 .6-.4 1-1 1zm-14.3-2H22V4.9H9.7v7.6c0 1-.4 2-1 2.8z">
                    </path>
                    <path class="st0"
                      d="M21.6 4.9c-.6 0-1-.4-1-1V2H2.4c-.6 0-1-.4-1-1s.4-1 1-1h19.1c.6 0 1 .4 1 1v2.9c.1.5-.4 1-.9 1zM17 9.2h-4.8c-.6 0-1-.4-1-1s.4-1 1-1H17c.6 0 1 .4 1 1s-.4 1-1 1zM18.5 13h-6.2c-.6 0-1-.4-1-1s.4-1 1-1h6.2c.6 0 1 .4 1 1s-.5 1-1 1z">
                    </path>
                  </g>
                </svg>
                <span>News &amp; Press Release</span>
              </h1>
            </a>
          </li>
          <!--Merging-->
          <li>
            <a data-toggle="tab" href="#achievements">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24">
                  <g>
                    <path class="st0"
                      d="M8 16c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zM8 2C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6z">
                    </path>
                    <path class="st0"
                      d="M13 24c-.2 0-.4 0-.5-.1L8 21.2l-4.5 2.7c-.3.2-.7.2-1.1 0-.3-.2-.5-.6-.4-1l1.2-9.1c.1-.5.6-.9 1.1-.9.6.1 1 .6.9 1.1l-.9 7.1 3.2-1.9c.3-.2.7-.2 1 0l3.2 1.9-.9-7.1c-.1-.5.3-1 .9-1.1.5-.1 1.1.3 1.1.9l1.2 9.1c.1.4-.1.8-.4 1-.2 0-.4.1-.6.1z">
                    </path>
                  </g>
                </svg>
                <span>Achievements on Awards</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#partnerships">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="24">
                  <path
                    d="M25.8 10.5h-.2c-.2 0-.4-.1-.5-.2-2.2-1.8-4.2-3.8-6-5.9 0 0 0-.1-.1-.1-1-1.5 1-3.3 1.9-4 .4-.3 1.1-.3 1.4.2.3.4.3 1.1-.2 1.4-.6.5-1.2 1.1-1.4 1.5 1.6 1.8 3.3 3.5 5.2 5.1.3-.2.8-.7 1.2-1.2.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4-1 1.2-2 1.9-2.8 1.9z">
                  </path>
                  <path
                    d="M15.1 24c-.9 0-1.4-.2-2.4-1.2-1.1-1.1-6.6-6.8-6.8-7-.8-1-1.3-2.1-1.5-3.2v-.2c0-1.3-.1-1.6-.4-1.6-.5-.1-.8-.7-.7-1.2.2-.6.7-.9 1.3-.8 1.8.5 1.8 2.3 1.8 3.5.1.8.5 1.5 1 2.1 0 0 5.7 5.8 6.7 6.9.6.6.6.6 1.1.6h.5c.1 0 .3-.4.3-.6 0-.3.3-.6.6-.8.3-.1.7-.1.9 0 .3.2.8.3 1.1.1 0-.1 0-.3-.1-.4-.2-.4-.1-.8.2-1.1.3-.3.7-.4 1.1-.2.2.1.4 0 .6-.1 0 0 .1 0 .1-.1.1 0 .1-.1 0-.2-.3-.3-.3-.8-.1-1.1.2-.4.6-.5 1-.5.3.1.5 0 .8-.2 0-.1 0-.4-.1-.6-.5-.6-3-3.5-4-4.4-1.4-1.3-2-.9-2.2-.7-.2.2-.5.4-.7.6-1.3 1.1-3.4 2.9-5 1.3l-.2-.2c-.9-1.1-.8-2.7.2-3.6.1-.1 2.7-2.6 4.1-3.7 1.6-1.2 2.6-1 3.6-.8.1 0 .3.1.4.1.1 0 .7-.5 1.1-1 .3-.4 1-.5 1.4-.2.4.3.5 1 .2 1.4-.2.3-1.5 1.9-3 1.8-.3 0-.4-.1-.6-.1-.8-.2-1.1-.2-1.9.4-1.3 1.1-4 3.6-4 3.6-.3.2-.3.6-.1.8l.1.1c.2.2 1-.3 2.2-1.4.3-.3.6-.5.9-.7 1-.7 2.6-1.1 4.8.9 1.2 1.1 4.2 4.5 4.3 4.7 0 .1.1.1.1.2.3.6.7 2-.1 2.9l-.1.1c-.3.3-.7.5-1.2.7-.1.5-.3 1.1-.8 1.4l-.1.1c-.3.2-.6.4-1 .5-.1.7-.4 1.3-1.1 1.6h-.1c-.6.2-1.2.3-1.8.2-.4.7-1 1.2-1.9 1.2h-.4c0 .1-.1.1-.1.1z">
                  </path>
                  <path
                    d="M3.3 11.4c-.2 0-.5-.1-.7-.2l-2.3-2c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1L3.3 9l4.9-4.8L7 2.7c-.3-.4-.2-1.1.2-1.4.4-.3 1.1-.2 1.4.2l1.7 2.2c.3.4.3 1-.1 1.3L4 11.1c-.2.2-.4.3-.7.3z">
                  </path>
                  <path
                    d="M22.5 15.8c-.3 0-.6-.2-.8-.4-.3-.5-.2-1.1.3-1.4.5-.3.6-2 .6-2.9V11c.1-1.2.7-2.2 1.5-3 .4-.4 1-.3 1.4.1.4.4.3 1-.1 1.4-.5.4-.8 1-.9 1.7v.1c-.1 1.6-.3 3.6-1.5 4.4-.1 0-.3.1-.5.1z">
                  </path>
                  <path
                    d="M14.5 7.8c-.3 0-.6-.1-.8-.3-.3-.5-1.1-.5-2.5-.5-1.2 0-2.3-.5-3.1-1.5-.3-.4-.3-1 .2-1.4.4-.3 1.1-.3 1.4.1.4.5.9.8 1.5.8 1.6 0 3 0 4 1.1.4.4.3 1-.1 1.4-.1.2-.4.3-.6.3z">
                  </path>
                  <path
                    d="M17.1 22.5c-.3 0-.5-.1-.7-.3l-4.1-4.1c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l4.1 4.1c.4.4.4 1 0 1.4-.2.2-.5.3-.7.3z">
                  </path>
                  <path
                    d="M19.3 20.9c-.3 0-.5-.1-.7-.3l-4.1-4.5c-.4-.4-.3-1 .1-1.4.4-.4 1-.3 1.4.1l4.1 4.5c.4.4.3 1-.1 1.4-.2.2-.4.2-.7.2z">
                  </path>
                  <path
                    d="M21.4 19.2c-.3 0-.5-.1-.7-.3l-4.2-4.5c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l4.2 4.5c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z">
                  </path>
                </svg>
                <span>Partnerships</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#certifications">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24.5" height="21.7">
                  <g>
                    <path class="st0"
                      d="M18.5 16c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6zm0-10c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4z">
                    </path>
                    <path class="st0"
                      d="M14.9 21.7c-.2 0-.4-.1-.5-.2-.3-.2-.5-.6-.4-1l.9-6.5c.1-.5.6-.9 1.1-.9.5.1.9.6.9 1.1l-.6 4.5 1.8-1.1c.3-.2.7-.2 1 0l1.8 1.1-.6-4.5c-.1-.5.3-1.1.9-1.1.5-.1 1.1.3 1.1.9l.9 6.5c.1.4-.1.8-.4 1-.3.2-.7.2-1.1 0l-3.1-1.8-3.1 1.8c-.2.2-.4.2-.6.2zM10 18H2.3C1 18 0 16.9 0 15.7V2.3C0 1 1 0 2.3 0h19.4C23 0 24 1 24 2.3c0 .6-.4 1-1 1s-1-.4-1-1c0-.2-.1-.3-.3-.3H2.3c-.2 0-.3.1-.3.3v13.4c0 .1.1.3.3.3H10c.6 0 1 .4 1 1s-.4 1-1 1z">
                    </path>
                    <path class="st0" d="M11 7.5H4.9c-.6 0-1-.4-1-1s.4-1 1-1H11c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                    <path class="st0" d="M9.1 13.3H4.9c-.6 0-1-.4-1-1s.4-1 1-1h4.2c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                  </g>
                </svg>
                <span>Certifications</span>
              </h1>
            </a>
          </li>
          <!--Merging-->

          <span class="active-line" style="width: 144.063px; left: 0px;"></span>
        </ul>
        <!--Mobile Purpose starts here-->
        <div class="selected-tab dropdown-toggle visible-xs" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          <h1 class="title">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
              <g>
                <path
                  d="M15 22H3c-1.7 0-3-1.3-3-3V3c0-1.7 1.3-3 3-3h7c.3 0 .5.1.7.3l7 7c.2.2.3.4.3.7v11c0 1.7-1.3 3-3 3zM3 2c-.6 0-1 .4-1 1v16c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V8.4L9.6 2H3z">
                </path>
                <path d="M17 9h-7c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v6h6c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
              </g>
            </svg>
            <span>White Papers</span>
          </h1>
        </div>
        <ul class="nav nav-tabs responsive dropdown-menu">
          <li class="active">
            <a data-toggle="tab" href="#whitepapers">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path
                      d="M15 22H3c-1.7 0-3-1.3-3-3V3c0-1.7 1.3-3 3-3h7c.3 0 .5.1.7.3l7 7c.2.2.3.4.3.7v11c0 1.7-1.3 3-3 3zM3 2c-.6 0-1 .4-1 1v16c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V8.4L9.6 2H3z">
                    </path>
                    <path d="M17 9h-7c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v6h6c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                  </g>
                </svg>
                <span>White Papers</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#newsletter">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path class="st0"
                      d="M23 17.3H4.8c-2.7 0-4.8-2.2-4.8-4.8V2.7C0 1.2 1.2 0 2.7 0c1.5 0 2.7 1.2 2.7 2.7v11.2c0 .6-.4 1-1 1s-1-.4-1-1V2.7C3.3 2.3 3 2 2.7 2s-.7.3-.7.7v9.8c0 1.6 1.3 2.8 2.8 2.8s2.8-1.3 2.8-2.8V3.9c0-.6.4-1 1-1H23c.6 0 1 .4 1 1v12.4c0 .6-.4 1-1 1zm-14.3-2H22V4.9H9.7v7.6c0 1-.4 2-1 2.8z">
                    </path>
                    <path class="st0"
                      d="M21.6 4.9c-.6 0-1-.4-1-1V2H2.4c-.6 0-1-.4-1-1s.4-1 1-1h19.1c.6 0 1 .4 1 1v2.9c.1.5-.4 1-.9 1zM17 9.2h-4.8c-.6 0-1-.4-1-1s.4-1 1-1H17c.6 0 1 .4 1 1s-.4 1-1 1zM18.5 13h-6.2c-.6 0-1-.4-1-1s.4-1 1-1h6.2c.6 0 1 .4 1 1s-.5 1-1 1z">
                    </path>
                  </g>
                </svg>
                <span>News &amp; Press Release</span>
              </h1>
            </a>
          </li>
          <!--Merging-->
          <li>
            <a data-toggle="tab" href="#achievements">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path class="st0"
                      d="M8 16c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zM8 2C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6z">
                    </path>
                    <path class="st0"
                      d="M13 24c-.2 0-.4 0-.5-.1L8 21.2l-4.5 2.7c-.3.2-.7.2-1.1 0-.3-.2-.5-.6-.4-1l1.2-9.1c.1-.5.6-.9 1.1-.9.6.1 1 .6.9 1.1l-.9 7.1 3.2-1.9c.3-.2.7-.2 1 0l3.2 1.9-.9-7.1c-.1-.5.3-1 .9-1.1.5-.1 1.1.3 1.1.9l1.2 9.1c.1.4-.1.8-.4 1-.2 0-.4.1-.6.1z">
                    </path>
                  </g>
                </svg>
                <span>Achievements on Awards</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#partnerships">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path
                    d="M25.8 10.5h-.2c-.2 0-.4-.1-.5-.2-2.2-1.8-4.2-3.8-6-5.9 0 0 0-.1-.1-.1-1-1.5 1-3.3 1.9-4 .4-.3 1.1-.3 1.4.2.3.4.3 1.1-.2 1.4-.6.5-1.2 1.1-1.4 1.5 1.6 1.8 3.3 3.5 5.2 5.1.3-.2.8-.7 1.2-1.2.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4-1 1.2-2 1.9-2.8 1.9z">
                  </path>
                  <path
                    d="M15.1 24c-.9 0-1.4-.2-2.4-1.2-1.1-1.1-6.6-6.8-6.8-7-.8-1-1.3-2.1-1.5-3.2v-.2c0-1.3-.1-1.6-.4-1.6-.5-.1-.8-.7-.7-1.2.2-.6.7-.9 1.3-.8 1.8.5 1.8 2.3 1.8 3.5.1.8.5 1.5 1 2.1 0 0 5.7 5.8 6.7 6.9.6.6.6.6 1.1.6h.5c.1 0 .3-.4.3-.6 0-.3.3-.6.6-.8.3-.1.7-.1.9 0 .3.2.8.3 1.1.1 0-.1 0-.3-.1-.4-.2-.4-.1-.8.2-1.1.3-.3.7-.4 1.1-.2.2.1.4 0 .6-.1 0 0 .1 0 .1-.1.1 0 .1-.1 0-.2-.3-.3-.3-.8-.1-1.1.2-.4.6-.5 1-.5.3.1.5 0 .8-.2 0-.1 0-.4-.1-.6-.5-.6-3-3.5-4-4.4-1.4-1.3-2-.9-2.2-.7-.2.2-.5.4-.7.6-1.3 1.1-3.4 2.9-5 1.3l-.2-.2c-.9-1.1-.8-2.7.2-3.6.1-.1 2.7-2.6 4.1-3.7 1.6-1.2 2.6-1 3.6-.8.1 0 .3.1.4.1.1 0 .7-.5 1.1-1 .3-.4 1-.5 1.4-.2.4.3.5 1 .2 1.4-.2.3-1.5 1.9-3 1.8-.3 0-.4-.1-.6-.1-.8-.2-1.1-.2-1.9.4-1.3 1.1-4 3.6-4 3.6-.3.2-.3.6-.1.8l.1.1c.2.2 1-.3 2.2-1.4.3-.3.6-.5.9-.7 1-.7 2.6-1.1 4.8.9 1.2 1.1 4.2 4.5 4.3 4.7 0 .1.1.1.1.2.3.6.7 2-.1 2.9l-.1.1c-.3.3-.7.5-1.2.7-.1.5-.3 1.1-.8 1.4l-.1.1c-.3.2-.6.4-1 .5-.1.7-.4 1.3-1.1 1.6h-.1c-.6.2-1.2.3-1.8.2-.4.7-1 1.2-1.9 1.2h-.4c0 .1-.1.1-.1.1z">
                  </path>
                  <path
                    d="M3.3 11.4c-.2 0-.5-.1-.7-.2l-2.3-2c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1L3.3 9l4.9-4.8L7 2.7c-.3-.4-.2-1.1.2-1.4.4-.3 1.1-.2 1.4.2l1.7 2.2c.3.4.3 1-.1 1.3L4 11.1c-.2.2-.4.3-.7.3z">
                  </path>
                  <path
                    d="M22.5 15.8c-.3 0-.6-.2-.8-.4-.3-.5-.2-1.1.3-1.4.5-.3.6-2 .6-2.9V11c.1-1.2.7-2.2 1.5-3 .4-.4 1-.3 1.4.1.4.4.3 1-.1 1.4-.5.4-.8 1-.9 1.7v.1c-.1 1.6-.3 3.6-1.5 4.4-.1 0-.3.1-.5.1z">
                  </path>
                  <path
                    d="M14.5 7.8c-.3 0-.6-.1-.8-.3-.3-.5-1.1-.5-2.5-.5-1.2 0-2.3-.5-3.1-1.5-.3-.4-.3-1 .2-1.4.4-.3 1.1-.3 1.4.1.4.5.9.8 1.5.8 1.6 0 3 0 4 1.1.4.4.3 1-.1 1.4-.1.2-.4.3-.6.3z">
                  </path>
                  <path
                    d="M17.1 22.5c-.3 0-.5-.1-.7-.3l-4.1-4.1c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l4.1 4.1c.4.4.4 1 0 1.4-.2.2-.5.3-.7.3z">
                  </path>
                  <path
                    d="M19.3 20.9c-.3 0-.5-.1-.7-.3l-4.1-4.5c-.4-.4-.3-1 .1-1.4.4-.4 1-.3 1.4.1l4.1 4.5c.4.4.3 1-.1 1.4-.2.2-.4.2-.7.2z">
                  </path>
                  <path
                    d="M21.4 19.2c-.3 0-.5-.1-.7-.3l-4.2-4.5c-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0l4.2 4.5c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z">
                  </path>
                </svg>
                <span>Partnerships</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#certifications">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path class="st0"
                      d="M18.5 16c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6zm0-10c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4z">
                    </path>
                    <path class="st0"
                      d="M14.9 21.7c-.2 0-.4-.1-.5-.2-.3-.2-.5-.6-.4-1l.9-6.5c.1-.5.6-.9 1.1-.9.5.1.9.6.9 1.1l-.6 4.5 1.8-1.1c.3-.2.7-.2 1 0l1.8 1.1-.6-4.5c-.1-.5.3-1.1.9-1.1.5-.1 1.1.3 1.1.9l.9 6.5c.1.4-.1.8-.4 1-.3.2-.7.2-1.1 0l-3.1-1.8-3.1 1.8c-.2.2-.4.2-.6.2zM10 18H2.3C1 18 0 16.9 0 15.7V2.3C0 1 1 0 2.3 0h19.4C23 0 24 1 24 2.3c0 .6-.4 1-1 1s-1-.4-1-1c0-.2-.1-.3-.3-.3H2.3c-.2 0-.3.1-.3.3v13.4c0 .1.1.3.3.3H10c.6 0 1 .4 1 1s-.4 1-1 1z">
                    </path>
                    <path class="st0" d="M11 7.5H4.9c-.6 0-1-.4-1-1s.4-1 1-1H11c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                    <path class="st0" d="M9.1 13.3H4.9c-.6 0-1-.4-1-1s.4-1 1-1h4.2c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                  </g>
                </svg>
                <span>Certifications</span>
              </h1>
            </a>
          </li>
          <!--Merging-->
          <span class="active-line hidden-xs" style="width: 144.063px; left: 0px;"></span>
        </ul>
        <!--Mobile Purpose ends here-->
      </div>
    </div>
    <div class="card-inner">
      <div class="card-content">
        <div class="tab-content">
          <div id="whitepapers" class="tab-pane fade in active">

            <!-- <button class="btn btn-border btn-block add-btn">
                  <a href="javascript:void(0)"  data-toggle="modal" href="#WhitePaperModel">
                <span class="add add--green rounded">+</span>Add White Paper
              </a>
              <ng-container>
                  <input  type="file" #browse multiple (click)="browse.value = null" value="" (change)="getFileDetails($event)">
              </ng-container> 
              </button> -->

            <div style="text-align: end">
              <a href="javascript:void(0)" class="add-btn pr-0" data-toggle="modal" (click)="ClearThevalues()"
                href="#WhitePaperModel">
                <span class="add add--green rounded">+</span>
                <!-- <span>Add</span> -->
              </a>
              <span *ngIf="getcompanywhitepaper.length==0" >
                Add Whitepapers
              </span>
            </div>
            <div class="tab-inner scrollbar-inner">

              <ul class="achievements__list edit-delete-dropdown" *ngIf="getcompanywhitepaper.length>0" > 
                <li class="item text-center" *ngFor="let companywhitepaper of getcompanywhitepaper">
                  <div class="img-170">
                    <div class="dropdown card-dropdown">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20.7">
                          <path
                            d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"
                            fill="#448afa"></path>
                        </svg>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="javascript:void(0)" data-toggle="modal" href="#WhitePaperModel"
                            (click)="Edit(companywhitepaper)">Edit</a>
                        </li>
                        <li>
                          <a href="javascript:void(0)"
                            (click)="DeleteId(companywhitepaper?.CompanyWhitePaperId)">Delete</a>
                        </li>
                      </ul>
                    </div>

                    <img height="200" src="../../../../assets/images/file.svg" alt="">
                  </div>
                  <div>
                    <a href="javascript:void(0)" (click)="goToLink(companywhitepaper?.CompanyWhitePaper)">
                      <span>{{companywhitepaper?.Title}}</span>
                    </a>
                  </div>

                  <!-- <div class="actions">
                        <button class="btn btn-transparent no-padding" (click)="DeleteId(companywhitepaper?.CompanyWhitePaperId)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18.4" height="19.1">
                            <g>
                              <path d="M15.6 19.1H2.9c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v9.4h10.7V7.7c0-.6.4-1 1-1s1 .4 1 1v10.4c0 .6-.5 1-1 1zM17.4 5.2H1c-.6 0-1-.4-1-1s.4-1 1-1h16.4c.6 0 1 .4 1 1s-.4 1-1 1zM12.7 2H5.8c-.6 0-1-.4-1-1s.4-1 1-1h6.9c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                              <path d="M7.3 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.4 1.1-1 1.1zM11.2 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.5 1.1-1 1.1z"></path>
                            </g>
                          </svg>
                        </button>
                      </div> -->
                </li>
              </ul>
                <!--Empty Data Placeholder-->
  <div class="hint-text text-center" *ngIf="getcompanywhitepaper.length==0">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22">
      <g>
        <path
          d="M15 22H3c-1.7 0-3-1.3-3-3V3c0-1.7 1.3-3 3-3h7c.3 0 .5.1.7.3l7 7c.2.2.3.4.3.7v11c0 1.7-1.3 3-3 3zM3 2c-.6 0-1 .4-1 1v16c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V8.4L9.6 2H3z">
        </path>
        <path d="M17 9h-7c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v6h6c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
      </g>
    </svg>
    <h4>Provide Whitepapers of the company. It attracts Candidates to choose the Job.</h4>
  </div>
  <!--Empty Data Placeholder-->

            </div>
          </div>
          <div id="newsletter" class="tab-pane fade">
            <app-news></app-news>
          </div>
          <!--Merging-->
          <div id="achievements" class="tab-pane fade fade">
            <app-achievements></app-achievements>
          </div>
          <div id="partnerships" class="tab-pane fade">
            <app-partner></app-partner>
          </div>
          <div id="certifications" class="tab-pane fade">
            <app-certification></app-certification>
          </div>
          <!--Merging-->
        </div>
      </div>
    </div>
  </div> <!-- .card--benefits -->
</div>

<div Id="WhitePaperModel" class="modal fade news" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!---->
      <alert class="basic-info-alert"></alert>
      <div class="row">
        <div class="col-md-12 ">
          <div class="card card--other-info">
            <div class="card-header">
              <h1 class="title">
                <span>White Papers</span>
              </h1>
              <div class="layout layout--btn">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
            </div> <!-- .header -->

            <div class="row">
              <div class="col-md-12">
                <div class="card-inner">
                  <form>
                    <div class="form-group c-form-group">
                      <label class="title-lab">
                        Title
                      </label>
                      <input type="text" class="form-control" name="name" maxlength="20"   [(ngModel)]="name" placeholder="Title" />
                    </div>
                    <!-- <div class="form-group c-form-group">
                              <label class="title-lab">
                                Description
                              </label>
                              <input type="text" class="form-control" name="description" [(ngModel)]="description" placeholder="Description" />
                            </div> -->

                  </form>
                </div>

                <div class="scrollbar-inner bt-1-E0E3EF m-0">
                  <div class="card-inner placeholder">
                    <div class="card-content w-100">
                      <div class="culture-card file-upload-dashed w-100">
                        <div class="img-wrapper">
                          <!-- <button class="btn delete-btn t14-r20" (click)="Clear()">X</button>
                          
                              <img class="img-responsive" [src]="Src || 'https://via.placeholder.com/150'" id="profile" alt=""> -->
                        </div>
                        <div class="culture-card text-center pointer pt-1 w-100" (click)="photo.click()">
                          <input class="hidden" id="whitepapers_input" type="file" #photo (click)="photo.value = null"
                            value="" (change)="getFileDetails($event)">
                          <p class="file-label">Browse and Upload</p>
                          <img src="../../../../assets/images/upload-icon.svg" style="max-width:22px" alt="icon">
                        </div>
                        <p class="text-warning">* Upload PDF format only</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-12 p0-30">
                <div class="bt-1-E0E3EF mrl--15">
                  <a data-dismiss="modal" class="btn btn-filled btn-next pull-right mtb-5r-25"
                    (click)="uploadMultiple()" href="javascript:void(0)">Submit</a>

                </div>
              </div>

            </div>
            <!-- <div class="placeholder">
                <div class="flex-col">
                  <img src="../../../../assets/images/uploading-file.svg" style="max-width:32px" alt="icon">
                  <p>There are no Culture Images added</p>
                  <button class="btn green-btn  modalBtn" data-toggle="modal" data-target="#education">
                    <span>+</span>Add Images
                  </button>
  
                </div>
              </div> 
  
  
  
            </div> .card--other-info -->
          </div> <!-- .col-md-12 -->
        </div> <!-- .row -->

        <!---->
      </div>
    </div>
  </div>
</div>