<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="">
  <button type="button" class="close" mat-button mat-dialog-close data-dismiss="modal" aria-label="Close"><span
      aria-hidden="true">×</span></button>
  <h3 mat-dialog-title class="modal-title">Upload Profiles</h3>
</div>
<mat-dialog-content class="mat-typography vh-100 s-none" *ngIf="loaddata">
  <!--Tab View-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ptb-24">
    <div class="card manage-uploads clearfix">

      <div class="tab-content">
        <div id="uploadProfiles" class="tab-pane fade active in">
          <div class="upload-border">
            <div class="flex_items_center pointer" (click)="browse.click()">
              <div class="d-block">
                <i aria-hidden="true" class="fa fa-cloud-upload fa-5"></i>
                <div class="file">
                  <input matInput type="file" #browse multiple (click)="browse.value = null" value=""
                    (change)="getFileDetails($event)">
                </div>
                <div>Browse & Upload</div>
                <h5>Please upload maximum of 5 profiles </h5>
              </div>
            </div>
          </div>

          <!-- <div class="file btn btn-lg btn-primary"> -->
          <!-- Browse & Upload -->
          <!-- <input matInput type="file" #browse multiple (click)="browse.value = null" value="" (change)="getFileDetails($event)"> -->
          <!-- </div> -->


          <div class="d-flex justify-content-between mb-3 w-100">
            <div class="p-2 upload-input">
              <!-- <label class="radio checkbox">
                <input type="checkbox" class="radio-input" checked [(ngModel)]="emailCheck">
                <span class="radio-btn"></span>
                <span>Notify</span>
              </label>
              <label class="radio checkbox">
                <input type="checkbox" [(ngModel)]="isPublic" class="radio-input">
                <span class="radio-btn l11"></span>
                <span>Make it Public</span>
              </label> -->
            </div>

            <div class="p-2 upload-alerts">
              <a href="javascript:void(0)">
                <span class="alert-success">
                  Uploaded
                  <span class="badge badge-light">{{successCount}}</span>
                </span>
              </a>
              <a href="javascript:void(0)">
                <span class="alert-warning">
                  Issues
                  <span class="badge badge-light">{{issueCount}}</span>
                </span>
              </a>
            </div>
          </div>
          <!--Upload Profile alerts starts here-->
          <div class="uploaded-list">
            <div class="media uploaded-files" *ngFor="let data of tempuploadResponse; let i = index">
                <div class="profile-pic" *ngIf="data.UserProfilePictureUrl != null">
                    <img [src]="data.UserProfilePictureUrl" id="headerProfilePic" alt="" class="user-profile-pic">
                  </div>
              <!-- <img class="align-self-center mr-3" *ngIf="data.UserProfilePictureUrl == null" src="../../../../../assets/images/customer-parser-icon.svg" alt="parser"> -->
              <!--Parser Loader Status Icons/ Show & hide below image tags based on the conditions-->
              <div *ngIf="data.UserProfilePictureUrl == null">
              <img class="align-self-center mr-3" *ngIf="data.ResumeStatus == null"
                src="../../../../../assets/images/parser-loader.gif" alt="parser-loader">
              <img class="align-self-center mr-3" *ngIf="data.ResumeStatus != null && data.ResumeStatus != 'Successful'"
                src="../../../../../assets/images/parser-alert.svg" alt="parser-alert">
              <img class="align-self-center mr-3" *ngIf="data.ResumeStatus == 'Successful'"
                src="../../../../../assets/images/parser-success.svg" alt="parser-success">
                </div>
              <!--Parser Loader Status Icons-->
              <div class="media-body">
                <h3 class="m-0">{{data.FirstName}}&nbsp;{{data.LastName}}&nbsp;<span *ngIf="data.ResumeStatus != null">(Email:&nbsp;{{data.MailId}})</span></h3>
                <div class="progress h-5">
                 <div class="progress-bar progress-bar-info progress-bar-striped active"  *ngIf="data.ResumeStatus == null" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-warning  progress-bar-striped active" *ngIf="data.ResumeStatus != null
                 && data.ResumeStatus != 'Successful' && data.ResumeStatus != 'Error'
                  && data.ResumeStatus != 'ProfileAsscociated'" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-success  progress-bar-striped active"  *ngIf="data.ResumeStatus == 'Successful' 
                || data.ResumeStatus == 'ProfileAsscociated' || data.ResumeStatus == 'Arytic_prof'" [style.width.%]="profileStatus[i].percentage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-danger progress-bar-striped active"  *ngIf="data.ResumeStatus == 'Error'" [style.width.%]="profileStatus[i].percentage"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div *ngIf="data.ResumeStatus == null">
                  <p class="text-success m-0">{{profileStatus[i].text}}...</p>
                </div>
                <div *ngIf="data.ResumeStatus == 'Successful'">
                  <p class="text-success m-0">Profile Parsed and Uploaded Successfully!!!</p>
                </div>
                <div *ngIf="data.ResumeStatus == 'Error'">
                    <p class="text-danger m-0">Error in Parsing and Uploading Profile!!!</p>
                  </div>
                <div *ngIf="data.ResumeStatus == 'Associated'">
                  <p class="text-primary m-0">Already Associated for Same Job!!!</p>
                </div>
                <div *ngIf="data.ResumeStatus == 'Canceled'">
                  <p class="text-danger m-0">Profile is Skipped for Same Job!!!</p>
                </div>
                <div *ngIf="data.ResumeStatus == 'ProfileAsscociated'">
                  <p class="text-success m-0">Existing Profile is Associated for Other Job!!!</p>
                </div>
                <div *ngIf="data.ResumeStatus == 'Arytic_prof'">
                  <p class="text-success m-0"> Profile is Converted to Private and Associated for Same Job!!!</p>
                </div>
                <div *ngIf="data.ResumeStatus == 'Requested'">
                  <p class="text-primary m-0"> Profile is Requested and waiting for the Response!!!</p>
                </div>
                <!-- <div *ngIf="data.ResumeStatus == 'false'">
                  <p class="text-primary m-0">This is an arytic profile which cant be updated. Do you want to request
                    profile from Arytic?</p>
                  <div>
                    <a (click)="UploadAction(i,data,2)">
                      <span class="badge badge-light ptb-3rl-10">Send Request</span>
                    </a>
                    <a (click)="UploadAction(i,data,1)">
                      <span class="badge badge-light ptb-3rl-10">Make it private and Upload</span>
                    </a>
                  </div>
                </div> -->
                <div *ngIf="data.ResumeStatus == 'Other'">
                  <p class="text-danger m-0">Profile is already existed and submitted for other job. Do you want to
                    attach
                    or submit to this job?</p>
                  <a href="javascript:void(0)" (click)="UploadAction(i,data,1)">
                    <span class="badge badge-light ptb-3rl-10">Yes</span>
                  </a>
                  <a href="javascript:void(0)" (click)="CanceledAction(data,i)">
                    <span class="badge badge-light ptb-3rl-10">No</span>
                  </a>
                </div>
                <div *ngIf="data.ResumeStatus == 'Arytic'">
                  <p class="text-primary m-0">This is an arytic profile which cant be updated. Do you want to request
                    profile from Arytic?</p>
                  <a href="javascript:void(0)" (click)="UploadAction(i,data,3)">
                    <span class="badge badge-light ptb-3rl-10">Send Request</span>
                  </a>
                  <a href="javascript:void(0)" (click)="UploadAction(i,data,2)">
                    <span class="badge badge-light ptb-3rl-10">Make it private and Upload</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--Upload Profile alerts ends here-->


          <input type="hidden" id="jobId" [value]=data.JobId>
          <div class="col-md-12 manage-profiles-card" *ngIf="selectedFileNames.Count > 0">
            <ul class="list--empty">
              <li class="item" *ngFor="let fileName of selectedFileNames; let i = index">
                <div class="file-type">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.4" height="37">
                    <g>
                      <path
                        d="M25.5 37H1.9c-1 0-1.9-.8-1.9-1.9V1.9C0 .8.8 0 1.9 0H16c.6 0 1 .4 1 1v8.4h9.4c.6 0 1 .4 1 1v24.7c0 1.1-.9 1.9-1.9 1.9zM2 35h23.4V11.4H16c-.6 0-1-.4-1-1V2H2v33z">
                      </path>
                      <path
                        d="M26.4 11.4H15.9c-.6 0-1-.4-1-1V1c0-.4.2-.8.6-.9.4-.2.8-.1 1.1.2L27 9.7c.3.3.4.7.3 1.1-.2.4-.5.6-.9.6zm-9.5-2h6.8l-6.8-6.2v6.2z">
                      </path>
                      <path d="M10.1 2H4.6c-.6 0-1-.4-1-1s.4-1 1-1h5.5c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                      <path d="M21.8 31H5.6c-.6 0-1-.4-1-1s.4-1 1-1h16.2c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                      <path d="M21.8 27H5.6c-.6 0-1-.4-1-1s.4-1 1-1h16.2c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                      <path d="M21.8 23.1h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                      <path d="M21.8 19.1h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.5 1-1 1z"></path>
                      <path
                        d="M13.7 17.4v.1c-.1 0-.2 0-.3.1-.1 0-.1.1-.2.2l-.3.6-1.7 4.5H11l-1.3-3.5-1.5 3.5-1.8-4.4c-.2-.4-.3-.7-.4-.8-.1-.1-.2-.1-.4-.2v-.1H8v.1c-.2 0-.3 0-.4.1s-.1.1-.1.2.1.3.2.6L8.8 21l.8-2-.2-.6c-.1-.3-.2-.5-.3-.6-.1-.1-.1-.2-.2-.2s-.2-.1-.4-.1v-.1h2.6v.1h-.4c-.1 0-.1 0-.1.1v.1c0 .1.1.2.2.6l1 2.6.9-2.3c.1-.2.2-.4.2-.5v-.2c0-.1 0-.2-.1-.3-.1-.1-.2-.1-.4-.1v-.1h1.3z">
                      </path>
                    </g>
                  </svg>
                  <span> {{fileName}}</span>
                </div>
              </li>
            </ul>
          </div>
          <!--Empty View-->
          <div class="clearfix">&nbsp;</div>
          <!-- <div class="jumbotron">
              <p class="lead text-center">Uploaded Profiles will be shown here!</p>
            </div> -->
          <alert></alert>
          <!-- <h4>Uploaded Profiles will be shown here!</h4> -->
          <!--End of Empty View-->
        </div>
      </div>
      <!-- .tab-content -->
    </div>
    <!-- .card.statistics -->
  </div>
  <!--Tab View End-->
</mat-dialog-content>
<!--END-->