<div class="adv-filters row mrll0-tb8" style="display: block;">
    <div class="col-md-12">
        <div class="input-row row">
            <form action="">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="job-type">Location</label>
                        <form #form="ngForm" class="cls-rel">
                            <input class="form-control" autocomplete="off" type="text" [(ngModel)]="searchString" name="searchString" placeholder="Search" #searchText (keyup)="GetCity(searchText.value)">
                            <div class="searchList" *ngIf="SearchList.length>0">
                                <ul class="searchList-dropdown">
                                    <li class="searchList-options" *ngFor="let slist of SearchList" (click)="SetSearch(slist.CityName.split(',')[0])">{{slist.CityName.split(',')[0]}}</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="job-type">Experience</label>
                        <select name="view" id="view" (change)="changeExperience($event.target.value)" class="styled-select-box block">
                <option *ngFor="let exp of expYears" [value]="exp">{{exp}}</option>
            </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="job-type">Domain</label>
                        <select name="view" id="view" (change)="changeDomain($event.target.value)" class="styled-select-box block">
                <option *ngFor="let domain of domains" [value]="domain.DomainName">{{domain.DomainName}}</option>
            </select>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form-group">
                        <label for="job-type">client</label>
                        <form #form="ngForm" class="cls-rel">
                            <input class="form-control" autocomplete="off" type="text" [(ngModel)]="searchString" name="searchString" placeholder="Search" #searchText (keyup)="GetCity(searchText.value)">
                            <div class="searchList" *ngIf="SearchList.length>0">
                                <ul class="searchList-dropdown">
                                    <li class="searchList-options" *ngFor="let slist of SearchList" (click)="SetSearch(slist.CityName.split(',')[0])">{{slist.CityName.split(',')[0]}}</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div> -->
                <!-- <div class="col-md-4">
                    <div class="form-group">
                        <label for="job-type">department</label>
                        <select name="view" id="view" (change)="changeDomain($event.target.value)" class="styled-select-box block">
                <option *ngFor="let domain of domains" [value]="domain.DomainName">{{domain.DomainName}}</option>
            </select>
                    </div>
                </div> -->
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-border" (click)="updateDetailAdvanceSearch()">Cancel</button>
                    <button class="btn btn-filled" (click)="apply()">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>