.searchList {
    overflow: auto;
}

.searchList ul.searchList-dropdown {
    background-color: #fff;
    border: 1px solid #ebebeb;
    list-style: none;
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    margin-top: -2px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.searchList li.searchList-options {
    cursor: pointer;
    padding: 10px 10px;
}

.searchList li.searchList-options:hover,
.searchList li.searchList-options::selection {
    background-color: #ebf5ff;
}

.adv-filters .form-group .form-control {
    height: 50px !important;
    border: 1px solid #E0E3EF;
}

.adv-filters .form-group .control:focus {
    border-color: #b4bcd8;
}

.cls-rel {
    position: relative;
}

.searchList {
    position: absolute;
    width: 100%;
    z-index: 999;
    width: 100%;
    height: 70vh;
}

.mrll0-tb2 {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}