<div class="form-group job-title-group reporting-manager-group">
  <label for="" class="question">Reporting Manager <small>(Optional)</small></label>
  <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->
  <!-- <ng-select class="custom-style" [items]="managersList | async"
  placeholder="e.g. Bachelor of Computer Arts"
  bindLabel="FirstName"
  bindValue="UserId"
  [typeahead]="selectedUserInput"
  [hideSelected]="true"
  [loading]="usersloading"
  [virtualScroll]="true"
  [(ngModel)]="selectedItem"
  (change)="updateManager()"> -->
  <!-- <ng-select class="custom-style" [items]="reportingmanagersList | async"
  placeholder="Select Reporting Manager"
  bindLabel="FirstName"
  bindValue="UserId"  
  (change)="updateManager($event)"
  [typeahead]="selectedInput"
  [hideSelected]="true"
  [loading]="usersload"
  [(ngModel)]="selectedManager"
  [virtualScroll]="true">
</ng-select> -->

  <!--ACI-17-UI-Implementation-17-03-2020-->
  <div class="form-row row">
    <div class="col-md-9">
      <ng-select class="custom-style" [items]="reportingmanagers" placeholder="Type and Select"
        bindLabel="FirstName" bindValue="FirstName" (change)="updateManager($event)" [typeahead]="selectedInput"
        [hideSelected]="true"  [(ngModel)]="selectManager" [virtualScroll]="true"
        #reportingMngr="ngModel" name="reportingMgr">
      </ng-select>
    </div>
    <div class="col-md-1">
      <button class="btn add-btn form-control mt-0"  type="button" (click)="Add()">+</button>
    </div>

    <!--If Others-->
    <div class="col-md-1">
      <button class="btn add-btn form-control mt-0" (click)="ResetUser()"  type="button" data-toggle="modal" data-target="#othersdialog"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
    </div>
    <!---->
  </div>
  <!---->

  <!-- <ul class="data-list">
    <li *ngIf="selectedManager?.FirstName && selectedManager!=undefined &&  selectedManager?.FirstName.length > 0"> {{selectedManager.FirstName}} </li>
  </ul> -->
</div>
<div class="job-title-suggestions">
  <div class="checkbox" *ngFor="let  managers of suggestedManagers; let i = index">
    <label><span class="box" (click)="delete(i)">{{managers?.FirstName}}  x </span>  </label>
  </div>

</div>


<div class="form-group job-title-group reporting-manager-group">
  <label for="" class="question">What Immigration Status type you are looking for ?<small>(Optional)</small></label>
  <div class="form-row row">
    <div class="col-md-9">
      <ng-select class="custom-style" [items]="ImmigrationList" placeholder="Select Immigration"
        bindLabel="ImmigrationStatus" bindValue="ImmigrationStatusId" (change)="updateStatus($event)"
        [hideSelected]="true"  [(ngModel)]="selectStatus" [virtualScroll]="true"
        #Imsstatus="ngModel" name="Imsstatus">
      </ng-select>
    </div>
    <div class="col-md-1">
      <button class="btn add-btn form-control mt-0"  type="button"  (click)="AddStatus()">+</button>
    </div>   
  </div>
  <!---->

  <!-- <ul class="data-list">
    <li *ngIf="selectedManager?.FirstName && selectedManager!=undefined &&  selectedManager?.FirstName.length > 0"> {{selectedManager.FirstName}} </li>
  </ul> -->
</div>
<div class="job-title-suggestions">
  <div class="checkbox" *ngFor="let  ims of ImmigrationListData; let i = index">
    <label><span class="box" (click)="deleteIms(i)">{{ims?.ImmigrationStatus}}  x </span>  </label>
  </div>

</div>


<!--Manage Reporting manager Dialog 17-03-2020-->
  <div class="modal fade managereportingmanager" id="othersdialog" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Add Team Member</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="Addform" (ngSubmit)="SaveUser()">
            <div class="col-md-6 form-group p-rel">
                <input type="text" class="form-control" formControlName="FirstName"
                    placeholder="First Name *" minlength=3
                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
                    required>
                <div *ngIf="Addform.controls['FirstName'].invalid && (Addform.controls['FirstName'].dirty || Addform.controls['FirstName'].touched)"
                    class="error1">

                    <div *ngIf="Addform.controls['FirstName'].errors.required">
                        Required.
                    </div>

                    <div *ngIf="Addform.controls['FirstName'].errors.minlength">
                        Minimum 3 Characters allowed.
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-group p-rel">
                <input type="text" class="form-control" formControlName="LastName" minlength=3
                    placeholder="Last Name *"
                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 95 && event.charCode <= 122)"
                    required>
                <div *ngIf="Addform.controls['LastName'].invalid && (Addform.controls['LastName'].dirty || Addform.controls['LastName'].touched)"
                    class="error1">
                    <div *ngIf="Addform.controls['LastName'].errors.required">
                        Required.
                    </div>
                    <div *ngIf="Addform.controls['LastName'].errors.minlength">
                        Minimum 3 Characters allowed.
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-group p-rel">
                <input type="email" [pattern]="emailPattern" class="form-control"
                    placeholder="Work Email *" autocomplete="new-email"
                    formControlName="ContactEmail" required (keyup)="GetEmailValidate()"
                    id="semail">
                <div *ngIf="Addform.controls['ContactEmail'].invalid && (Addform.controls['ContactEmail'].dirty || Addform.controls['ContactEmail'].touched)"
                    class="error1">
                    <div *ngIf="Addform.controls['ContactEmail'].errors.required">
                        Required.
                    </div>
                    <div *ngIf="Addform.controls['ContactEmail'].errors.pattern">
                        Incorrect Email!.
                    </div>
                </div>
                <div *ngIf="show" class="error1">
                    Email already registered.
                </div>
            </div>
            <div class="col-md-6 form-group add-team-member">
                <select name="Value" id="view" class="styled-select-box w-100 "
                    (change)="PopulateRoles($event.target.value)" style="margin-top: 0px;">
                    <option default selected="selected" value=8>Hiring Leader</option>
                    <option value=6>Reporting Manager</option>
                </select>
            </div>
            <div class="col-md-12">
                <div class="d-flex  mb-3">
                    <div class="mr-auto p-2 ">
                        <!-- <label class="radio">
                                <div class="mt--13">
                                  <input disabled type="checkbox"  class="radio-input"   checked="checked"/>
                                  <span class="radio-btn"></span>
                                  Active
                                </div>
                              </label> -->
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="modal-footer">
          <button type="button" (click)="SaveUser()"  data-dismiss="modal"  aria-expanded="false" class="btn btn-filled box-shadow-none">Add</button>
          <button (click)="ResetUser()" class="btn btn-border"
              data-dismiss="modal"  aria-expanded="false"
              aria-controls="addUser">Cancel</button>
        </div>
      </div>
    </div>
  </div>






<!--Manage Reporting manager Dialog 17-03-2020-->