<div id="step3" class="tab-pane">
  <div class="tab-inner">
    <app-steps-step3-employmenttype (myEmploymentType)="changeEmploymentType()"> 
      
    </app-steps-step3-employmenttype>
   
    <div class="form-group contract-details-group" *ngIf="show">
        
        <!-- <button type="button" (click)="OpenScheduleInterviewDialog()">videoprofile</button> -->
      <label for="" class="question">Specifics of the Contract Job details? <small>(Optional)</small></label>
      <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->
      <app-steps-step3-contractduration></app-steps-step3-contractduration>
      <app-steps-step3-contractextension></app-steps-step3-contractextension>
    </div> 
    <app-salaryslider></app-salaryslider>
    <app-steps-step3-interviewtype></app-steps-step3-interviewtype>
    <app-steps-step3-recriuter></app-steps-step3-recriuter>
    <app-steps-step3-teammembers></app-steps-step3-teammembers>
    <app-steps-step3-reportingmanager></app-steps-step3-reportingmanager>

    <!-- <app-steps-step3-uploadvideoprofile></app-steps-step3-uploadvideoprofile> -->
    <div class="row pbt26-m10">
        <div class="col-md-12">
          <label for="" class="question">Video Sizzle <small>(Optional)</small></label>
          <p class="description">Transform Your Recruitment Process with Video Job Descriptions. 
          </p>
          <button class="btn btn-small"  (click)="OpenScheduleInterviewDialog()">Record & Upload</button>
        </div>
      </div>
  
  </div>
  <hr class="form-divider" />
  <div class="clearfix form-nav">
    <div class="pull-left">
      <div class="pull-right">
        <a href="#" class="btn btn-border btn-prev" (click)="backtoStep2()"  routerLink="/app-createajob/app-steps-step2">Back</a>
      </div>
    </div>
    <div class="pull-right">
        <a href="javascript:void(0)"  (click)="postJob(3,0)" *ngIf="jobIdExists>0" class="btn btn-border btn-prev">Save & Close</a>
        <a href="javascript:void(0)" (click)="postJob(3)"  class="btn btn-filled btn-next">Save & Next</a>
        <!-- routerLink="/app-createajob/app-steps-step4" -->
    </div>
  </div>
  <footer class="poj-footer" *ngIf="disable1==true" (scroll)="scrolling($event)"  [ngClass]="{'poj-footer': scroll}">
    <div class="container">
      <div class="text-center col-md-10">
        <a href="javascript:void(0)" (click)="postJob(3,0)" class="btn btn-border btn-prev">Save & Close</a>
        <a href="javascript:void(0)" (click)="postJob(3)" class="btn btn-filled btn-next">Save & Next</a>
      </div> 
    </div>
  </footer>
</div>