<div class="form-group domain-exp-group">
  <label for="domainquestion" class="question">Which domain/(s) is the project into? <small>(Optional)</small></label>
  <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->
  <form #domainForm="ngForm" (ngSubmit)="addDomain()">
    <div class="form-row row">
      <div class="col-md-6 form-group skill-name">
        <label for="">Domain Name</label>
        <ng-select class="custom-style" id="domainquestion" [items]="domains | async" placeholder="e.g. Telecom"
          (change)="changeValue($event)" bindLabel="DomainName" bindValue="DomainId" [typeahead]="selecteddomaininput"
          [hideSelected]="true" [loading]="domaintitleloading" [(ngModel)]="selecteddomainname" #DomainName="ngModel"
          name="Domain" required [virtualScroll]="true">
        </ng-select>
        <small class="text-danger error1" *ngIf="DomainName.invalid && DomainName.touched && DomainName.dirty">Required.</small>
        <!-- (data)="refreshValue($event)"
          (selected)="selected($event)"
          (removed)="removed($event)"
          (typed)="typed($event)" -->
      </div>
      <!-- <div class="form-group exp col-md-2">
        <label for="" class="mr-0">Min Experience</label>
        <ng-select class="custom-style" [items]="expYears" (change)="getExpYears()" [hideSelected]="true" placeholder="Min"
          bindLabel="minExperience"  #MinDomainEpx="ngModel" name="MinDomain" [(ngModel)]="MinimumExperience">
        </ng-select>
        <small class="text-danger" *ngIf="MinDomainEpx.value > MaxDomainEpx.value">
          It can't be greater than Max Experience!
        </small>
      </div>
      <div class="form-group exp col-md-2 mr-20">
        <label for="" class="mr-0">Max Experience</label>
        <ng-select class="custom-style" [items]="expYears" (change)="getExpYears()" [hideSelected]="true" placeholder="Max"
          bindLabel="name" #MaxDomainEpx="ngModel" name="MaxDomain" [(ngModel)]="MaximumExperience">
        </ng-select>
        <small class="text-danger" *ngIf="MinDomainEpx.value > MaxDomainEpx.value">
          It can't be less than Min Experience!
        </small>
      </div> -->
      <div class="form-group exp col-md-4">
          <label for="">Required Experience</label>
      <ng5-slider [(value)]="MinimumExperience"
                            [(highValue)]="MaximumExperience"
                            [options]="options"
                            (userChangeStart)="minExperienceChangeStart($event)"
                            (userChange)="onExperienceChange($event)"
                            (userChangeEnd)="maxExperienceChangeEnd($event)"
                            name="hourly"> 
                        </ng5-slider> 
      </div>
        <button class="btn add-btn form-control mt-29" [disabled]="!domainForm.valid" type="submit">+</button>
      
    </div>
  </form>
</div>
<div class="lists row">
  <div class="col-md-12" *ngIf="domainlist.length>0">
    <p class="description">Domain</p>
    <ul class="data-list">
      <li class="col-md-6 no-exp" *ngFor="let domain of domainlist; let i = index">
        <span class="name">{{domain.DomainName}}</span>
        <span class="experience"> {{(domain.MinimumExperience) | number:'1.0-1' | skillmonths}} - {{(domain.MaximumExperience) | number:'1.0-1'| skillmonths}} Yrs</span>
        <span class="close" (click)="deleteDomain(i)">&times;</span>
      </li>
    </ul>
  </div>
</div>