<div class="form-group responsibility-group">
    <label for="" class="question">What are the Responsibilities that you are looking for in the candidate? <small>(Optional)</small></label>
    <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->

    <div class="form-row row">
        <form (ngSubmit)="AddRoles()" #rolesForm="ngForm">
            <div class="col-md-9">
                <div class="p-rel">
                    <!-- <input id="responsibility" type="text" class="form-control ui-autocomplete-input" name="benefits" placeholder="Add more responsibilities"
        [(ngModel)]="responsibilities"> -->

                    <input class="form-control" autocomplete="off" type="text" required [(ngModel)]="responsibilities" name="resposibilities" #responsibility="ngModel" minlength="1" id="responsibilitiesName" (keyup)="GetTitleRoles()" placeholder="Type and Select"
                        required>
                    <!-- {{responsibility.value.length}}  
           {{responsibilities.length}}
           {{responsibility.value}} -->
                    <div class="searchList l0 " *ngIf="roleJobTitleList!=null">
                        <ul class="searchList-dropdown mb-0">
                            <li class="searchList-options" *ngFor="let roleTitle of roleJobTitleList" (click)="SetRoleValue(roleTitle)">{{roleTitle.RolesAndResponsibilities}}</li>
                        </ul>
                    </div>
                    <small class="text-danger error1" *ngIf="responsibility.invalid && responsibility.touched && responsibility.dirty">Required.</small>
                    <!-- <div *ngIf="responsibility.touched">
              <div *ngIf="responsibility.errors && (responsibility.dirty)" class="alert alert-danger">
                <div [hidden]="!responsibility.errors.required">
                 expereince required.
                </div>
                <div *ngIf="responsibility.errors.minlength">
                  Please select min experience
                </div>
              </div>
            </div> -->
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn add-btn form-control" [disabled]="!rolesForm.valid" type="submit">+</button>
                <button class="btn add-btn form-control btn-b ml-20" (click)="OpenResponsibilityDialog()"><i class="fa fa-copy"></i></button>
            </div>
        </form>
    </div>
    <ul class="responsibility-list" dragula="responsibilitieslist" [dragulaModel]="responsibilitieslist"  (dragulaModelChange)="onChange($event)">
        <li *ngFor="let responsibility of responsibilitieslist; let i = index">
            <label for="{{responsibility.RoleId}}" class="radio">
        <div>
          <input type="checkbox" (change)="changeRoles($event)" [ngModel]="responsibility.RoleId" class="radio-input" />
          <span class="radio-btn"></span>
        </div>
        <span [class.spinner]="loading">{{responsibility.Role}}</span>
        <span class="close" (click)="deleteResponsibility(i)">&times;</span>
      </label>
        </li>
    </ul>
    <!-- <div class="lists row">
    <div class="col-md-6">
      <h4 for="" class="light">Responsibilities</h4>
      <ul class="data-list">
        <li *ngFor="let responsibility of responsibilitieslist; let i = index">
          <span class="name">{{responsibility}}</span>
          <span class="close" (click)="deleteResponsibility(i)">&times;</span>
        </li>
      </ul>
    </div>
  </div> -->
</div>