<div class="form-group education-group">
  <label for="PreferredEducation" class="question">Preferred Education criteria? <small>(Optional)</small></label>
  <!-- <p class="description">Share details so we can find you the most eligible candidates.</p> -->
  <div class="row">
     <form #eduForm="ngForm" (ngSubmit)="addQualification()">
    <div class="col-md-5 col-sm-5">
        <ng-select class="custom-style" id="PreferredEducation" [items]="qualifications | async"
                   placeholder="Type and Select"
                   bindLabel="QualificationName"
                   bindValue="QualificationId"
                   (ngModelChange)="getSelectedOptionText($event)"
                   [typeahead]="selectedqualificationinput"
                   [hideSelected]="true"
                   [loading]="qualificationtitleloading"
                   [(ngModel)]="selectedqualificationName"
                   [virtualScroll]="true"
                   #Education="ngModel"
                   name="selectedqualificationName">
        </ng-select>
        <small class="text-danger" *ngIf="other.value === null && Education.touched">Required.</small>
    </div>
    <div class="col-md-5 col-sm-5">
      <input type="text" class="form-control mt-0" #other="ngModel" name="education" [(ngModel)]="newQualification" (ngModelChange)="updateQualification($event)" placeholder="Other">
      <small class="text-danger" *ngIf="Education.value === null && other.invalid && other.touched">Required.</small>
      <!-- <small class="text-danger" *ngIf="Education.invalid && Education.touched">Qualification is required.</small> -->

    </div>
    <div class="col-md-2 col-sm-2">
      <button class="btn add-btn form-control mt-0" type="submit">+</button>
    </div>
  </form>
    </div>
  </div>

  <div class="lists row">
    <div class="col-md-12" *ngIf="qualificationList.length>0">
      <p class="description">Qualifications</p>
      <ul class="data-list">
        <li class="col-md-5 no-exp" *ngFor="let qualifications of qualificationList; let i = index">
          <span title="{{qualifications.QualificationName}}" class="name">{{ add3Dots(qualifications.QualificationName,25) }}</span>
          <span class="close" (click)="deleteQualifications(i)">&times;</span>
        </li>
      </ul>
    </div>
  </div>
  
  <!--<div class="form-group domain-exp-group">
   <label for="" class="question">Are you seriously considering that the candidate have the required domain experience? <small>(Optional)</small></label>
    <p class="description">Share details so we can find you the most eligible candidates.</p> 
    <div class="clearfix">
      <label for="yes" class="radio">
        <input type="radio" id="yes" name="domain-exp" class="radio-input" />
        <span class="radio-btn"></span>
        <span>Yes</span>
      </label>
      <label for="no" class="radio">
        <input type="radio" id="no" name="domain-exp" class="radio-input" />
        <span class="radio-btn"></span>
        <span>No</span>
      </label>
      </div>
    </div>-->
