<header class="main-nav">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand">
                <a routerLink="/app-dashboardview" routerLinkActive="active">
                  <!-- <img src="/assets/images/logo.png" alt="Tenendus" title="Tenendus"> -->
                  <!-- <img src="/assets/images/Tenendus-Logo-1.png" alt="Tenendus" title="Tenendus"> -->
                  <img src="/assets/images/arytic-logo-2019.png" alt="Arytic Logo" title="Arytic Logo">
                </a>
              </div>
            </div>
            <div class="navbar-collapse navbar-left page-nav collapse" id="navbar2">
              <ul class="nav navbar-nav">
                  <li role="presentation" routerLinkActive="active" [ngClass]="{'pointer-events-none': active === true}" *ngIf="customer?.AccessDetails?.Dashboard==true">
                      <a routerLink="/app-dashboardview">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19px" height="19px" viewBox="0 0 21 21">
                          <g id="nav-icon">
                            <circle cx="9.5" cy="9.5" r="9.5" transform="translate(1 1)" />
                            <path d="M14.2 6.9l-2 5.3-5.3 2 2-5.3z" />
                          </g>
                        </svg>
                        <span>Dashboard</span>
                      </a>
                    </li>
                <li  role="presentation" routerLinkActive="active" id="activepostjob" (click)="changetheactive(2)" [ngClass]="{'active': postactive === true}" *ngIf="customer?.AccessDetails?.PostAJob==true">
                  <a routerLink="/app-postajob" [ngClass]="{'pointer-events-none': active === true}">
                    <svg width="19.92px" height="17.3px" viewBox="0 0 21.925 19.3">
                      <g id="post-icon">
                        <path transform="translate(6.8 10.1)" d="M0 0h8.8" />
                        <path transform="translate(11.5 13.6)" d="M0 0h4.1" />
                        <path d="M20.3 18.3H1.7a.684.684 0 0 1-.7-.7V4.3a.684.684 0 0 1 .7-.7h18.5a.684.684 0 0 1 .7.7v13.2a.641.641 0 0 1-.6.8z" />
                        <circle cx="2.6" cy="2.6" r="2.6" fill="#ffffff" transform="translate(8.9 1)" stroke-linecap="round"
                          stroke-miterlimit="10" stroke-width="2" />
                      </g>
                    </svg>
                    <span>Post a job</span>
                  </a>
                </li>
                <li role="presentation" routerLinkActive="active" id="activeMyjob"   [ngClass]="{'active': jobsactive === true}" (click)="changetheactive(1)"  *ngIf="customer?.AccessDetails?.ManageJob==true"> 
                  <a routerLink="/app-manage-jobs" [ngClass]="{'pointer-events-none': active === true}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="15.3px" viewBox="0 0 22 17.3">
                      <g id="briefcase-icon">
                        <path d="M19.8 16.3H2.2A1.155 1.155 0 0 1 1 15.1V2.2A1.155 1.155 0 0 1 2.2 1h17.6A1.155 1.155 0 0 1 21 2.2v12.9a1.155 1.155 0 0 1-1.2 1.2z" />
                        <path d="M21 4.6a3.159 3.159 0 0 1-3.2 3.2H4.2A3.222 3.222 0 0 1 1 4.6" />
                        <path transform="translate(9.5 10.8)" d="M3 0H0" />
                      </g>
                    </svg>
                    <span>Manage Jobs</span>
                  </a>
                </li>
             
                <li role="presentation" routerLinkActive="active" *ngIf="customer?.AccessDetails?.CompanyProfile==true">
                  <a routerLink="/app-companyprofile" [ngClass]="{'pointer-events-none': active === true}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="15.3px" viewBox="0 0 22 17.3">
                      <g id="briefcase-icon">
                        <path d="M19.8 16.3H2.2A1.155 1.155 0 0 1 1 15.1V2.2A1.155 1.155 0 0 1 2.2 1h17.6A1.155 1.155 0 0 1 21 2.2v12.9a1.155 1.155 0 0 1-1.2 1.2z" />
                        <path d="M21 4.6a3.159 3.159 0 0 1-3.2 3.2H4.2A3.222 3.222 0 0 1 1 4.6" />
                        <path transform="translate(9.5 10.8)" d="M3 0H0" />
                      </g>
                    </svg>
                    <span>Company Profile</span>
                  </a>
                </li>
       
              </ul>
            </div>
            <!--/.nav-collapse -->
            
            <ul class="nav navbar-nav pull-right navbar-right user-options">
                <!--Upgrade Now Alert starts-->
                <li class="text-danger hidden-xs" routerLinkActive="active" *ngIf="customer?.AccessDetails?.Subscription==true">
                  <a class="upgrade-now" href="Javascript:void(0)" routerLink="/app-accountsettings/app-billing-and-payments" title="Upgrade Now">
         
                      <ng-container *ngIf="sdetails?.planId=='trial'">
                        <ng-container *ngIf="daysRemaining>0">
                          <p class="text-right">
                            Your free trial is going to expire in <strong>{{daysRemaining}}</strong>  days, <br>Upgrade now!
                          </p>
                        </ng-container>
                        <ng-container *ngIf="daysRemaining==0">
                          Your Free trial has been expired. Please Renew Now!
                        </ng-container>                      
                      </ng-container>
                      <ng-container *ngIf="sdetails?.planId=='starterdirect'">
                        <ng-container *ngIf="daysRemaining>0">
                         <p class="text-right">
                          Your Starter Plan is Payment Due in  <strong>{{daysRemaining}}</strong>  days, <br>Renew Now!
                         </p>
                        </ng-container>
                        <ng-container *ngIf="daysRemaining==0">
                          <p class="text-right">
                            Your Starter Plan is Payment Due, Renew Now!
                          </p>
                        </ng-container>             
                      </ng-container>
                      <ng-container *ngIf="sdetails?.planId=='basicdirect'">
                      <ng-container *ngIf="daysRemaining>0">
                        <p class="text-right">
                          Your Basic Plan is Payment Due in  <strong>{{daysRemaining}}</strong>  days, <br>Renew Now!
                        </p>
              
                      </ng-container>
                      <ng-container *ngIf="daysRemaining==0">
                        <p class="text-right">
                          Your Basic Plan is Payment Due, Renew Now!
                        </p>
                      </ng-container>
                       </ng-container>
                       <ng-container *ngIf="sdetails?.planId=='growthdirect'">
                        <ng-container *ngIf="daysRemaining>0">
                          <p class="text-right">
                            Your Growth Plan is Payment Due in   <strong>{{daysRemaining}}</strong>  days, <br>Renew Now!
                          </p>
                        </ng-container>
                        <ng-container *ngIf="daysRemaining==0">
                          <p class="text-right">
                            Your Growth Plan is Payment Due, Renew Now!
                        </p>
                        </ng-container>
                     
                       </ng-container>
                                    
                  </a>
                  </li>
                <!---->
      
              <!-- <li class="user-option hidden-xs hidden-sm hidden-md ">
                <a href="Javascript:void(0)" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="-767.4 -2940.5 27.314 27.414">
                    <g id="search-lg-icon" transform="translate(-2103 -2975)">
                      <circle cx="10.1" cy="10.1" r="10.1" transform="translate(1336.6 35.5)" />
                      <path transform="translate(1353.8 52.8)" d="M0 0l7.7 7.7" />
                    </g>
                  </svg>
                </a>
              </li> -->
              <!-- <li class="user-option hidden-xs hidden-sm hidden-md ">
                <a href="Javascript:void(0)"  >
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                    x="0px" y="0px" width="23.2px" height="24px" viewBox="0 0 23.2 24" style="enable-background:new 0 0 23.2 24;"
                    xml:space="preserve" class="icon">
                    <g>
                      <g>
                        <path class="st0" d="M22.2,15c0,1.4-1.1,2.5-2.5,2.5h-7.6L6.8,23v-5.5H3.5C2.1,17.5,1,16.4,1,15V3.5
                                C1,2.1,2.1,1,3.5,1h16.3c1.4,0,2.5,1.1,2.5,2.5V15z"></path>
                      </g>
                      <line class="st0" x1="6.6" y1="6.9" x2="16.6" y2="6.9"></line>
                      <line class="st0" x1="6.6" y1="11.4" x2="11.9" y2="11.4"></line>
                    </g>
                  </svg>
                </a>
              </li> -->
              <!-- <li class="user-option hidden-xs hidden-sm hidden-md ">
                <a href="Javascript:void(0)"  routerLink="/app-notifications" routerLinkActive="active">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                    x="0px" y="0px" width="21.1px" height="24px" viewBox="0 0 21.1 24" style="enable-background:new 0 0 21.1 24;"
                    xml:space="preserve" class="icon">
                    <g>
                      <path class="st0" d="M10.6,1C6.7,1,3.6,4.1,3.6,8h0v5.8c0,0.3-0.1,0.5-0.3,0.8l-2.1,2.7C0.7,18,1.2,19,2.1,19H19
                            c0.9,0,1.4-1,0.9-1.7l-1.9-2.6c-0.2-0.2-0.2-0.5-0.2-0.7V8.4C17.7,4.3,14.8,1,10.6,1z"></path>
                      <polyline class="st0" points="12.2,23 12.2,23 8.9,23 	"></polyline>
                    </g>
                  </svg>
                </a>
              </li>
       -->
              <li class="dropdown">
                <a href="Javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <div class="profile-pic">
                    <img src="https://ui-avatars.com/api/?name={{this.customer?.FirstName}}+{{this.customer?.LastName}}" id="headerProfilePic" alt="" class="img-circle">
                  </div>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="7.25px" viewBox="-492.7 -2932.5 11.5 6.8">
                      <path id="down-chevron-sm" class="cls-1" d="M303.8,369l4.8,4.8,4.7-4.7" transform="translate(-795.5 -3300.5)" />
                    </svg>
      
                  </span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <!-- <ul>
                      <li class="user-option hidden-md hidden-lg">
                        <a href="Javascript:void(0)" >
                          <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="-767.4 -2940.5 27.314 27.414">
                            <g id="search-lg-icon" transform="translate(-2103 -2975)">
                              <circle cx="10.1" cy="10.1" r="10.1" transform="translate(1336.6 35.5)" />
                              <path transform="translate(1353.8 52.8)" d="M0 0l7.7 7.7" />
                            </g>
                          </svg>
                        </a>
                      </li>
                      <li class="user-option hidden-md hidden-lg">
                        <a href="Javascript:void(0)" >
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="23.2px" height="24px"
                            viewBox="0 0 23.2 24" style="enable-background:new 0 0 23.2 24;" xml:space="preserve" class="icon">
                            <g>
                              <g>
                                <path class="st0" d="M22.2,15c0,1.4-1.1,2.5-2.5,2.5h-7.6L6.8,23v-5.5H3.5C2.1,17.5,1,16.4,1,15V3.5
                                          C1,2.1,2.1,1,3.5,1h16.3c1.4,0,2.5,1.1,2.5,2.5V15z"></path>
                              </g>
                              <line class="st0" x1="6.6" y1="6.9" x2="16.6" y2="6.9"></line>
                              <line class="st0" x1="6.6" y1="11.4" x2="11.9" y2="11.4"></line>
                            </g>
                          </svg>
                        </a>
                      </li>
                      <li class="user-option hidden-md hidden-lg">
                        <a routerLink="/app-notifications" routerLinkActive="active">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="21.1px" height="24px"
                            viewBox="0 0 21.1 24" style="enable-background:new 0 0 21.1 24;" xml:space="preserve" class="icon">
                            <g>
                              <path class="st0" d="M10.6,1C6.7,1,3.6,4.1,3.6,8h0v5.8c0,0.3-0.1,0.5-0.3,0.8l-2.1,2.7C0.7,18,1.2,19,2.1,19H19
                                      c0.9,0,1.4-1,0.9-1.7l-1.9-2.6c-0.2-0.2-0.2-0.5-0.2-0.7V8.4C17.7,4.3,14.8,1,10.6,1z"></path>
                              <polyline class="st0" points="12.2,23 12.2,23 8.9,23 	"></polyline>
                            </g>
                          </svg>
                        </a>
                      </li>
                    </ul> -->
                  </li>
                  <li *ngIf="customer?.AccessDetails?.Subscription==true">
                    <a href="Javascript:void(0)"  routerLink="/app-accountsettings/app-billing-and-payments" routerLinkActive="active">
                      <div>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="21.6px" height="21.7px"
                          viewBox="0 0 21.6 21.7" style="enable-background:new 0 0 21.6 21.7;" xml:space="preserve" class="icon">
                          <g>
                            <defs>
                              <rect id="SVGID_1_" width="21.6" height="21.7"></rect>
                            </defs>
                            <clipPath id="SVGID_2_">
                              <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
                            </clipPath>
                            <circle class="st0" cx="16.2" cy="13.8" r="1.3"></circle>
                            <path class="st0" d="M18.1,5.7h-9H2.9C1.9,5.7,1,6.4,1,7.3V6.5c0-0.9,0.7-1.9,1.7-2.1l5.9-1.6L15.7,1c1-0.3,2,0.5,2,1.5v0.7"></path>
                            <path class="st0" d="M20.6,7.3V19c0,0.9-0.9,1.7-1.9,1.7H2.9C1.9,20.7,1,19.9,1,19V7.3c0-0.9,0.9-1.7,1.9-1.7h15.8
                                C19.8,5.7,20.6,6.4,20.6,7.3z"></path>
                          </g>
                        </svg>
                        Manage Payment
                      </div>
                    </a>
                  </li>
                  <li *ngIf="customer?.AccessDetails?.AccountSetting==true">
                    <a routerLink="/app-accountsettings" routerLinkActive="active">
                      <div>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="19.8px" height="19.7px"
                          viewBox="0 0 19.8 19.7" style="enable-background:new 0 0 19.8 19.7;" xml:space="preserve" class="icon">
                          <g>
                            <defs>
                              <rect id="SVGID_1_" width="19.8" height="19.7"></rect>
                            </defs>
                            <clipPath id="SVGID_2_">
                              <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
                            </clipPath>
                            <path class="st0" d="M14.5,18.7H4.8c-0.2,0-0.4-0.2-0.4-0.4V4.6c0-0.2,0.2-0.4,0.4-0.4h13.6c0.2,0,0.4,0.2,0.4,0.4v10.2"></path>
                            <path class="st0" d="M1,15.3V1.4C1,1.2,1.2,1,1.4,1h13.6"></path>
                            <line class="st0" x1="10.7" y1="11" x2="16.2" y2="11"></line>
                            <line class="st0" x1="8.4" y1="14.4" x2="11.4" y2="14.4"></line>
                            <line class="st0" x1="8.2" y1="7.7" x2="13.8" y2="7.7"></line>
                            <line class="st0" x1="14.5" y1="18.7" x2="18.8" y2="14.8"></line>
                          </g>
                        </svg>
                        Manage Account
                      </div>
                    </a>
                  </li>
                  <li>
                    <a (click)="Logout()">
                      <div>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                          y="0px" width="21.2px" height="19.2px" viewBox="0 0 21.2 19.2" style="enable-background:new 0 0 21.2 19.2;"
                          xml:space="preserve" class="icon">
                          <g>
                            <defs>
                              <rect id="SVGID_1_" width="21.2" height="19.2"></rect>
                            </defs>
                            <clipPath id="SVGID_2_">
                              <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
                            </clipPath>
                            <path d="M13.3,4.9V3.3C13.3,2,12.2,1,11,1H3.3C2,1,1,2,1,3.3v12.6c0,1.3,1,2.3,2.3,2.3H11c1.3,0,2.3-1,2.3-2.3v-1.6"></path>
                            <polyline points="16.8,13.1 20.2,9.6 16.8,6"></polyline>
                            <line x1="20.1" y1="9.6" x2="7" y2="9.6"></line>
                          </g>
                        </svg>
                        Logout
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <!--/.nav-collapse -->
          </div>
          <!--/.container-fluid -->
        </nav>
      </header>