<app-Logoheader></app-Logoheader>

<!--JobPost Draft-->

<body class="page page--manage-jobs">
    <main>
        <div class="container">
            <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate">
                <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            <div class="filters">

                <div class="col-md-12">
                    <a class="btn btn-border btn-lg" (click)='back()'>Back</a>
                </div>
                <div class="clearfix">&nbsp;</div>
                
                <ng-container *ngIf="drafts?.length>0;else Nodrafts">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let job of draft">
                        <div class="card" *ngIf="job!=null">
                            <div class="dropdown card-dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20.7">
                    <path d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"
                        fill="#448afa" />
                </svg>
            </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a (click)="editJob(job.JobId)">Edit</a>
                                    </li>
                                    <li>
                                        <a (click)=" DeleteDraft(job.JobId)">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <a>
                                <header>
                                    <h3 class="medium">{{job.JobTitle | slice:0:30}}</h3>
                                    <div class="meta h-19">
                                        <svg class="draft-loc" *ngIf="job.JobLocations!=null" fill="#93a2bb" xmlns="http://www.w3.org/2000/svg" width="19" height="19.3">
                        <path class="st0" d="M8 19.3l-.6-.4c-.3-.2-7.5-5-7.5-10.9 0-4.4 3.6-8 8-8s8 3.6 8 8c0 5.9-7.1 10.7-7.4 10.9l-.5.4zM8 2C4.7 2 2 4.7 2 8c0 4 4.4 7.7 6 8.9 1.6-1.2 6-4.9 6-8.9 0-3.3-2.7-6-6-6z" />
                        <path class="st0" d="M8.1 11.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3s3.3 1.5 3.3 3.3c0 1.8-1.5 3.3-3.3 3.3zm0-4.6c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3S9.4 8.7 9.4 8s-.6-1.3-1.3-1.3z" />
                    </svg>
                                        <h5 class="location draft-loc">{{job?.JobLocations}}</h5>
                                        <h5 class="draft-loc">{{job?.PostedOn}}</h5>
                                    </div>
                                </header>
                                <div class="card-footer">
                                    <img src="{{job?.ProfilePic}}" alt="Avatar" class="ui-pic" width="50">
                                    <h3>{{job?.FirstName}} {{job?.LastName}}</h3>
                                    <h5 class="meta">{{job?.UserRole}}</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ng-container *ngIf='draft?.length>5'>
                        <button *ngIf="isFullDisplayed == false" class="load-more btn btn-border btn-block" (click)="getData()">
    Load More
  </button>
                    </ng-container>
                </ng-container>
                <ng-template #Nodrafts>
                    <div style="text-align: center;">
                        <h4>No Drafts!</h4>
                    </div>
                </ng-template>
            </div>
        </div>
    </main>
</body>
<!--Endof JobPost draft-->