<app-Logoheader></app-Logoheader>
<main class="page page--job-details">
    <div class="container">
        <div>
            <div class="selected-job card">
                <header>
                    <div class="left">
                        <div class="flex va">
                            <a (click)="backClicked()">
                                <svg fill="#448AFA" xmlns="http://www.w3.org/2000/svg" width="21.1" height="16.7">
                                    <path class="st0"
                                        d="M8.4 16.7a.9.9 0 0 1-.7-.3L.3 9.1c-.2-.2-.3-.4-.3-.7s.1-.5.3-.7L7.7.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L2.4 8.4 9.1 15c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z" />
                                    <path class="st0"
                                        d="M20.1 9.4H1c-.6 0-1-.4-1-1s.4-1 1-1h19.1c.6 0 1 .4 1 1s-.4 1-1 1z" />
                                </svg>
                            </a>
                            <h3 class="title mr-top"
                                (click)="ViewJobdetailsModel(jobdetailsbasicinfo.CustomerId,jobdetailsbasicinfo.JobId)">
                                {{jobdetailsbasicinfo?.JobTitle}}</h3>
                            <div class="status {{jobdetailsbasicinfo?.JobStatus}}">
                                {{jobdetailsbasicinfo?.JobStatus}}
                            </div>
                        </div>
                        <div class="meta h-19">
                            <svg *ngIf="jobdetailsbasicinfo?.ClientName  != null || jobdetailsbasicinfo?.Departments  != null"
                                fill="#93a2bb" xmlns="http://www.w3.org/2000/svg" viewBox="0 -31 512 512" width="16"
                                height="19.3">
                                <g>
                                    <path
                                        d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#93a2bb"
                                        fill="#93a2bb" />
                                </g>
                            </svg>

                            <h5 class="client">
                                {{jobdetailsbasicinfo?.ClientName  != null ? jobdetailsbasicinfo?.ClientName : ''}}
                            </h5>
                            <h5 class="ml-1" [ngClass]="{'jobdepartments': jobdetailsbasicinfo?.Departments  != null ? jobdetailsbasicinfo?.Departments : ''}" title=" {{jobdetailsbasicinfo?.Departments  != null ? jobdetailsbasicinfo?.Departments : ''}}">
                                {{jobdetailsbasicinfo?.Departments  != null ? jobdetailsbasicinfo?.Departments : ''}}
                            </h5>
                            <svg fill="#93a2bb" xmlns="http://www.w3.org/2000/svg" width="16" height="19.3">
                                <path class="st0"
                                    d="M8 19.3l-.6-.4c-.3-.2-7.5-5-7.5-10.9 0-4.4 3.6-8 8-8s8 3.6 8 8c0 5.9-7.1 10.7-7.4 10.9l-.5.4zM8 2C4.7 2 2 4.7 2 8c0 4 4.4 7.7 6 8.9 1.6-1.2 6-4.9 6-8.9 0-3.3-2.7-6-6-6z" />
                                <path class="st0"
                                    d="M8.1 11.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3s3.3 1.5 3.3 3.3c0 1.8-1.5 3.3-3.3 3.3zm0-4.6c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3S9.4 8.7 9.4 8s-.6-1.3-1.3-1.3z" />
                            </svg>
                            <h5 class="location">
                                {{joblocation}}
                            </h5>
                            <h5>Posted on: {{ jobdetailsbasicinfo?.PostedOn }}</h5>
                        </div>
                    </div>
                    <div class="right">
                        <div>
                            <h2 class="stat">{{jobdetailsbasicinfo?.NumberOfVacancies}}</h2>
                            <h6 class="label">No. of positions</h6>
                        </div>
                        <div>
                            <h2 class="stat">{{jobdetailsbasicinfo?.TotalViewCount}}</h2>
                            <h6 class="label">No. of views</h6>
                        </div>
                        <div>
                            <h2 class="stat">{{jobdetailsbasicinfo?.DislikesCount}}</h2>
                            <h6 class="label">Dislikes</h6>
                        </div>
                        <div>
                            <h2 class="stat">{{jobdetailsbasicinfo?.LikesCount}}</h2>
                            <h6 class="label">Likes</h6>
                        </div>
                    </div>

                </header>
                <div class="card-body mob-btn">
                    <div class="sm-d-inline">
                        <ng-container *ngIf="jobdetailsbasicinfo?.JobStatus != 'Closed'">
                            <button *ngIf="jobdetailsbasicinfo?.IsActive;else isactive" class="btn btn-border"
                                id="Inactive" (click)="changeJobStatus(jobdetailsbasicinfo,false)">Make
                                Inactive</button>
                        </ng-container>
                        <ng-template #isactive>
                            <button id="Active" class="btn btn-border"
                                (click)="changeJobStatus(jobdetailsbasicinfo,true)">Make Active</button>
                        </ng-template>
                        <!-- <ng-container *ngIf="jobdetailsbasicinfo?.IsActive; else isnotActive">
                            <button class="btn btn-border" (click)="openCandidateUploadDialog()" *ngIf="displayQuick!=1">Manage Profiles</button>
                        </ng-container>
                        <ng-template #isnotActive>
                            <button class="btn btn-border" (click)="openCandidate()" *ngIf="displayQuick!=1">Manage Profiles</button>
                        </ng-template> -->
                    </div>
                    <div class="sm-d-inline sm-f-r">
                        <!-- <button class="btn btn-border" mat-button (click)="OpenDialog()">Conversations</button> -->
                        <button class="btn btn-filled" mat-button
                            (click)="ViewJobdetailsModel(jobdetailsbasicinfo.CustomerId,jobdetailsbasicinfo.JobId)">View
                            Job Detail</button>
                    </div>

                </div>
                <alert></alert>
                <div class="card-footer">
                    <ul class="nav nav-tabs">
                        <!--As per new design modifying the same-->
                        <li class="active" id="Prospect">
                            <a data-toggle="tab" href="#applied" (click)="updateappliedstatus();inprogressview(0)">
                                <div>
                                    <h1>{{jobstatistics?.Applied}}</h1>
                                    <h4>Prospect profiles</h4>
                                </div>
                            </a>
                        </li>
                        <li id="aryticbestfit">
                            <a data-toggle="tab" href="javascript:void(0)"  (click)="updatesuggestedstatus();inprogressview(0)">
                                <div>
                                    <h1>{{SuggestedCount||'0'}}</h1>
                                    <h4>Arytic Best Fit Results</h4>
                                </div>
                            </a>
                        </li>
                        <li id="inprogressprofiles" >
                            <a data-toggle="tab" href="javascript:void(0)" (click)="updateinprogressstatus();inprogressview(1)">
                                <div>
                                    <h1>{{jobstatistics?.InProgress}}</h1>
                                    <h4>In-Progress profiles</h4>
                                </div>
                            </a>
                        </li>
                       
                        <li id="searchprofiles"  title="Coming Soon!!!">
                            <a class="isDisabled" data-toggle="tab" href="javascript:void(0)">
                                <div>
                                    <h4>Search profiles</h4>
                                    <small style="font-style: italic; font-size: 10px;">Coming Soon!!!</small>
                                </div>
                            </a>
                        </li>
                        <!-- <li>
                            <a data-toggle="tab" href="#all-candidates" (click)="updateallcandidatesstatus()">
                                <div>
                                    <h1>{{jobstatistics?.AllCandidates}}</h1>
                                    <h4>All Candidates</h4>
                                </div>
                            </a>
                        </li> 
                  
                         <li>
                            <a data-toggle="tab" href="#suggested" (click)="updatesuggestedstatus()">
                                <div>
                                    <h1>{{jobstatistics?.Suggested}}</h1>
                                    <h4>Suggested</h4>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <!--New Design 29-04-2020, need to show on click of In-Progress Profiles-->
                <div class="card-sub-footer" *ngIf="inprogressprofile==true">
                <ul class="nav nav-tabs">
                    <li  id="Screening">
                        <a data-toggle="tab" href="#screening" (click)="updatescreeningstatus()">
                            <div>
                                <!-- <h5>{{jobstatistics?.Screening}}</h5> -->
                                <h6>Screening <span>( {{jobstatistics?.Screening}} )</span></h6>
                            </div>
                        </a>
                    </li>
                    <li id="Shortlisted">
                        <a data-toggle="tab" href="#shortlisted" (click)="updateshortlistedstatus()">
                            <div>
                                <!-- <h5>{{jobstatistics?.ShortListed}}</h5> -->
                                <h6>Shortlisted <span>( {{jobstatistics?.ShortListed}} )</span></h6>
                            </div>
                        </a>
                    </li>
                    <li id="Interview">
                        <a data-toggle="tab" href="#interview" (click)="updateinterviewedstatus()">
                            <div>
                                <!-- <h5>{{jobstatistics?.Interviewed}}</h5> -->
                                <h6>Interview ( {{jobstatistics?.Interviewed}} )</h6>
                            </div>
                        </a>
                    </li>
                    <li id="hired">
                        <a data-toggle="tab" href="#hired" (click)="updatehiredstatus()">
                            <div>
                                <!-- <h5>{{jobstatistics?.Hired}}</h5> -->
                                <h6>Hired ( {{jobstatistics?.Hired}} )</h6>
                            </div>
                        </a>
                    </li>
                    <li id="rejected">
                        <a  data-toggle="tab" href="#rejected" (click)="updaterejectedstatus()">
                            <div>
                                <!-- <h5>{{jobstatistics?.RejectedORWithdrawn}}</h5> -->
                                <h6>Rejected / Withdrawn ( {{jobstatistics?.RejectedORWithdrawn}} )</h6>
                            </div>
                        </a>
                    </li>
                </ul>
                </div>
                <!-- <ng-container *ngIf="inprogressprofile">

                </ng-container> -->
                <!---->
                <!-- .selected .job-card -->
            </div>
            <app-filter-view-jobs [jobid]="jobid" [statusid]="statusid" [closedjob]="closedjob"
                [displayQuick]="displayQuick" [Count]="Count" [parentApi]="getParentApi()"></app-filter-view-jobs>
            <div *ngIf="showDetailadvancesearch">
                <app-jobdetails-advance-search [parentApi]="getParentApi()"></app-jobdetails-advance-search>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="tab-content">
                    <div id="applied" class="tab-pane fade in active">
                        <app-viewjobdetails-candidate-profile [jobid]="jobid" [statusid]="statusid"
                            [jobStatus]="jobStatus" (myEvent)="updateStatistics($event)" [parentApi]="getParentApi()">
                        </app-viewjobdetails-candidate-profile>
                        <mat-progress-spinner *ngIf="profileLoader===true" style="margin:0 auto;" class=""
                            [color]="color" [mode]="mode" strokeWidth="3" [diameter]="50">
                        </mat-progress-spinner>
                        <div class="col-md-12" *ngIf="loadMore" id="LoadMore">
                            <div class="load-more btn btn-border btn-block"
                                (click)="updateProfileCount(jobid,statusid)">
                                Load More
                            </div>
                        </div>
                        <!-- <app-load-candlist [jobid]="jobid"
              [statusid]="statusid" ></app-load-candlist> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>