 .disabled {
     pointer-events: none;
 }
 
 #selectedJobDetails .modal-content {
     border-radius: 0;
 }
 
 #selectedJobDetails .close {
     font-weight: 300;
     font-size: 2rem;
     line-height: 0.6;
     padding-right: 5%;
 }
 
 #selectedJobDetails .modal-header {
     padding: 1.75rem 3.25rem;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
 }
 
 #selectedJobDetails .modal-header>div {
     -webkit-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
 }
 
 #selectedJobDetails .modal-actions {
     text-align: right;
 }
 
 #selectedJobDetails .modal-actions .btn-border,
 .page--job-details #selectedJobDetails .modal-actions .page--account-settings .fc-button-group button,
 .page--account-settings .fc-button-group .page--job-details #selectedJobDetails .modal-actions button {
     margin-right: 15px;
 }
 
 #selectedJobDetails .modal-title {
     margin-bottom: 10px;
 }
 
 #selectedJobDetails .meta {
     color: #93A2BB;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
 }
 
 #selectedJobDetails .meta h5,
 .page--job-details #selectedJobDetails .meta svg {
     vertical-align: middle;
     display: inline-block;
     padding: 0;
     border: 0;
 }
 
 #selectedJobDetails .meta>div:not(:last-of-type) {
     border-right: 1px solid #E0E3EF;
 }
 
 #selectedJobDetails .meta>div {
     padding: 0 8px;
 }
 
 #selectedJobDetails .modal-body {
     padding: 0;
 }
 
 #selectedJobDetails .modal-body .nav-tabs {
     border: 0;
 }
 
 #selectedJobDetails .modal-body .nav-tabs li {
     border: 0;
     margin-bottom: 0 !important;
 }
 
 #selectedJobDetails .modal-body .nav-tabs li a {
     border: 0 !important;
 }
 
 #selectedJobDetails .modal-body .nav-tabs {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     border-top: 1px solid #E0E3EF;
     border-bottom: 1px solid #E0E3EF;
     position: relative;
 }
 
 #selectedJobDetails .modal-body .nav-tabs>li {
     text-align: center;
     -ms-flex-preferred-size: 33.33%;
     flex-basis: 33.33%;
 }
 
 #selectedJobDetails .modal-body .nav-tabs>li a {
     padding: 20px 0;
     font-size: 1.25rem;
     color: #93A2BB;
 }
 
 #selectedJobDetails .modal-body .nav-tabs>li.active a {
     color: #41536E;
 }
 
 #selectedJobDetails .modal-body .nav-tabs .active-line {
     background-color: #448AFA;
 }
 
 #selectedJobDetails .modal-body .tab-content {
     padding: 1.75rem 3.25rem;
 }
 
 #selectedJobDetails .group {
     margin-bottom: 2.25rem;
 }
 
 #selectedJobDetails .group h4 {
     font-size: 1.125rem;
     color: #41536E;
     margin-bottom: 15px;
 }
 
 #selectedJobDetails .group li,
 .page--job-details #selectedJobDetails .group p {
     font-size: 1rem;
 }
 
 #selectedJobDetails .group li {
     color: #93A2BB;
 }
 
 #selectedJobDetails .group p {
     color: #6A7E9C;
     line-height: 1.75rem;
 }
 
 #selectedJobDetails .group ul {
     padding: 0;
     list-style: none;
     margin: 0;
 }
 
 #selectedJobDetails .group .list {
     -webkit-column-count: 3;
     column-count: 3;
 }
 
 #selectedJobDetails .group h5 {
     font-weight: 500;
     font-size: 1rem;
     color: #41536E;
     margin-bottom: 8px;
 }
 
 #selectedJobDetails .group h6,
 .page--job-details #selectedJobDetails .group .time {
     margin-top: 0;
     font-weight: 400;
     color: #9EABC0;
     font-size: 0.875rem;
 }
 
 #selectedJobDetails .status.shortlisted {
     background-color: #ACB0F3;
 }
 
 #selectedJobDetails .status {
     border-radius: 3px;
     display: inline-block;
     padding: 3px 6px;
     line-height: 1;
     color: #ffffff;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 500;
     letter-spacing: 0.03em;
 }
 
 #selectedJobDetails .btn-border {
     font-size: 0.875rem;
     letter-spacing: 0.03em;
     padding: 11px 28px;
 }
 /* .page--job-details .filters .view-group svg {
      margin-right: 10px;
    }

    .page--job-details .filters .view-group label {
      padding-right: 15px;
    } */
 /*Added by maniPriya 24/9/2018*/
 /** 
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
 /*
 *  Owl Carousel - Core
 */
 
 .owl-carousel {
     display: none;
     width: 100%;
     -webkit-tap-highlight-color: transparent;
     /* position relative and z-index fix webkit rendering fonts issue */
     position: relative;
     z-index: 1;
 }
 
 .owl-carousel .owl-stage {
     position: relative;
     -ms-touch-action: pan-Y;
     touch-action: manipulation;
     -moz-backface-visibility: hidden;
     /* fix firefox animation glitch */
 }
 
 .owl-carousel .owl-stage:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
 }
 
 .owl-carousel .owl-stage-outer {
     position: relative;
     overflow: hidden;
     /* fix for flashing background */
     -webkit-transform: translate3d(0px, 0px, 0px);
 }
 
 .owl-carousel .owl-wrapper,
 .owl-carousel .owl-item {
     -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
     -ms-transform: translate3d(0, 0, 0);
 }
 
 .owl-carousel .owl-item {
     position: relative;
     min-height: 1px;
     float: left;
     -webkit-backface-visibility: hidden;
     -webkit-tap-highlight-color: transparent;
     -webkit-touch-callout: none;
 }
 
 .owl-carousel .owl-item img {
     display: block;
     width: 100%;
 }
 
 .owl-carousel .owl-nav.disabled,
 .owl-carousel .owl-dots.disabled {
     display: none;
 }
 
 .owl-carousel .owl-nav .owl-prev,
 .owl-carousel .owl-nav .owl-next,
 .owl-carousel .owl-dot {
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 .owl-carousel .owl-nav button.owl-prev,
 .owl-carousel .owl-nav button.owl-next,
 .owl-carousel button.owl-dot {
     background: none;
     color: inherit;
     border: none;
     padding: 0 !important;
     font: inherit;
 }
 
 .owl-carousel.owl-loaded {
     display: block;
 }
 
 .owl-carousel.owl-loading {
     opacity: 0;
     display: block;
 }
 
 .owl-carousel.owl-hidden {
     opacity: 0;
 }
 
 .owl-carousel.owl-refresh .owl-item {
     visibility: hidden;
 }
 
 .owl-carousel.owl-drag .owl-item {
     -ms-touch-action: pan-y;
     touch-action: pan-y;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 .owl-carousel.owl-grab {
     cursor: move;
     cursor: -webkit-grab;
     cursor: grab;
 }
 
 .owl-carousel.owl-rtl {
     direction: rtl;
 }
 
 .owl-carousel.owl-rtl .owl-item {
     float: right;
 }
 /* No Js */
 
 .no-js .owl-carousel {
     display: block;
 }
 /*
 *  Owl Carousel - Animate Plugin
 */
 
 .owl-carousel .animated {
     -webkit-animation-duration: 1000ms;
     animation-duration: 1000ms;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
 }
 
 .owl-carousel .owl-animated-in {
     z-index: 0;
 }
 
 .owl-carousel .owl-animated-out {
     z-index: 1;
 }
 
 .owl-carousel .fadeOut {
     -webkit-animation-name: fadeOut;
     animation-name: fadeOut;
 }
 
 @-webkit-keyframes fadeOut {
     0% {
         opacity: 1;
     }
     100% {
         opacity: 0;
     }
 }
 
 @keyframes fadeOut {
     0% {
         opacity: 1;
     }
     100% {
         opacity: 0;
     }
 }
 /*
 * 	Owl Carousel - Auto Height Plugin
 */
 
 .owl-height {
     -webkit-transition: height 500ms ease-in-out;
     transition: height 500ms ease-in-out;
 }
 /*
 * 	Owl Carousel - Lazy Load Plugin
 */
 
 .owl-carousel .owl-item {
     /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
 }
 
 .owl-carousel .owl-item .owl-lazy {
     opacity: 0;
     -webkit-transition: opacity 400ms ease;
     transition: opacity 400ms ease;
 }
 
 .owl-carousel .owl-item .owl-lazy[src^=""],
 .owl-carousel .owl-item .owl-lazy:not([src]) {
     max-height: 0;
 }
 
 .owl-carousel .owl-item img.owl-lazy {
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
 }
 /*
 * 	Owl Carousel - Video Plugin
 */
 
 .owl-carousel .owl-video-wrapper {
     position: relative;
     height: 100%;
     background: #000;
 }
 
 .owl-carousel .owl-video-play-icon {
     position: absolute;
     height: 80px;
     width: 80px;
     left: 50%;
     top: 50%;
     margin-left: -40px;
     margin-top: -40px;
     cursor: pointer;
     z-index: 1;
     -webkit-backface-visibility: hidden;
     -webkit-transition: -webkit-transform 100ms ease;
     transition: -webkit-transform 100ms ease;
     transition: transform 100ms ease;
     transition: transform 100ms ease, -webkit-transform 100ms ease;
 }
 
 .owl-carousel .owl-video-play-icon:hover {
     -webkit-transform: scale(1.3, 1.3);
     transform: scale(1.3, 1.3);
 }
 
 .owl-carousel .owl-video-playing .owl-video-tn,
 .owl-carousel .owl-video-playing .owl-video-play-icon {
     display: none;
 }
 
 .owl-carousel .owl-video-tn {
     opacity: 0;
     height: 100%;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: contain;
     -webkit-transition: opacity 400ms ease;
     transition: opacity 400ms ease;
 }
 
 .owl-carousel .owl-video-frame {
     position: relative;
     z-index: 1;
     height: 100%;
     width: 100%;
 }
 
 .page--job-details .card #skills-carousel .owl-dots {
     display: none;
 }
 
 .page--job-details .card #skills-carousel .owl-nav {
     position: absolute;
     width: 100%;
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
 }
 
 .page--job-details .card #skills-carousel .owl-nav .owl-prev {
     position: absolute;
     left: -15px;
 }
 
 .page--job-details .card #skills-carousel .owl-nav .owl-next {
     position: absolute;
     right: 15px;
 }
 
 .page--job-details .card #skills-carousel .owl-stage-outer {
     overflow: visible;
 }
 /**/
.data-list.job-details-skills {
    padding: 0;
    list-style: none;
    margin: 0;
}
.data-list.job-details-skills li {
    border: 1px solid #E0E3EF;
    border-radius: 3px;
    background-color: #FBFCFF;
    color: #6A7E9C;
    margin-right: 10px;
}
.data-list.job-details-skills li .name {
    padding: 10px 0 0 3px;
    font-size: 13px;
    font-weight: 500;
    width: 65%;
    display: block;
}
.data-list.job-details-skills li .experience {
    padding: 10px 7px;
    font-size: 13px;
    font-weight: 500;
    width: 35%;
    border-left: 1px solid #E0E3EF;
}
.data-list.job-details-skills li .close {
    font-weight: 400;
    padding: 10px 0;
    color: #6A7E9C;
    width: 10.65%;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 1;
    float: right;
    border-left: 1px solid #ebebeb;
} 
.data-list.job-details-skills li>span {
    float: left;
}
.job-details-roles li{
    padding: 20px 0px;
    color: #61707e;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px !important;
}
.job-details-reviews .review:not(:last-of-type) {
    border-bottom: 1px solid #E0E3EF;
}
.bw-0{
    border-width: 0px !important;
}
.bl-1{
    border-left: 1px solid #E0E3EF;
}

.mr-top{
    margin-top:0px;
}
.isDisabled {
    pointer-events: none;
    opacity: 0.6;
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
  }