<section>
  <h1>Step 2</h1>
  <div class="form-data-group">
    <h3 class="question">
      Which domain/(s) is the project into?
    </h3>
    <ng-container *ngIf="domain?.length!=0">
        <h4 class="data"*ngFor="let dom of domain">{{dom.DomainName}}</h4>
    </ng-container>
     <ng-container *ngIf="domain?.length==0">
        <h6 class="data">N/A</h6>
     </ng-container>
  </div>
  <div class="form-data-group skill-set-group">
    <h3 class="question">
      What is the skill set that you are looking for in the candidate?
    </h3>
    <div class="lists row">
      <div class="col-md-6">
        <h4 for="" class="light">Primary Skills</h4>
        <ul class="data-list">
          <li *ngFor="let primaryjobskill of primarySkills">
            <ng-container *ngIf="primarySkills.length>0">
              <span class="name" >{{primaryjobskill.SkillName}}</span>
              <span class="experience">{{(primaryjobskill.MinimumExp | number:'1.0-1' | skillmonths )}} - {{(primaryjobskill.MaximumExp | number:'1.0-1' | skillmonths )}} Yrs</span>
            </ng-container>
          </li>

          <ng-container *ngIf="primarySkills.length==0" >
            <h6 class="data">N/A</h6>
          </ng-container>
           
        </ul>
      </div>
      <div class="col-md-6">
        <h4 for="" class="light">Secondary Skills</h4>
        <ul class="data-list">
          <li *ngFor="let secondarySkill of secondarySkills">
            <ng-container *ngIf="secondarySkills.length>0">
              <span class="name">{{secondarySkill.SkillName}}</span>
            <span class="experience">{{(secondarySkill.MinimumExp | number:'1.0-1'  | skillmonths )}} - {{(secondarySkill.MaximumExp | number:'1.0-1' |  skillmonths )}} Yrs</span>
            </ng-container>
          </li>
          <ng-container *ngIf="secondarySkills.length==0" >
            <h6 class="data">N/A</h6>
          </ng-container>
          
        </ul>
      </div>
    </div>
  </div>
  
  <div class="form-data-group">
    <h3 class="question">
      What are the responsibilities you are looking for in the candidate?
    </h3>
    <ul class="responsibility-list" >
      <ng-container *ngIf="roles?.length!=0">
          <li *ngFor="let role of roles">{{role.Role}}</li> 
      </ng-container>
      <ng-container *ngIf="roles?.length==0">
        <li> N/A</li>
      </ng-container>
     
    </ul>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Preferred Education criteria?
    </h3>
    <ng-container *ngIf="education?.length!=0">
        <h4 class="data" *ngFor="let edu of education">{{edu.QualificationName}}</h4>
    </ng-container>
    <ng-container *ngIf="education?.length==0">
        <h6 class="data">N/A</h6>
    </ng-container>
     
  </div>
 
  <!-- <div class="form-data-group">
    <h3 class="question">Are you seriously considering that the candidate have the required domain experience?</h3>
    <h4 class="data">No</h4>
  </div> -->
  <div class="form-data-group personality-group">
    <h3 class="question">Which type of person you are looking for?</h3> 
    <ng-container *ngIf="personType?.length==1">
    <div *ngFor="let person of personType">
      <div  class="type"  *ngIf="person.checked">
      <div class="type-img">
        <img [src]="person.LogoURL" alt="D">
      </div>
      <div class="type-details">
        <h5 class="data">{{person.PersonType}}</h5>
        <p class="description">
          {{person.Description}}
        </p>
      </div>
    </div>
    </div>
   </ng-container>
   <ng-container *ngIf="personType?.length!=1"> 
    <h6 class="data">N/A</h6>
   </ng-container>
  </div>
</section>
