<div id="step4" class="tab-pane">
  <div class="tab-inner">
    <app-steps-step4-step1summary>
    </app-steps-step4-step1summary>
    <app-steps-step4-step2summary>
    </app-steps-step4-step2summary>
    <app-steps-step4-step3summary>
    </app-steps-step4-step3summary>
  </div>
</div>


<div class="row tab-inner pbt26-m10">
    <div class="col-md-12">
        <label for="" class="question">Save As Template</label>
    </div>
    <div class="col-md-2">
        <div class="clearfix">
            <label class="radio checkbox">
                <input type="checkbox"   class="radio-input" #template_title [(ngModel)]="flag"  [checked]="flag" (change)="checkValue(flag?1:0)">
                 <span class="radio-btn"></span> 
                 <span>Yes</span>
               </label>
        </div>
    </div>
    <div class="col-md-10">
        <div *ngIf="template_title.checked">
            <input type="text" class="form-control mt-0" #Tname="ngModel" name="TemplateName" [(ngModel)]="TemplateName" placeholder="Template Title*" required>
            <span class="text-danger"
            *ngIf="Tname.invalid && Tname.touched">Required.</span>
          </div>
         
    </div>

    <!-- <div class="col-md-12">
      <label for="" class="question">Job Due Date</label>
     </div> -->

    <!-- <div class="col-md-10">
      <div>
          <input type="date" class="form-control mt-0" #Edate="ngModel" name="ExpiryDate" [(ngModel)]="ExpiryDate" placeholder="Due Date*" required>
          <span class="text-danger"
          *ngIf="Edate.invalid && Edate.touched">Due Date Required.</span>
        </div>
       
  </div> -->
  </div>
<!-- <label>
  <input type="checkbox" [(ngModel)]="flag"  [checked]="flag" (change)="checkValue(flag?'1':'0')" />
  <span> Save As Template</span>
</label> -->

<hr class="form-divider" />
<div class="clearfix form-nav">
  <div class="pull-left">
    <div class="pull-right">
      <a href="#" class="btn btn-border btn-prev" (click)="backtoStep3()" routerLink="/app-createajob/app-steps-step3">Back</a>
    </div>
  </div>
  <div class="pull-right">
      <!-- <a href="javascript:void(0)"  class="btn btn-border btn-prev">Save & Close</a> -->
    <a class="btn btn-filled" href="javascript:void(0)"   [class.spinner]="loading" (click)="postJob(4)">Post Job</a>
  </div>
</div>

