<section>
  <h1>Step 1</h1>
  <div class="form-data-group">
    <h3 class="question">
      what is the Job Id?
    </h3>
    <h5 class="data" *ngIf="jobPositionId!=''">
      {{jobPositionId}}
    </h5>
    <h6 class="data" *ngIf="jobPositionId==''"  >
     N/A
    </h6 >
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Job Priority
    </h3>
    <h5 class="data" *ngIf="PriorityName!=''">
      {{PriorityName}}
    </h5>
    <h6 class="data" *ngIf="PriorityName==''"  >
     N/A
    </h6 >
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Do you have a complete description of the Job profile?
    </h3>
    <h6 class="data" *ngIf="hasDescription==true">
     {{completeDescription}}
    </h6>
    <h6 class="data" *ngIf="hasDescription==false">
        N/A
      </h6>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      Which Category this job belongs to?
    </h3>
    <h5 class="data" *ngIf="jobCategory!=null||jobCategory!=''" >
      {{jobCategory}}
    </h5>
    <h6 class="data" *ngIf="jobCategory==null||jobCategory==''">
    N/A
    </h6>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      What is the Job Title?
    </h3>
    <h5 class="data">{{jobTitle}}</h5>
  </div>
  <div class="form-data-group">
    <h3 class="question">
      What is the Client Name?
    </h3>
    <h5 class="data" *ngIf="client!=null">
      {{client}}
    </h5>
      <h6 class="data" *ngIf="client==null">
      N/A
      </h6>
  </div>
  <div class="form-data-group">

      <h3 class="question" *ngIf="location.length>0">
        At which location the job is available?
      </h3>

   
    <ng-container *ngFor="let loc of location">   
      <h4 class="data">
        {{loc?.CityName}}
      </h4>
    </ng-container>

      <h3 class="question" *ngIf="locations.length>0">
        At which  locations and how many open positions the job is available?
      </h3>

  
    <ng-container  *ngFor="let job of locations;let i = index">  
      <h4 class="data">
        {{job?.CityName}}- {{job?.Positons}}      
      </h4>
    </ng-container>
   

      
  </div>
  <div class="form-data-group">
    <h3 class="question" *ngIf="location.length>0">
      How many open positions do you currently have for this Job Title?
    </h3>
      <h4 class="data" *ngIf="location.length>0">
        {{noOfopenings}}
      </h4>
      <!-- <ng-container *ngFor="let open of noOfopening">
        <h4 class="data">
          {{open}}
        </h4>
      </ng-container> -->
  </div>
  <div class="form-data-group">
    <h3 class="question">
     Due Date 
    </h3>
      <h4 class="data" *ngIf="ExpiryDate">
        {{ExpiryDate | date:'mediumDate'}} 
      </h4>
  </div>
  <div class="form-data-group skill-set-group">

    <h3 class="question">
      What departments does the job includes?
    </h3>
    <div class="lists row">
      <div class="col-md-6">
        <h4 class="light">Departments</h4>  <!-- *ngIf="department.length > 0" -->
        <ul class="data-list">
          <li *ngFor="let department of departments">
              <ng-container *ngIf="department?.DepartmentName != null; else customSummaryDept">
            <span class="name">{{department?.DepartmentName}}</span> </ng-container> 
            <ng-template #customSummaryDept>
            <span class="name">{{department?.CustomerDepartment}}</span></ng-template>
          </li> 
          <!-- {{department | json}} -->
        </ul>
         <h6 class="data" *ngIf="departments.length === 0" >
            N/A
          </h6> 
      </div>
      </div>
</div>
</section>
