<app-Logoheader></app-Logoheader>
  <main>
    <div class="container">
      <div class="card-row row">
        <!-- <div class="col-md-12">
          <div class="row pb-30">
            <div class="col-md-6 pr-0">
                <a class="card brw-0" >
                    <div>
                      <img src="../../../assets/images/jd-parser-icon.svg" width="103px" height="91.5px" alt="">
                      <h4>Parser</h4>
                      <small>(It Does Automatically)</small>
                    </div>
                  </a>
            </div>
            <div class="col-md-6 pl-0">
                <a class="card blw-0" (click)="createJob()"   routerLinkActive="active">
                    <div>
                      <img src="assets/images/create-a-job.svg" width="103px" height="91.5px" alt="">
                      <h4>Create a job</h4>
                      <small>(Manual Entry)</small>
                    </div>
                  </a>
            </div>
          </div>
        </div> -->
        <div class="col-md-3 card">
          <a class="card" (click)="createJob()"   routerLinkActive="active">
            <!-- routerLink="/app-createajob" -->
            <div>
              <img src="assets/images/create-a-job.svg" width="103px" height="91.5px" alt="">
              <h4>Create a job</h4>
              <small>(Manual Entry)</small>
            </div>
          </a>
        </div>
        <div class="col-md-3 card">
          <a class="card" style="cursor:default">
            <div>
              <img src="../../../assets/images/jd-parser-icon.svg" width="103px" height="91.5px" alt="">
              <h4>Parser</h4>
              <small><i>(Coming Soon..!)</i></small>
            </div>
          </a>
        </div>
        <div class="col-md-3 card">
          <a href="javascript:void(0)" (click)="editTemplate()" class="card">
            <div>
              <img src="assets/images/choose-template.svg" width="103px" height="91.5px" alt="">
              <h4>Choose from template</h4>
            </div>
          </a>
        </div>
        <div class="col-md-3 card">
          <a href="javascript:void(0)" (click)="editDraft()" class="card">
            <div>
              <img src="assets/images/edit-draft.svg" width="103px" height="91.5px" alt="">
              <h4>Edit a draft</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>

