.ui-badge {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    text-transform: capitalize;
}

.meta small {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    font-size: 75%;
    margin-top: 3px;
    margin-left: 3px;
    padding: 7px;
}

.mat-dialog-container {
    width: 600px;
    margin: 30px auto;
    padding: 0 !important;
}

.disabled {
    pointer-events: none;
}


/* h4,h5{
    display:inline-block;
    width:280px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
} */


.ui-badge {
    max-width: 140px;
}

.ui-badge--domain {
    border-color: #AC9AF9;
    color: #AC9AF9;
}

.ui-badge {
    display: inline-block;
    border: transparent;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}

.ui-badge--industry {
    border-color:transparent;
    color: #75A6F5;
}

.candidate-badges {
    display: -webkit-box;
    display: flex !important;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
/*New Badges styles*/
.candidate-badges .media{
    padding-left: 5px;
    padding-right: 5px;
}

.candidate-badges .media .media-left{
    padding-right: 0px;
}
.candidate-badges .media .media-body{
    white-space: nowrap;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color:#7C899F;
}
.candidate-badges .media .media-body .badge{ 
    display: table-cell;
    cursor: pointer;
}
.candidate-badges .domain-section{
margin-top: 0px;
}
.candidate-badges .domain-section .media-body{
    text-align: -webkit-right;
}
.candidate-badges .domain-section .media-right{
     padding-left: 0px;
}
.domains-list .d-details .fa{
    font-size: 25px;
    color: #6A7E9C;
}
/*New Badges styles*/

.upgrade-pitch {
    color: transparent;
    text-shadow: 0 0 15px rgba(0, 0, 0, .8);
    user-select: none;
}

.upgrade-pitch::first-letter {
    color: #000!important;
    text-shadow: none!important;
}

.ln::first-letter {
    color: #000!important;
    text-shadow: none!important;
}


/*Naveen*/

.public-profile {
    padding-bottom: 50px;
}

.public-profile .pull-left>.green-btn {
    padding: 16px 30px;
    display: inline-block;
}

.public-profile .nav-pills>li a {
    border: 1px solid #e0e3ec;
    padding: 15px 15px;
    color: #6a7e9c;
}

.public-profile .nav-pills>li:first-of-type>a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.public-profile .nav-pills>li:last-of-type>a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.public-profile .nav-pills>li.active>a {
    background-color: #66dab5;
    color: #ffffff;
    transition: 0.2s ease all;
}

.public-profile .nav-pills>li.active>a:hover,
.public-profile .nav-pills>li.active>a:focus {
    background-color: #3dd0a1;
    color: #ffffff;
    transition: 0.2s ease all;
}

.public-profile .nav>li>a:hover,
.public-profile .nav>li>a:focus {
    background-color: #f8f9fd;
    transition: 0.2s ease all;
}

.public-profile .nav-pills>li+li {
    margin-left: -1px;
}

.public-profile .main-wrapper .container .tab-content {
    padding-top: 30px;
}

@media all and (max-width: 767px) {
    .nav-pills {
        display: block;
    }
    .pull-left {
        float: none !important;
        margin-bottom: 20px;
    }
}

.summary-view .pic-lg {
    text-align: center;
}

.summary-view .pic-lg h1 {
    margin-top: 38px;
    margin-bottom: 20px;
    font-size: 36px;
}

.summary-view .pic-lg .meta {
    font-style: normal;
    font-size: 22px;
}

.summary-view .profile-pic-lg {
    width: 250px;
    height: 250px;
    max-width: 100%;
    border: 2px solid #e0e3ec;
    border-radius: 100%;
}

.summary-view .section-title {
    font-size: 28px;
    line-height: 0.9;
    color: #6a7e9c;
    font-weight: 600;
    padding-bottom: 21px;
    margin-top: 12px;
    margin-bottom: 22px;
    border-bottom: 1px solid #e0e3ec;
}

.summary-view .contact>h2 {
    margin-top: 10px !important;
}

.summary-view .top-tech-skills {
    margin-bottom: 40px;
}

.summary-view .top-tech-skills .section-title {
    margin-bottom: 50px;
}

.summary-view .top-tech-skills .flex-row {
    display: flex;
    justify-content: space-between;
}

.summary-view .top-tech-skills .skill {
    display: inline-block;
    color: #6a7e9c;
    font-weight: 400;
}

.summary-view .top-tech-skills .skill>div {
    position: relative;
}

.summary-view .top-tech-skills .skill .level {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    font-size: 16px;
}

.summary-view .top-tech-skills .skill .name {
    text-align: center;
    font-size: 20px;
}

.summary-view .top-tech-skills .skill .st0 {
    fill: none;
    stroke: #EBEDF2;
    stroke-width: 10;
    stroke-miterlimit: 10;
}

.summary-view .top-tech-skills .skill .st1 {
    fill: none;
    stroke: #448AFA;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.summary-view .other-skills-row {
    margin-bottom: 30px;
}

.summary-view .skills-section .skills {
    color: #6a7e9c;
}

.summary-view .timeline {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.summary-view .timeline>li {
    position: relative;
    padding-top: 12px;
}

.summary-view .timeline:before {
    left: 245px;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #b6c2d6;
    height: 100%;
    display: inline-block;
}

.summary-view .timeline .badge-circle {
    border-radius: 100%;
    width: 12px;
    height: 12px;
    border: 2px solid #b6c2d6;
    display: inline-block;
    background: #fff;
    position: absolute;
    left: 246px;
    transform: translateX(-50%);
    top: 26px;
}

.summary-view .timeline .date {
    width: 245px;
    float: left;
    font-size: 20px;
    color: #6a7e9c;
}

.summary-view .timeline .details {
    float: left;
    padding-left: 75px;
    color: #6a7e9c;
    width: 60%;
}

.summary-view .timeline .details .title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.summary-view .timeline .info .name,
.summary-view .timeline .info .meta {
    display: inline-block;
    padding-left: 7px;
}

.summary-view .timeline .info .name {
    padding-right: 10px;
    border-right: 1px solid #e0e3ec;
}

.summary-view .left {
    color: #6a7e9c;
    padding: 70px 40px 80px 40px;
    background-color: #f1f2f6;
    border: 1px solid #e1e4ed;
}

.summary-view .left .divider {
    border-color: #e0e3ec;
    margin-top: 35px;
    margin-bottom: 35px;
}

.summary-view .left p {
    font-size: 18px;
    line-height: 1.5em;
}

.summary-view .left address p {
    font-size: 16px;
    margin-bottom: 20px;
}

.summary-view .left h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 27px;
    margin-top: 0;
}

.summary-view .left ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1;
}

.summary-view .left ul li {
    padding: 18px 0;
    line-height: 21px;
}

ul.skills {
    list-style: none;
    /* width: 53%; */
    display: inline-block;
    padding: 0px;
}

.cert-card .title {
    font-size: 22px;
    color: #6a7e9c;
    margin-top: 0;
}

.cert-card .year {
    font-size: 20px;
    color: #9eabc0;
}

.cert-card .info {
    flex: none;
    padding-left: 20px;
    width: 100%
}

.cert-card .logo {
    flex: 0.67;
    padding: 20px 10px;
    border: 1px solid #e0e3ec;
    border-radius: 4px;
}

.cert-card .settings-dot {
    position: absolute;
    top: 10px;
    right: 20px;
}

.settings-dot {
    display: inline-block;
    cursor: pointer;
}

.cert-card {
    position: relative;
    border: 1px solid #e0e3ec;
    border-radius: 4px;
    padding: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.personal-skills .skills .text,
.personal-skills .skills .search-results-pg .results label,
.search-results-pg .results .personal-skills .skills label {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    padding-left: 20px;
}

.summary-view .skills-section .skills .tag.skill {
    border: 1px solid #dae0ee;
    border-radius: 3px;
    line-height: 1;
    text-transform: uppercase;
    background-color: #f8f9fd;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
}

.summary-view .skills-section .skills .tag:not(:last-of-type) {
    margin-right: 10px;
}

.summary-view .skills-section .skills .tag {
    margin-bottom: 10px;
}

.summary-view .left ul li:last-of-type {
    padding-bottom: 0;
}

.summary-view .left ul li:first-of-type {
    padding-top: 0;
}

.summary-view .left ul li:not(:last-of-type) {
    border-bottom: 1px solid #e0e3ec;
}

.summary-view .right {
    padding-left: 30px;
}

.summary-view .personal-skills {
    width: 100%;
    height: auto;
    margin-bottom: 35px;
    color: #6a7e9c;
}

.summary-view .personal-skills .skills {
    padding-top: 0;
}

.summary-view .personal-skills .skills .text .title,
.summary-view .personal-skills .skills .search-results-pg .results label .title,
.search-results-pg .results .summary-view .personal-skills .skills label .title {
    font-size: 20px;
    font-weight: 500;
}

.summary-view .personal-skills .skills .text p,
.summary-view .personal-skills .skills .search-results-pg .results label p,
.search-results-pg .results .summary-view .personal-skills .skills label p {
    font-size: 16px;
    color: #6a7e9c !important;
}

.summary-view .professional-experience {
    margin-bottom: 35px;
    height: auto;
}

.summary-view .certifications {
    margin-bottom: 25px;
    height: auto;
}

@media all and (max-width: 1279px) {
    .summary-view .left {
        padding: 30px 40px 80px 30px;
    }
    .summary-view .left h2 {
        font-size: 22px;
    }
    .summary-view .left p {
        font-size: 14px;
    }
    .summary-view .left ul {
        line-height: 1.4em;
    }
    .summary-view .top-tech-skills {
        margin-bottom: 20px;
    }
    .summary-view .top-tech-skills .flex-row {
        display: block;
    }
    .summary-view .top-tech-skills .flex-row .skill {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .summary-view .timeline:before {
        left: 180px;
    }
    .summary-view .timeline .badge-circle {
        left: 181px;
    }
    .summary-view .timeline .date {
        width: 180px;
        padding-right: 20px;
    }
    .summary-view .pic-lg .meta {
        font-size: 16px;
        line-height: 1.5em;
    }
    .summary-view .pic-lg h1 {
        font-size: 26px;
    }
}

@media all and (max-width: 991px) {
    .summary-view .right {
        padding-left: 0;
        padding-top: 30px;
    }
    .summary-view .top-tech-skills .flex-row {
        display: flex;
    }
}

@media all and (max-width: 767px) {
    .summary-view .right {
        padding-top: 30px;
    }
    .summary-view .top-tech-skills .flex-row {
        display: block;
    }
}

@media all and (max-width: 640px) {
    .summary-view .section-title {
        font-size: 20px;
    }
    .summary-view .left {
        padding: 20px 30px 60px 20px;
    }
    .summary-view .left ul li {
        padding: 12px 0;
        font-size: 14px;
    }
    .summary-view .left h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .summary-view .left .divider {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .summary-view .left address p {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .summary-view .professional-experience {
        margin-bottom: 30px;
    }
    .summary-view .top-tech-skills {
        margin-bottom: 0;
    }
    .summary-view .top-tech-skills .section-title {
        margin-bottom: 30px;
    }
    .summary-view .profile-pic-lg {
        width: 182px;
    }
    .summary-view .section-title {
        margin-bottom: 18px;
    }
    .summary-view .personal-skills .skills .text p,
    .summary-view .personal-skills .skills .search-results-pg .results label p,
    .search-results-pg .results .summary-view .personal-skills .skills label p {
        font-size: 16px;
    }
    .summary-view .personal-skills .skills .text .title,
    .summary-view .personal-skills .skills .search-results-pg .results label .title,
    .search-results-pg .results .summary-view .personal-skills .skills label .title {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .summary-view .timeline:before {
        display: none;
    }
    .summary-view .timeline .details {
        padding-left: 0;
    }
    .summary-view .timeline .date {
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .summary-view .timeline .badge-circle {
        display: none;
    }
    .summary-view .timeline .info .name {
        border-right: 0;
    }
    .summary-view .timeline .info .meta {
        display: block;
    }
    .summary-view .timeline>li {
        border-bottom: 1px solid #e0e3ec;
    }
    .summary-view .timeline>li:first-of-type {
        padding-top: 0;
    }
    .summary-view .timeline .details .title {
        font-size: 18px;
    }
}

.personal-skills .skills .letter {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 13px 0;
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
    background-color: #ffb503;
}


/*detail view*/

.skills.card {
    color: #6a7e9c;
    background-color: #f8f9fd;
    padding: 20px;
    border: 1px solid #e0e3ec;
    border-radius: 4px;
}

h2.sum_tech_num {
    font-size: 24px !important;
    color: #6a7e9c;
    font-weight: normal !important;
    margin: 0px !important;
}

p.sum_tech_infom {
    font-size: 17px !important;
    font-style: normal !important;
    padding: 0px;
    margin: 0px;
}

.skills.card h3 {
    font-size: 16px;
    color: #9eabc0;
    font-weight: 400;
    margin-top: 0;
}

.skills.card h2 {
    margin-top: 0;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 500;
}

.profile-pg .technical-skills .top-skills .skills.card .label-caps,
.profile-pg .technical-skills .top-skills .skills.card table th,
.profile-pg .technical-skills .top-skills table .skills.card th {
    font-weight: 400;
    font-size: 12px;
}

.label-caps.light,
.profile-pg .technical-skills .top-skills table th.light {
    color: #9eabc0;
}

.label-caps,
.profile-pg .technical-skills .top-skills table th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin: 0;
    margin-bottom: 10px;
}

.education-row:not(:last-of-type),
.job-row:not(:last-of-type) {
    border-bottom: 1px solid #e0e3ec;
}

.education-row,
.job-row {
    padding-top: 30px;
    padding-bottom: 20px;
}

.education-row .title,
.job-row .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

.education-row .duration,
.job-row .duration {
    font-size: 16px;
    color: #9eabc0;
    margin-bottom: 20px;
    display: inline-block;
}

.education-row .duration .icon-calendar,
.job-row .duration .icon-calendar {
    font-size: 1.2em;
    vertical-align: text-top;
    margin-right: 5px;
}

.pull-left.sum_tech_img {
    /* width: 55px; */
    /* height: 100px; */
    margin: 10px 0px 0 -15px;
}

.border-right {
    border-right: 1px solid #e0e3ec;
}

.profile-pg .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px;
}

.label-caps,
.profile-pg .technical-skills .top-skills table th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin: 0;
    margin-bottom: 10px;
}

.education-row .study-fields .list,
.job-row .study-fields .list,
.profile-pg .technical-skills .other-skills .skills,
.summary-view .skills-section .skills,
.my-jobs .skills,
.applied-jobs .skills,
.job-timeline .skills,
.search-results-pg .results .result-card .tags {
    padding: 0;
    margin: 0;
    list-style: none;
}

.education-row .study-fields .list .tag.skill,
.job-row .study-fields .list .tag.skill,
.profile-pg .technical-skills .other-skills .skills .tag.skill,
.summary-view .skills-section .skills .tag.skill,
.my-jobs .skills .tag.skill,
.applied-jobs .skills .tag.skill,
.job-timeline .skills .tag.skill,
.search-results-pg .results .result-card .tags .tag.skill {
    border: 1px solid #dae0ee;
    border-radius: 3px;
    line-height: 1;
    text-transform: uppercase;
    background-color: #f8f9fd;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
}

.education-row .study-fields .list .tag:not(:last-of-type),
.job-row .study-fields .list .tag:not(:last-of-type),
.profile-pg .technical-skills .other-skills .skills .tag:not(:last-of-type),
.summary-view .skills-section .skills .tag:not(:last-of-type),
.my-jobs .skills .tag:not(:last-of-type),
.applied-jobs .skills .tag:not(:last-of-type),
.job-timeline .skills .tag:not(:last-of-type),
.search-results-pg .results .result-card .tags .tag:not(:last-of-type) {
    margin-right: 10px;
}

.education-row .study-fields .list .tag,
.job-row .study-fields .list .tag,
.profile-pg .technical-skills .other-skills .skills .tag,
.summary-view .skills-section .skills .tag,
.my-jobs .skills .tag,
.applied-jobs .skills .tag,
.job-timeline .skills .tag,
.search-results-pg .results .result-card .tags .tag {
    letter-spacing: 0.025em;
    padding: 10px 15px;
    display: block;
    float: left;
    margin-bottom: 10px;
}

.cert-card {
    position: relative;
    border: 1px solid #e0e3ec;
    border-radius: 4px;
    padding: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cert-card .info {
    flex: none;
    padding-left: 20px;
}

.cert-card .year {
    font-size: 20px;
    color: #9eabc0;
}

.profile-pg .certifications .card-content {
    height: calc(350px - 117px);
    max-height: calc(350px - 117px);
}

.cert-card .logo {
    flex: 0.67;
    padding: 20px 10px;
    border: 1px solid #e0e3ec;
    border-radius: 4px;
}

.cert-card .logo img {
    width: 80px;
}

h1.title .upgrade-pitch-text {
    display: inline-block;
}

h1.title img {
    height: 16px;
}

.hide_img {
    height: 16px;
}

.tooltip1 {
    display: inline-block;
    position: relative;
    text-align: left;
}

.tooltip1 h3 {
    margin: 12px 0;
}

.tooltip1 .bottom1 {
    min-width: 200px;
    /* max-width: 400px; */
    /* top: 26px; */
    top: 22px;
    left: -72%;
    transform: translate(-50%, 0);
    color: #666666;
    background-color: #fff;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.36);
    display: none;
}

.tooltip1:hover .bottom1 {
    display: block;
}

.tooltip1 .bottom1 i {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.tooltip1 .bottom1 i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.dropdown-menu.dropdown-menu-right1 li>div {
    padding: 8px 4px 4px;
}

.dropdown-menu.dropdown-menu-right1 li>div a:not(:last-of-type) {
    border-right: 1px solid #E0E3EC;
}

.dropdown-menu.dropdown-menu-right1 li>div a {
    display: inline-block;
    height: 21px;
    padding: 0 23px;
    color: #6A7E9C;
}

.dropdown-menu.dropdown-menu-right1 li {
    padding: 6px 0px;
}


/* video css */

.card-rel {
    position: relative;
}

.matching-details12 {
    position: absolute;
    z-index: 100;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #F1F2F9;
    padding: 38px 47px 13px 47px;
    text-align: center;
    -webkit-transition: ease 0.3s all;
    transition: ease 0.3s all;
}

.matching-details12.open {
    -webkit-transition: ease 0.3s all;
    transition: ease 0.3s all;
    left: 0;
}

.icon-rel {
    position: relative;
}

.icon-play {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 38px;
    left: 48px;
}

.play-img {
    width: 32px;
}

.p-2em {
    padding: 2em;
}

.w-100 {
    width: 100%;
}

.tooltip1 .custom_dropdown-menu {
    position: absolute;
    top: 100%;
    right: 20px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.tooltip1 .custom_dropdown-menu>li>a {
    padding: 8px 0;
    color: #6A7E9C;
}

.tooltip1 .custom_dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
}

.tooltip1 .custom_dropdown-menu li>div {
    padding: 8px 4px 4px;
}

.tooltip1 .custom_dropdown-menu {
    min-width: 267px;
    padding: 10px 15px;
    border: 0;
}

.tooltip1 .custom_dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
}

.tooltip1 .custom_dropdown-menu li {
    padding: 6px 0px;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.mr-3,
.mx-3 {
    margin-right: 1rem!important;
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

.mt-0,
.my-0 {
    margin-top: 0!important;
}

.tooltip1 .media img {
    width: 40px;
    height: auto;
}
/*
.tooltip1 {
     padding-bottom: 10px; 
}
*/
.tooltip1:hover .custom_dropdown-menu {
    display: contents;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.m-auto {
    margin: auto!important;
}

.cls-rel {
    position: relative;
}

.video-tittle {
    position: absolute;
    top: -30px;
    left: 0;
}

.matching-details.open.h-a {
    height: calc(100% - 72px);
    padding: 38px 47px 13px 47px !important;
}

.d-block {
    display: block !important;
}

.text-center {
    text-align: center;
}

.h-19 {
    height: 19.3px;
}

.page--job-details .meta h5 {
    padding: 0px !important;
}

.page--job-details .meta.a h5 {
    margin-right: 0px !important;
}

.meta.a .h-19 .location {
    margin-right: 0px !important;
}
.meta .d-block{
    font-size: 13.16px;
}

.meta.a .info-icon{
    margin-left: 2px;
}

.mr-0 {
    margin-right: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.email-overflow {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cursor_text{
    cursor: text !important;
}
.cursor_text_a *
{
    cursor: text !important;
}
.custom_dropdown-menu li a{
    cursor: text !important;
}
.l_bl-1:nth-last-child(1) {
    padding-right: 7px;
    border-left: 1px solid #c6c7ca;
    border-width: medium;
} 
.l_bl-1:first-child{
    padding-right: 0px;
    border-left: 0px solid rgba(224, 227, 236, 0);
}
.l_bl-1{
    padding-left: 7px;
}
.ptb-5{
    padding:5px 0px;
}

.d-block.text-center.min-h40{
    height: 40px;
}
.page--job-details .matching-details.bg-fff{
    background-color: #fff;
}
.matching-details .view-detailed-report{
    text-align: right;
}
.matching-details .view-detailed-report a{
    padding-top: 1rem;
    text-decoration: underline;
    font-size:12px;

}
.skills-carousel-Changed {
    padding: 10px 15px 0;
}
.skills-carousel-Changed a.right-arrow{
    position: absolute;
    right: 0px;
    font-size: 24px;
    cursor: pointer;
    color: #9396a0;
    bottom: 7rem;
}
.skills-carousel-Changed a.left-arrow{
    position: absolute;
    left: -8px;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
    color: #9396a0;
    bottom: 7rem;
}
.skills-carousel-Changed .no-skills h5{
height: 25.4px;
}
.skills-carousel-Changed .skill-click{
    cursor: pointer;
}
.video-scroll  video{
    height: 135px;
    width: 100%;
}
.d-block span.experience{
    padding-left: 7px;
    border-left: 1px solid #c6c7ca;
    border-width: medium;
    padding-right: 5px;
    margin-left: 2px;
}
.role-exp-loc h5.location{
    white-space: nowrap;
    width: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
}

.badge.badge-light {
    background-color: #9eabc0;
    border-radius: 7px;
}
.candidate-info img.video-sizzle{
    position: absolute;
    top: 27%;
    left: 55.5%;
}
.matching-details ul.certifications-list,
.manage-s-v-i-d ul.skills-list, 
.manage-reference-i-d ul.references-list,
.manage-bgv-i-d ul.bg-list,
.matching-details ul.domains-list,
.manage-achievements-i-d ul.achievements-list,
.manage-recommendations-i-d ul.recommendations-list
{
    list-style-type: none;
    padding-left: 0px;
}

.manage-s-v-i-d h4, 
.manage-reference-i-d h4,
.manage-bgv-i-d h4,
.manage-achievements-i-d h4,
.manage-recommendations-i-d h4
{
    color: #41536E;
}
.manage-s-v-i-d label, 
.manage-reference-i-d label,
.manage-bgv-i-d label,
.manage-achievements-i-d label,
.manage-recommendations-i-d label
{
    text-transform: capitalize;
}
.matching-details ul.certifications-list .c-details,
.manage-s-v-i-d ul.skills-list .skill-details,
.manage-reference-i-d ul.references-list .references-details,
.manage-bgv-i-d ul.bg-list .bg-details,
.matching-details ul.domains-list .d-details,
.manage-achievements-i-d ul.achievements-list .a-details,
.manage-recommendations-i-d ul.recommendations-list .r-details
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    color:#41536E;
}
.manage-recommendations-i-d ul.recommendations-list .r-details p{
    font-size: 0.7rem;
    word-break: break-word;
}
.matching-details ul.certifications-list .c-details:not(:last-of-type),
.manage-s-v-i-d ul.skills-list .skill-details:not(:last-of-type),
.manage-reference-i-d ul.references-list .references-details:not(:last-of-type),
.manage-bgv-i-d ul.bg-list .bg-details:not(:last-of-type),
.matching-details ul.domains-list .d-details:not(:last-of-type),
.manage-achievements-i-d ul.achievements-list .a-details:not(:last-of-type),
.manage-recommendations-i-d ul.recommendations-list .r-details:not(:last-of-type)
{
    border-bottom: 1px solid #E0E3EF;
}
.manage-reference-i-d ul.references-list .references-details .btn-filled, 
.manage-s-v-i-d ul.skills-list .skill-details .btn-filled,
.manage-bgv-i-d ul.bg-list .bg-details .btn-filled
{
    padding: 8px 13px;
    font-size: 0.575rem;
    min-width: 80px;
}
/*Send request to candidate mini form*/

.manage-reference-i-d .modal-body .send-req-form{
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 10px;
    margin-top: 3%;
    -webkit-box-shadow: 2px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 9px -1px rgba(0,0,0,0.75);
}
.manage-reference-i-d .modal-body .send-req-form label{
    color: #6A7E9C;
    font-weight: 500;
}
.manage-reference-i-d .modal-body .send-req-form  .btn-filled{
    padding: 6px 11px;
}
.manage-s-v-i-d ul.skills-list .skill-details small a{
    font-size: 8px;
    font-weight: bold;
}
.manage-reference-i-d .modal-body li.references-details .fa{
    font-size: 25px;
}