<div class="card">
    <div class="dropdown card-dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
<svg xmlns="http://www.w3.org/2000/svg" width="4" height="20.7">
  <path d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z" fill="#448afa" />
</svg>
</button>
        <ul class="dropdown-menu">     
        <li><a (click)="editJob(job.JobId,job.IsActive)">Edit</a></li>       
            <ng-container *ngIf="job.JobStatus != 'Closed'">             
                <li *ngIf="job.IsActive;else isactive" id="Inactive"><a (click)="changeJobStatus(job,false)">Inactive</a></li>
            </ng-container>
            <ng-template #isactive>
                <li id="Active"><a (click)="changeJobStatus(job,true)">Active</a></li>
            </ng-template>
            <li><a (click)="OpenShareJobDialog(job.JobId)">Share</a></li>
        </ul>
    </div>
    <a>
        <header>
            <h3 class="medium"><span class="job-title" title="{{job?.JobTitle}}" (click)="ViewJobdetails(job?.JobId)">{{add3Dots(job?.JobTitle.split('|')[0],20)}}</span> <span class="status {{job?.JobStatus}} mlr-9"  >{{job?.JobStatus}}</span></h3>
           
            <div class="meta h-19">
                   
                            <!--Condition based border line starts-->
                            <ng-container *ngIf="job?.ClientName !=null && job?.Departments != null; else flasyTemp" >
                                <svg  fill="#93a2bb" xmlns="http://www.w3.org/2000/svg" viewBox="0 -31 512 512" width="16" height="19.3"><g><path d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0" data-original="#000000" class="active-path" data-old_color="#93a2bb" fill="#93a2bb"/></g> </svg> 
                                <h5 class="client" >
                                           {{job?.ClientName !=null ? job?.ClientName : '' }}
                                   </h5>
                                   <h5 class="ml-1" title="{{job?.Departments != null ? job?.Departments : 'N/A'}}" >  {{job?.Departments != null ? add3Dots(job.Departments.split('|')[0],35) : ''}}</h5>
           
                                </ng-container>
                           <!--Condition based border line ends-->
                           <ng-template #flasyTemp>
                                   <svg  *ngIf="job?.ClientName!=null || job?.Departments != null" fill="#93a2bb" xmlns="http://www.w3.org/2000/svg" viewBox="0 -31 512 512" width="16" height="19.3"><g><path d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0" data-original="#000000" class="active-path" data-old_color="#93a2bb" fill="#93a2bb"/></g> </svg>
                                   <h5>
                                           {{job?.ClientName !=null ? job?.ClientName : '' }}
                                   </h5>
                                  
                                   <h5 class="ml-1" title="{{job?.Departments != null ? job?.Departments : 'N/A'}}" >  {{job?.Departments != null ? add3Dots(job.Departments.split('|')[0],35) : ''}}</h5>
                           </ng-template>
                    
            </div>
            <div class="meta h-19">
                <svg *ngIf="job?.JobLocations!=null" fill="#93a2bb" xmlns="http://www.w3.org/2000/svg" width="19" height="19.3">
    <path class="st0" d="M8 19.3l-.6-.4c-.3-.2-7.5-5-7.5-10.9 0-4.4 3.6-8 8-8s8 3.6 8 8c0 5.9-7.1 10.7-7.4 10.9l-.5.4zM8 2C4.7 2 2 4.7 2 8c0 4 4.4 7.7 6 8.9 1.6-1.2 6-4.9 6-8.9 0-3.3-2.7-6-6-6z" />
    <path class="st0" d="M8.1 11.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3s3.3 1.5 3.3 3.3c0 1.8-1.5 3.3-3.3 3.3zm0-4.6c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3S9.4 8.7 9.4 8s-.6-1.3-1.3-1.3z" />
  </svg>
                <h5 class="location" *ngIf="job?.JobLocations!=null">
                    {{job?.JobLocations[0].CityName}}, {{job?.JobLocations[0].StateCode}}
                </h5>
                <h5>{{job?.PostedOn}}</h5>
                <ng-container *ngIf="job.JobPositionId !=''">    
                <h5 class="jobbl-1">Job Id : {{job?.JobPositionId}}</h5>
                </ng-container>
            </div>
            
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="stats">
                        <h1>{{job?.TotalApplicants}}</h1>
                        <h5>Prospect</h5>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="stats">
                            <!-- <h1>{{job?.SkilledApplicants}}</h1> -->
                        <h1>{{jobData||'0'}}</h1> 
                        <h5>Suggested</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="stats">
                        <h1>{{job?.ShortListedCount}}</h1>
                        <h5>Shortlisted</h5>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="stats">
                        <h1>{{job?.InterviewedCount}}</h1>
                        <h5>Interviews</h5>
                    </div>
                </div>
            </div>

            <div class="row third">
                <div class="col-md-12">
                    <div class="inner-row">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="stats">
                                    <h1>{{job?.TotalViewCount}}</h1>
                                    <h5>No. of views</h5>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="stats">
                                    <h1>{{job?.DislikesCount}}</h1>
                                    <h5>Dislikes</h5>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="stats">
                                    <h1>{{job?.LikesCount}}</h1>
                                    <h5>Likes</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="card-footer">
            <img src={{job?.ProfilePic}} alt="Avatar" class="ui-pic" width="50" height="50">
            <h3>{{job?.HiringLeaderName | titlecase}} </h3>
            <h5 class="meta">{{job?.UserRole}}</h5>
        </div>
    </a>
</div>

<alert class="overlap"></alert>