   <div class="search-toggle">
      <form #form="ngForm" (ngSubmit)="SearchEnter(searchString)">
        <!--New Filter Button-->
        <!-- <button class="adv-filters-btn btn new-filter-btn">
          <svg _ngcontent-c13="" height="21.1" width="19.3" xmlns="http://www.w3.org/2000/svg">
            <path _ngcontent-c13=""
              d="M7.2 21.1c-.2 0-.3 0-.5-.1-.3-.2-.5-.5-.5-.9v-9.9L.3 4.4a.9.9 0 0 1-.3-.7V1c0-.6.4-1 1-1h17.3c.6 0 1 .4 1 1v2.8c0 .3-.1.5-.3.7l-5.9 5.8v6.9c0 .4-.2.7-.5.9L7.7 21c-.1.1-.3.1-.5.1zM2 3.3l5.9 5.8c.2.2.3.4.3.7v8.5l2.9-1.7V9.9c0-.3.1-.5.3-.7l5.9-5.8V2H2v1.3z">
            </path>
          </svg> <span style="vertical-align: super;">Filters</span>
        </button> -->
        <!---->
        <input  autocomplete="off" type="text" [(ngModel)]="searchString" name="searchString" onkeypress="return event.keyCode != 35 " placeholder="Search"  #searchText (keyup)="GetSearchText(searchText.value)" id="searchStr">  
              <div class="searchList" *ngIf="SearchList.length>0">
                <ul class="searchList-dropdown">
                  <li class="searchList-options" *ngFor="let slist of SearchList" (click)="SetSearch(slist.split('-')[0])">{{slist.split('-')[0]}}</li>
                </ul>
              </div> 
              <button type="submit" (keyDown)="SearchEnter(searchString)" style="display: none;"></button>                              
          </form>
</div>

