<app-Logoheader></app-Logoheader>
<body class="page page--company-profile edit-mode">
  <main>
    <div class="container">
      <!--Culture Test Code-->
      <!-- <div class="row">
        <div class="col-xl-12">
          <div class="f-right">
              <a class="btn btn-border btn-lg p19-30" data-toggle="modal" href="#CultureTest">Take Culture Test</a>
              <a class="btn btn-border btn-lg p5-10" data-toggle="modal" href="#CultureTest">
                <div class="d-inline-b">
                    <div>
                        Culture Test <span class="italic f-10">(in-progress)</span>
                    </div>
                    <div>
                      
                          <div class="progress d-inline-b progress-cos">
                              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only"></span>
                              </div>
                              
                            </div>
                       
                          <span class="d-inline-b f-20 m-0">40%</span>
                    </div>
                </div>
                
                <div class="d-inline-b pl-2">
                    <svg class="r--90" height="43.25px" viewBox="-492.7 -2932.5 11.5 6.8" width="14px" xmlns="http://www.w3.org/2000/svg">
                      <path class="cls-1" d="M303.8,369l4.8,4.8,4.7-4.7" id="down-chevron-sm" transform="translate(-795.5 -3300.5)"></path>
                    </svg>
                </div>
               
              </a>
               <a class="btn btn-border btn-lg" (click)="getcandidateview()" >Candidate</a> 
          </div>
        </div>
      </div> -->
      <!--#Culture Test Code-->
      <div class="row">
        <app-basicinfo [companyprofile]="companyprofile" [getcompanylogo]="getcompanylogo"></app-basicinfo>
      </div>
      <div class="row">
        <app-otherinfo [companyprofileotherinfo]="companyprofileotherinfo"></app-otherinfo>
      </div>
      <div class="row">
        <app-aboutcompany [getaboutcompany]="getaboutcompany"></app-aboutcompany>
        <div class="col-md-6">
          <div class="row">
            <!-- culture -->
            <div class="col-md-12 culture-row">
              <div class="card card--location">
                <div class="card-header cultur-header">
                  <h1 class="title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="24">
                      <path class="st0"
                        d="M13 24c-.6 0-1.1-.2-1.6-.5l-4.9-3.9c-.6-.5-1-1.2-1-2V7.9c0-1.4 1.1-2.6 2.6-2.6h9.8c1.4 0 2.6 1.1 2.6 2.6v9.7c0 .8-.4 1.5-1 2l-4.9 3.9c-.5.3-1 .5-1.6.5zM8.1 7.3c-.3 0-.6.3-.6.6v9.7c0 .2.1.3.2.4l4.9 3.9c.2.2.5.2.7 0l4.9-3.9c.1-.1.2-.3.2-.4V7.9c0-.3-.3-.6-.6-.6H8.1z"
                        fill="#448AFA"></path>
                      <path class="st0"
                        d="M3.4 13.3c-.4 0-.8-.2-.9-.6L.2 7.4c-.3-.6-.3-1.3 0-2C.5 4.8.9 4.3 1.6 4l9-3.9c1.3-.6 2.8 0 3.4 1.3l.9 2.1c.2.5 0 1.1-.5 1.3-.5.2-1.1 0-1.3-.5l-.9-2.1c-.2-.1-.5-.3-.8-.2l-9 3.9c-.2.1-.3.2-.4.3s0 .3 0 .4l2.3 5.3c.2.5 0 1.1-.5 1.3-.1.1-.3.1-.4.1zM8.9 11.3h3.2v2H8.9zM14.4 11.3h3.2v2h-3.2zM13 19.6c-2.6 0-4.7-2.1-4.7-4.7h2c0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7h2c0 2.6-2.1 4.7-4.7 4.7z"
                        fill="#448AFA"></path>
                    </svg>
                    <span>Company Cultural Test</span>
                  </h1>
                  <a *ngIf="CulturalTestStatus == 0" class="add-btn" (click)="isChecked()" data-toggle="modal" data-target="#personality-test"
                    href="#WhitePaperModel">
                    <span class="add add--green rounded">+</span>
                    <span>Start Test</span>
                  </a>
                </div> <!-- .card-header -->
                <div class="card-inner">
                  <div *ngIf="CulturalTestStatus == 0" class="placeholder">
                    <img alt="icon" src="../../../../assets/images/personal-skills.svg">
                    <p>Take a Cultural test and we will tell you what kind of Company it is in Cultural Values.</p>
                    <img alt="" class="arrow" src="../../../../assets/images/skills-arrow.png">
                  </div>
                  <!-- if culture data -->
                  <div class="row" *ngIf="CulturalTestStatus > 0">
                    <div class="col-md-3 br-1">
                      <img class="mw-110" alt="icon" src="../../../../assets/images/personal-skills.svg">
                    </div>
                    <div class="col-md-9">
                      <h4 class="mt-0">Cultural Test <small><i
                            *ngIf="CulturalTestStatus<100 && CulturalTestStatus != 0 ">(in-progress)</i></small></h4>
                      <div class="col-md-4 w-auto">
                        <h5 class="mr-0">{{CulturalTestStatus}}%</h5>
                      </div>
                      <div class="col-md-8 w-inherit">
                        <div class="progress" style="height: 8px;">
                          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'min-width.%' : getCulturalTestStatus()}">
                            <span class="sr-only">{{CulturalTestStatus}}% Complete</span>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="CulturalTestStatus==100">
                        <button class="btn btn-success nxt" type="button" (click)="showGraph()" data-toggle="modal"
                          data-target="#personality-test">View Detailed Report</button>
                      </div>
                      <div *ngIf="CulturalTestStatus<100">
                        <button class="btn btn-success nxt" type="button" (click)="scroll(test,'Cultural Test')"
                          data-toggle="modal" data-target="#personality-test">Complete Test</button>
                      </div>
                    </div>
                  </div>
                  <!-- if culture data -->
                </div>
                <div class="wrap" style="display: none;">
                  <div class="card-content scroll-inner personality-test-results">
                    <!--Need to show this commented section by default-->
                    <div class="placeholder">
                      <img src="assets/images/personal-skills.svg" alt="icon">
                      <p>Take a Cultural test and we will tell you what kind of Company it is in Cultural Values.</p>
                      <img class="arrow" src="assets/images/skills-arrow.png" alt="">
                    </div>

                    <!--Progress Bars Code-->
                    <div class="row placeholder" style="text-align:left" *ngIf="CulturalTestStatus > 0">
                      <img src="assets/images/personal-skills.svg" alt="icon">
                      <!-- <div class="col-md-5 personality-result-view">
            <h4>Personality Test <i class="test-status"
                *ngIf="PersonalityTestStatus<100 && PersonalityTestStatus != 0">(In-Progress)</i></h4>
            <div class="row">
              <div class="col-md-8 ">
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{'min-width.%' : getPesonalityTestStatus()}">
                    <span class="sr-only">{{PersonalityTestStatus}}% Complete (success)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <h3>{{PersonalityTestStatus}}%</h3>
              </div>
            </div>
            <div *ngIf="PersonalityTestStatus==100">
              <button class="btn btn-success" (click)="showGraph()" data-toggle="modal"
                data-target="#personality-test">
                View Detailed Report</button>
            </div>
            <div *ngIf="PersonalityTestStatus<100">
              <button class="btn btn-success" (click)="scroll(test,'Personality Test')" data-toggle="modal"
                data-target="#personality-test">
                Complete Test
              </button>
            </div>
          </div> -->
                      <div class="col-md-5 culture-result-view">
                        <h4>Culture Test <i class="test-status">(In-Progress)</i></h4>
                        <div class="row">
                          <div class="col-md-8">
                            <div class="progress">
                              <div class="progress-bar progress-bar-info  progress-bar-striped active"
                                role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                [ngStyle]="{'min-width.%' : getCulturalTestStatus()}">
                                <span class="sr-only">{{CulturalTestStatus}}% Complete (success)</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <h3>{{CulturalTestStatus}}%</h3>
                          </div>
                        </div>
                        <div *ngIf="CulturalTestStatus==100">
                          <button class="btn btn-success" (click)="showGraph()" data-toggle="modal"
                            data-target="#personality-test">
                            View Detailed Report</button>
                        </div>
                        <div *ngIf="CulturalTestStatus<100">
                          <button class="btn btn-success" (click)="scroll(test,'Cultural Test')" data-toggle="modal"
                            data-target="#personality-test">
                            Complete Test
                          </button>
                        </div>
                        <!-- <button class="btn btn-success">View Detailed Report</button> -->
                      </div>
                    </div>
                  </div>
                  <!-- if culture data -->
                  <div class="row" style="display: none;">
                    <div class="col-md-3 br-1">
                      <img class="mw-110" alt="icon" src="../../../../assets/images/personal-skills.svg">
                    </div>
                    <div class="col-md-9">
                      <h4 class="mt-0">Cultural Test <small><i>(in-progress)</i></small></h4>
                      <div class="col-md-4 w-auto">
                        <h5 class="mr-0">45%</h5>
                      </div>
                      <div class="col-md-8 w-inherit">
                        <div class="progress" style="height: 8px;">
                          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            <span class="sr-only">45% Complete</span>
                          </div>
                        </div>
                      </div>
                      <div>
                        <button class="btn btn-success nxt" type="button">Complete Test</button>
                      </div>
                    </div>
                  </div>
                  <!-- if culture data -->
                </div>
              </div> <!-- .card--location -->
            </div>
            <!-- #culture -->
            <app-locations [companyprofilelocationinfo]="companyprofilelocationinfo"></app-locations>
          </div>
        </div>
      </div>
      <div class="row">
        <app-benefits [getcompanybenfit]="getcompanybenfit" [companyspecialities]="companyspecialities"
          [getcompanytechnology]="getcompanytechnology" [getCustomerClients]="getCustomerClients"
          [getCustomerDepartments]="getCustomerDepartments"></app-benefits>
        <!-- <app-specialities  [companyspecialities]="companyspecialities" [getcompanytechnology]="getcompanytechnology" [getCustomerClients]="getCustomerClients" [getCustomerDepartments]="getCustomerDepartments"></app-specialities> -->
      </div>
      <div class="row">
        <app-whitepaper></app-whitepaper>
        <app-questions></app-questions>
      </div>
      <div class="row">
        <app-achievementsandawards></app-achievementsandawards>
      </div>
      <div class="row">
        <app-culture></app-culture>
      </div>
      <router-outlet></router-outlet>

    </div>
  </main>
  <div class="modal fade news  personality-test-dialog " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    id="personality-test">
    <div class="modal-dialog" role="document">
      <!--Slide 1 Starts-->
      <div class="modal-content" *ngIf="progress== -1">
        <div class="modal-header">
          <button type="button" class="pull-right" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">Take Test</h4>
        </div>
        <div class="modal-body">
          <div>
            <!-- <div class="col-xs-6 col-md-6">
            <h5>Personality Test</h5>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet,
              consectetur adipiscing elit</p>
            <button *ngIf="PersonalityTestStatus < 100" (click)="scroll(test,'Personality Test')" class="thumbnail">
              <img src="assets/images/Personality-test.png" alt="Personality Test">
            </button>
            <button *ngIf="PersonalityTestStatus == 100" class="thumbnail" style="position: relative; z-index: 1;">
              <img src="assets/images/Personality-test.png" alt="Personality Test" style="-webkit-filter: blur(2px);">
              <span style="
              top: 20%;
              left: 35%;
              position: absolute;
              z-index: 2;
              align-self: center;
              ">
                <img src="assets/images/complete.png" style="all: unset;" alt="complete Test">
                <br>
                <button type="button" class="btn btn-success" (click)="showGraph()">View Results</button>
              </span>
            </button>
          </div> -->
            <div class="col-xs-12 col-md-12 take-cultural-test">
              <!-- <h5>Cultural Test</h5> -->
              <p class="text-center"><em>
                  Having core company values can assist you to ensure each of your employees, from top leadership to
                  entry-level, are working towards the same common goal, and share a bigger purpose.
                </em> </p>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <button (click)="scroll(test,'Cultural Test')" class="thumbnail cultural-test-btn"
                *ngIf="CulturalTestStatus < 100">
                <img src="assets/images/Cultural-test.png" alt="Cultural Test">
              </button>
              <button *ngIf="CulturalTestStatus == 100" class="thumbnail cultural-test-btn"
                style="position: relative; z-index: 1;">
                <img src="assets/images/Cultural-test.png" alt="Cultural Test" style="-webkit-filter: blur(2px);">
                <span style="top: 20%;left: 35%; position: absolute;z-index: 2; align-self: center;">
                  <img src="assets/images/complete.png" style="all: unset;" alt="complete Test">
                  <br>
                  <button type="button" class="btn btn-success" (click)="showGraph()">View Results</button>
                </span>
              </button>
              <!-- <div *ngIf="CulturalTestStatus == 100" >
              <img src="assets/images/complete.png" alt="Personality Test">
              <br>
              <button type="button" class="btn btn-success" (click)="showGraph()">View Results</button>
            </div> -->
            </div>
          </div>
        </div>
        <div class="modal-footer layout layout--btn">
          <button type="button" class="btn btn-border" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
      <!--Slide 1 Ends-->

      <!--Slide 2 Starts-->
      <div #test>
        <div class="modal-content" style="height: 100%;" *ngIf="progress > -1">
          <div class="modal-header">
            <button type="button" class="pull-right" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">{{testType}} Fit</h4>
          </div>
          <div class="modal-body">
            <div class="col-md-12">
              <div class="col-md-1">{{progressbarStatus | number }}%</div>
              <div class="progress col-md-11 no-pad">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                  aria-valuemax="100" [ngStyle]="{'min-width.%' : getprogressStatus()}">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th *ngFor="let res of response" style="text-align: center;">{{res}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let que of filterquestionList ;let j = index">
                    <th scope="row">
                      <h6>{{que.code}}</h6>
                    </th>
                    <td *ngFor="let res of response; let i = index" style="width:12%">
                      <div class="radio-box inline">
                        <label for="text" class="radio" for="{{que.id}}_{{i}}_1">
                          <input type="radio" id="{{que.id}}_{{i}}_1" name="{{que.id}}_1"
                            [(ngModel)]="Radioans[j].checked" value="{{que.id}}_{{i}}_1" class="radio-input radiobtn"
                            (change)="handleChange($event, i, que.id)">
                          <span class="radio-btn"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer layout layout--btn">
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <!-- <div *ngIf="testType=='Personality Test'">
            <a [ngClass]="{'disabledLink': queans<6}" class="pull-left">
              <span (click)="switchQue(test,'Cultural Test')">Save
                and Skip
                to Cultural Test
              </span>
            </a>
          </div>
          <div *ngIf="testType=='Cultural Test'">
            <a [ngClass]="{'disabledLink': queans<6}" class="pull-left">
              <span (click)="switchQue(test,'Personality Test')">Save
                and Skip
                to Personality Test
              </span>
            </a>
          </div> -->
            <button type="button" class="btn btn-border" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-filled" [disabled]="queans < 6"
              (click)="saveTestResponse(test,'Save')">Save &
              Next</button>
            <div class="clearfix">&nbsp;</div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
      <!--Slide 2 Ends-->

      <!--Slide 3 Result Draft View-->
      <div class="modal-content vh100 p1" *ngIf="progress ==-2">
        <div class="modal-header p-0 h-0 ">
          <!-- <button type="button" class="pull-right" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button> -->
        </div>
        <div class="modal-body">
          <div>
            <!-- <canvas #TestGrapChart width="400" height="400"></canvas> -->
            <div class="row">
              <div class="col-md-12 text-center">
                <h4>Cultural Fit Results 
                  <!-- <img title="Download Detailed Test Report"
                    src="../../assets/images/download-graph.png" style="width: 32px;"> -->
                  </h4>
              </div>
            </div>
            <div class="row p-rel" *ngIf="culturalAvg > 0">
              <div class="col-md-8 margin-auto text-center">
                <span *ngFor="let label of graphLabelList1; let i=index">
                  <a class="d-inline-b">
                    <span class="chart-label" [ngStyle]="{'background-color': label.GroupColor}">
                    </span>
                    {{label.GroupLabel}} - {{label.GroupPer}}%
                  </a>
                </span>
                <div class="clearfix">&nbsp;</div>
                <div style="width:70%;margin:auto;">
                  <canvas #testChart9 width="400" height="400"></canvas>
                </div>
              </div>
            </div>
            <!-- <div ngIf="CulturalResponse.questionnaireResponses.length == 12"> -->
            <!-- Cultural Test Average = {{culturalAvg | number}} % -->
            <!-- </div> -->

          </div>
        </div>

        <div class="modal-footer modal-p layout layout--btn">
          <button type="button" class="btn btn-border" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!--Slide 3 Ends-->

    </div><!-- /.modal-dialog -->
  </div>
</body>