.candidate-info .ui-badge.no-certification {
    padding: 3px 5px!important;
}

.candidate-info .no-domain {
    text-align: left;
    padding: 8px 5px;
}

header h2 img {
    max-height: 17px;
}
/*styles 08-04-2020*/
.applications .domains{
    padding-left: 15px;
}
.applications .domains label{
    font-size: 10px;
    color: #93A2BB;
}
.applications .domains span{
    font-size: 10px;
    padding-right: 4px;
    padding-left: 4px;
    color: #93A2BB;
}
.candidate-info .skills-section{
    padding-left: 3px;
    padding-right: 3px;
}
.candidate-info h5{
    font-size: 10px;
    color: #41536E;
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.candidate-info h6{
    color:#41536E;
}
.candidate-info .progress{
    height: 8px;
    margin-bottom: 0px;
}
.candidate-info .v-divider{
    margin: 0 8px;
    border-right: 0.1rem solid #E0E3EF;
}
.applications .card{
    padding: 20px;
}
.applications .card .header .ui-pic{
    left: 10px;
}
.applications .card .left{
    flex-basis: 60%;
}
.applications .card .header{
    padding-right: 5px;
    padding-left: 25px;
}
.applications .candidate-info{
    padding: 0px 13px 0px;
}
.applications .card .meta span{
    font-size: 0.8rem;
}

.applications .card .right{
    flex-basis: 40%;
    padding: 0 5px;
}
.right h6.text-right{
    margin: 0 0px 5px 0px;
    color: #93A2BB;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right h6 span{
    color: #6A7E9C;
}
.right .disc-placeholder{
    border-right: 2px solid #E0E3EF;
    padding-top: 4%;
}
.right .applied-for{
    margin-bottom: 12%;
}
.applied-for span.referral-status{
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    background-color: #75A6F5;
    padding: 4.5px 6.5px;
    color: #fff!important;
}
.applications .card .meta span.current-location{
    vertical-align: sub;
}
.candidate-info .v-divider{
    margin-right: 8px;
}
.candidate-info .v-divider:last-child{
display: none;
}