<div class="col-xs-12 col-sm-12 col-md-6">
  <div class="card message">
    <h1>Welcome to the future of Recruitment.</h1>
    <p> Find the best talent here that fits your job requirement, the personality your job need in the culture your
      company follows.</p>

    <span><a (click)="exploremore()">Click here</a> to know about the complete features that arytic offers you.</span>
  </div>
</div>