<div style="text-align: end">
  <a href="javascript:void(0)" class="add-btn pr-0" data-toggle="modal" (click)="ClearThevalues()"
    href="#certificationsModel">
    <span class="add add--green rounded">+</span>
    <!-- <span>Add</span> -->
  </a>
  <span *ngIf="getcompanycertification.length==0">
    Add Company Certifications
  </span>
</div>


<div class="tab-inner scrollbar-inner" >
  <ul class="achievements__list edit-delete-dropdown" *ngIf="getcompanycertification.length>0">
    <li class="item text-center" *ngFor="let companycertification of getcompanycertification">
      <div class="img-170">
        <!-- <button class="btn delete-btn" >X</button> -->
        <div class="dropdown card-dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20.7">
              <path
                d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"
                fill="#448afa"></path>
            </svg>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:void(0)" data-toggle="modal" href="#certificationsModel"
                (click)="Edit(companycertification)">Edit</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="DeleteCId(companycertification?.CompanyCertificationId)">Delete</a>
            </li>
          </ul>
        </div>
        <img class="img-responsive m-auto" src="{{companycertification?.Logotitle}}" alt="">
      </div>

      <p>
        {{companycertification?.CertificationName}}
      </p>
      <!-- <p>
                  {{companycertification?.CertifiedUnder}}
              </p> -->
    </li>
  </ul>
     <!--Empty Data Placeholder-->
 <div class="hint-text text-center" *ngIf="getcompanycertification.length==0">
  <svg xmlns="http://www.w3.org/2000/svg" width="24.5" height="21.7">
    <g>
      <path class="st0" d="M18.5 16c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6zm0-10c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4z"></path>
      <path class="st0" d="M14.9 21.7c-.2 0-.4-.1-.5-.2-.3-.2-.5-.6-.4-1l.9-6.5c.1-.5.6-.9 1.1-.9.5.1.9.6.9 1.1l-.6 4.5 1.8-1.1c.3-.2.7-.2 1 0l1.8 1.1-.6-4.5c-.1-.5.3-1.1.9-1.1.5-.1 1.1.3 1.1.9l.9 6.5c.1.4-.1.8-.4 1-.3.2-.7.2-1.1 0l-3.1-1.8-3.1 1.8c-.2.2-.4.2-.6.2zM10 18H2.3C1 18 0 16.9 0 15.7V2.3C0 1 1 0 2.3 0h19.4C23 0 24 1 24 2.3c0 .6-.4 1-1 1s-1-.4-1-1c0-.2-.1-.3-.3-.3H2.3c-.2 0-.3.1-.3.3v13.4c0 .1.1.3.3.3H10c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
      <path class="st0" d="M11 7.5H4.9c-.6 0-1-.4-1-1s.4-1 1-1H11c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
      <path class="st0" d="M9.1 13.3H4.9c-.6 0-1-.4-1-1s.4-1 1-1h4.2c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
    </g>
  </svg>
  <h4>Provide your Company Certifications. It attracts Candidates to explore more about the company.</h4>
</div>
<!--Empty Data Placeholder-->
</div>


<div Id="certificationsModel" class="modal fade certifications" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!---->
      <div class="row">
        <div class="col-md-12 ">
          <div class="card card--other-info">
            <div class="card-header header-title">
              <h1 class="title">
                <span>Certifications</span>
              </h1>
              <alert class="basic-info-alert"></alert>
              <div class="layout layout--btn">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
            </div> <!-- .header -->

            <div class="row">
              <div class="col-md-6">
                <div class="card-inner culture-add-imgs">
                  <form>
                    <div class="form-group c-form-group">
                      <label class="title-lab">
                        Title
                      </label>
                      <input type="text" class="form-control" name="cname" maxlength="20"   [(ngModel)]="Cname" placeholder="Title" />
                    </div>
                    <div class="form-group c-form-group">
                      <label class="title-lab">
                        Description
                      </label>
                      <textarea type="text" class="form-control" name="cdescription" [(ngModel)]="Cdescription"
                        placeholder="Description" rows="6"></textarea>
                    </div>





                  </form>

                </div>

              </div>
              <div class="col-md-6 bl-1">
                <div class="culture-add-imgs scrollbar-inner">

                  <div class="card-inner placeholder">
                    <div class="card-content">


                      <div class="culture-card file-upload-dashed">
                        <div class="img-wrapper">
                          <div class="img-170">
                            <button class="btn delete-btn t2-r30 upload-close-btn" (click)="Clear()">X</button>

                            <img class="img-responsive" [src]="CimageSrc || 'https://via.placeholder.com/150'"
                              id="profile" alt="">

                          </div>

                        </div>
                        <div class="culture-card text-center pointer pt-1" (click)="photo.click()">
                          <input class="hidden" type="file" #photo (click)="photo.value = null" value=""
                            (change)="onFileChangeCertification($event)">
                          <img src="../../../../assets/images/upload-icon.svg" style="max-width:22px" alt="icon">
                          <p class="m-0">Upload Image</p>
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-12 p0-30">
                <div class="bt-1-E0E3EF mrl--15">
                  <a data-dismiss="modal" class="btn btn-filled btn-next pull-right mtb-5r-25"
                    (click)="uploadCertification()" href="javascript:void(0)">Submit</a>

                </div>
              </div>

            </div>
            <!-- <div class="placeholder">
                        <div class="flex-col">
                          <img src="../../../../assets/images/uploading-file.svg" style="max-width:32px" alt="icon">
                          <p>There are no Culture Images added</p>
                          <button class="btn green-btn  modalBtn" data-toggle="modal" data-target="#education">
                            <span>+</span>Add Images
                          </button>
          
                        </div>
                      </div> 
          
          
          
                    </div> .card--other-info -->
          </div> <!-- .col-md-12 -->
        </div> <!-- .row -->

        <!---->
      </div>
    </div>
  </div>
</div>