<app-Logoheader></app-Logoheader>
<body class="page page--notifications">
  <!-- Modal -->
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-2">
          <h1>Notifications</h1>
        </div>
      </div>
      <ul class="date-collection">
        <ng-container *ngIf="notificationList!=null;else notification">
        <li class="date-group" *ngFor="let listview of notificationList; let i=index">
          <div class="date">{{listview.CreatedOn|date}}</div>
          <div class="milestone"><span></span></div>
          <div class="all-notifications">
            <ul class="notification-list">
              <li>
                <img src="{{listview.ProfilePic}}" alt="Avatar" class="ui-pic" width="40" height="40">
                <p><b>{{listview.Message}} </b> </p>
                <div class="time">{{listview.CreatedOn|date:'h:mm a'}}</div>
              </li>            
            </ul>
          </div>
        </li>
        </ng-container>
        <ng-template #notification>
          <p>No Notifications</p>
        </ng-template>
        <!-- .date-group -->
      </ul>
      <!-- .date-collection -->
    </div>
  </main>
  <script src="js/libs.js"></script>
  <script src="js/app.js"></script>

</body>
