
<div class="col-xl-12">
  <div class="card card--culture">
    <div class="card-header">
      <h1 class="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="24">
          <path class="st0"
            d="M13 24c-.6 0-1.1-.2-1.6-.5l-4.9-3.9c-.6-.5-1-1.2-1-2V7.9c0-1.4 1.1-2.6 2.6-2.6h9.8c1.4 0 2.6 1.1 2.6 2.6v9.7c0 .8-.4 1.5-1 2l-4.9 3.9c-.5.3-1 .5-1.6.5zM8.1 7.3c-.3 0-.6.3-.6.6v9.7c0 .2.1.3.2.4l4.9 3.9c.2.2.5.2.7 0l4.9-3.9c.1-.1.2-.3.2-.4V7.9c0-.3-.3-.6-.6-.6H8.1z"
            fill="#448AFA"></path>
          <path class="st0"
            d="M3.4 13.3c-.4 0-.8-.2-.9-.6L.2 7.4c-.3-.6-.3-1.3 0-2C.5 4.8.9 4.3 1.6 4l9-3.9c1.3-.6 2.8 0 3.4 1.3l.9 2.1c.2.5 0 1.1-.5 1.3-.5.2-1.1 0-1.3-.5l-.9-2.1c-.2-.1-.5-.3-.8-.2l-9 3.9c-.2.1-.3.2-.4.3s0 .3 0 .4l2.3 5.3c.2.5 0 1.1-.5 1.3-.1.1-.3.1-.4.1zM8.9 11.3h3.2v2H8.9zM14.4 11.3h3.2v2h-3.2zM13 19.6c-2.6 0-4.7-2.1-4.7-4.7h2c0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7h2c0 2.6-2.1 4.7-4.7 4.7z"
            fill="#448AFA"></path>
        </svg>
        <span>Culture</span>
      </h1>
      <a href="javascript:void(0)" class="add-btn" (click)="ClearThevalues()" data-toggle="modal"
        data-target="#culture">
        <span class="add add--green rounded">+</span>
        <span *ngIf="getcompanycluture.length==0" >Add Culture</span>
      </a>
    </div>
    <div class="card-inner" *ngIf="getcompanycluture.length>0">
      <div class="card-content">
        <div id="cultural-carousel">
          <div class="row">
            <div class="column col-md-2 col-xs-12 col-sm-6" *ngFor="let companycluture of getcompanycluture">
              <div class="owl-item cloned edit-delete-dropdown">
                <div class="item cultural-item">
                  <div class="img-wrapper ">
                    <div class="img-170">
                      <!--New Edit Delete-->
                      <div class="dropdown card-dropdown culture-dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20.7">
                            <path
                              d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"
                              fill="#448afa"></path>
                          </svg>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="javascript:void(0)" data-toggle="modal" href="#culture"
                              (click)="Edit(companycluture)">Edit</a>
                          </li>
                          <li>
                            <a href="javascript:void(0)" (click)="DeleteId(companycluture?.CompanyCultureId)">Delete</a>
                          </li>
                        </ul>
                      </div>

                      <!--New Edit Delete-->
                      <!-- <button class="delete-btn" (click)="DeleteId(companycluture?.CompanyCultureId)">x</button> -->

                      <img class="img-responsive" height="200" title="{{companycluture?.EventName}}"
                        src="{{companycluture.EventPhoto}}" alt="companycluture?.EventName">
                    </div>
                    <h4>{{companycluture?.EventName}}</h4>
                    <!-- <p>
                        {{companycluture?.EventDescription}}
                      </p> -->
                  </div>
                </div>
              </div>
              <!--<div id="cultural-carousel" class="owl-carousel owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-1290px, 0px, 0px); transition: all 0s ease 0s; width: 4085px;">
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;"  *ngFor="let companycluture of getcompanycluture">
                      <div class="item">
                        <div class="img-wrapper" >
                          <button class="btn delete-btn">X</button>
                        
                          <img class="img-responsive" title="{{companycluture.EventName}}" src="{{companycluture.EventPhoto}}" alt="">
                        </div> 
              </div>
              </div> -->
              <!-- <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 205px; margin-right: 10px;">
                <div class="item active">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item active" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item active">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="owl-item cloned" style="width: 205px; margin-right: 10px;">
                <div class="item">
                  <div class="img-wrapper">
                    <button class="btn delete-btn">X</button>
                    <img class="img-responsive" src="../../../../assets/images/slider-img-2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span class="icon-down-arrow"><img src="/images/slider-nav-right.png" alt=""></span></button><button type="button" role="presentation" class="owl-next"><span class="icon-down-arrow"><img src="/images/slider-nav-right.png" alt=""></span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div> -->
            </div>
            <!-- Left and right controls -->
            <!-- <a class="left carousel-control" href="javascript:void(0)" data-slide="prev">

          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="javascript:void(0)" data-slide="next"> 

        </a>-->
          </div>
        </div>
      </div> <!-- .card--culture -->
    </div>
    <!--Empty Data Placeholder-->
    <div class="hint-text text-center" *ngIf="getcompanycluture.length==0">
      <svg xmlns="http://www.w3.org/2000/svg" width="20.5" height="24">
        <path class="st0"
          d="M13 24c-.6 0-1.1-.2-1.6-.5l-4.9-3.9c-.6-.5-1-1.2-1-2V7.9c0-1.4 1.1-2.6 2.6-2.6h9.8c1.4 0 2.6 1.1 2.6 2.6v9.7c0 .8-.4 1.5-1 2l-4.9 3.9c-.5.3-1 .5-1.6.5zM8.1 7.3c-.3 0-.6.3-.6.6v9.7c0 .2.1.3.2.4l4.9 3.9c.2.2.5.2.7 0l4.9-3.9c.1-.1.2-.3.2-.4V7.9c0-.3-.3-.6-.6-.6H8.1z"
          fill="#448AFA"></path>
        <path class="st0"
          d="M3.4 13.3c-.4 0-.8-.2-.9-.6L.2 7.4c-.3-.6-.3-1.3 0-2C.5 4.8.9 4.3 1.6 4l9-3.9c1.3-.6 2.8 0 3.4 1.3l.9 2.1c.2.5 0 1.1-.5 1.3-.5.2-1.1 0-1.3-.5l-.9-2.1c-.2-.1-.5-.3-.8-.2l-9 3.9c-.2.1-.3.2-.4.3s0 .3 0 .4l2.3 5.3c.2.5 0 1.1-.5 1.3-.1.1-.3.1-.4.1zM8.9 11.3h3.2v2H8.9zM14.4 11.3h3.2v2h-3.2zM13 19.6c-2.6 0-4.7-2.1-4.7-4.7h2c0 1.5 1.2 2.7 2.7 2.7s2.7-1.2 2.7-2.7h2c0 2.6-2.1 4.7-4.7 4.7z"
          fill="#448AFA"></path>
      </svg>
      <h4>Provide Culture of the company. It boosts the Job Postings.</h4>
    </div>
    <!--Empty Data Placeholder-->

    <!--modal-->
    <div id="culture" class="modal fade culture" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <!---->
          <div class="row">
            <div class="col-md-12 ">
              <div class="card card--other-info">
                <div class="card-header">
                  <h1 class="title">
                    <span>Culture</span>
                  </h1>
                  <alert class="basic-info-alert"></alert>
                  <div class="layout layout--btn">       
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                  </div>
                </div> <!-- .header -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="card-inner culture-add-imgs">
                      <form>
                        <div class="form-group c-form-group">
                          <label class="title-lab">
                            Title
                          </label>
                          <input type="text" class="form-control"  maxlength="20" name="name" [(ngModel)]="name" placeholder="Title" />
                        </div>
                        <div class="form-group c-form-group">
                          <label class="title-lab">
                            Description
                          </label>
                          <textarea type="text" class="form-control" name="description" [(ngModel)]="description"
                            placeholder="Description" rows="6"></textarea>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6 bl-1">
                    <div class="culture-add-imgs scrollbar-inner">
                      <div class="card-inner placeholder">
                        <div class="card-content">
                          <div class="culture-card file-upload-dashed">
                            <div class="img-wrapper">
                              <div class="img-170">
                                <button class="btn delete-btn r-30" (click)="Clear()">X</button>

                                <img class="img-responsive" [src]="imageSrc || 'https://via.placeholder.com/150'"
                                  id="profile" alt="">
                              </div>
                            </div>
                            <div class="culture-card text-center pointer pt-1" (click)="photo.click()">
                              <input class="hidden" type="file" #photo (click)="photo.value = null" value=""
                                (change)="onFileChange($event)">
                              <img src="../../../../assets/images/upload-icon.svg" style="max-width:22px" alt="icon">
                              <p class="m-0">Upload Image</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 p0-30">
                    <div class="bt-1-E0E3EF mrl--15">
                      <a data-dismiss="modal" class="btn btn-filled btn-next pull-right mtb-5r-25"
                        href="javascript:void(0)" (click)="uploadPhoto()">Submit</a>
                    </div>
                  </div>
                </div>
                <!-- <div class="placeholder">
                  <div class="flex-col">
                    <img src="../../../../assets/images/uploading-file.svg" style="max-width:32px" alt="icon">
                    <p>There are no Culture Images added</p>
                    <button class="btn green-btn  modalBtn" data-toggle="modal" data-target="#education">
                      <span>+</span>Add Images
                    </button>

                  </div>
                </div> 



              </div> <!-- .card--other-info -->
              </div> <!-- .col-md-12 -->
            </div> <!-- .row -->

            <!---->
          </div>
        </div>
      </div>