<div class="col-lg-9">
  <div class="right">
    <div class="tab-content">
      <div id="billing" class="tab-pane fade active in">
        <h1>Billing and Payments</h1>
        <ul class="nav nav-tabs">
          <li class="" id="ov"><a data-toggle="tab" href="#overview" aria-expanded="false">Overview</a></li>
          <li class="" id="be"><a data-toggle="tab" href="#estimates" aria-expanded="false">Billing Estimates</a></li>
          <li class="" id="bd"><a data-toggle="tab" href="#billing-details" aria-expanded="false">Billing Details</a></li>
          <li class="" id="bh"><a data-toggle="tab" href="#billing-history" aria-expanded="false">Billing History</a></li>
          <li class="active"><a data-toggle="tab" href="#subscription" aria-expanded="false">Manage Subscription</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="overview" class="tab-pane fade overview-panels">
            <div class="row">

              <div class="col-md-6">
                <div class="panel panel-default box-shadow">
                  <div class="panel-body" *ngIf="Plans">
                    <div>
                      <h2 class="panel-title">Bill Estimate</h2>
                    </div>
                    <ng-container>
                      <div>
                        <div class="pb_5">
                          <ng-container>
                            <h4 class="d-inline">{{sdetails?.currencyCode}} {{amount}}</h4><small
                              class="d-inline pl-_5">(Inclusive of Hiring Fees &
                              Taxes)</small>
                          </ng-container>

                        </div>
                        <ng-container *ngIf="sdetails?.planId!='trial'">
                          <div class="pb_5">Plan : <span class="pl-_5 plan-type">{{sdetails?.planId.slice(0,-6)}} </span>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="sdetails?.planId=='trial'">
                          <div class="pb_5">Plan : <span class="pl-_5 plan-type">Trial</span>
                          </div>
                        </ng-container>
                       
                        <div class="pb_5">Next Renewal on :
                           <span class="pl-_5" *ngIf="sdetails?.nextBillingAt!=null">{{sdetails?.nextBillingAt | date}}</span>
                            <span class="pl-_5" *ngIf="sdetails?.nextBillingAt==null">Plan Expired/Cancelled</span>
                          </div>
                            <a data-toggle="tab" (click)="removeactive()" href="#estimates">View More</a>
                      
                      </div>
                    </ng-container>


                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default box-shadow">
                  <div class="panel-body">
                    <div>
                      <h2 class="panel-title">Billing Details</h2>
                    </div>
                    <div>
                      <div class="table-row">
                        <div class="payment-group">
                          <div class="form-group p-0">
                            <div class="edit-group p-0 border-w-0">
                              <div><img src="../../../../assets/images/paypal-logo.png" alt="Paypal"></div>
                              <div>
                                <h4>Paypal</h4>
                                <p class="m-0">{{carddetails?.maskedNumber}}</p>
                              </div>
                              <div>
                                <h5>Expiry</h5>
                                <p class="m-0">3 / 23 / 2019</p>
                              </div>
                            </div>

                            <div class="edit-group p-0 border-w-0">
                              <!--NO  Billing Details -->
                              <div class="media">
                                <div class="media-left media-middle">
                                  <a href="javascript:void(0)">
                                    <img class="media-object" width="52px"
                                      src="../../../../assets/images/addpayment.svg" alt="...">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">No Billing Details</h4>
                                  <p>Please Add Payment Type</p>
                                </div>
                              </div>
                              <!-- NO Billing Details -->
                              <!-- <div>
                                  <h4>Paypal</h4>
                                  <p class="m-0">XXXX XXXX XXXX 3456</p>
                                </div>
                                <div>
                                  <h5>Expiry</h5>
                                  <p class="m-0">3 / 23 / 2019</p>
                                </div> -->

                            </div>

                          </div>
                        </div>
                      </div>
                      <!-- if data -->
                      <!-- <div class="pb_5">Billing Period: <span class="pl-_5">  No Billing History</span></div> -->
                      <!-- #if data -->
                      <ng-container *ngIf="carddetails!=null">
                        <div class="col-md-3">
                          <div><img width="50" src="../../../../assets/images/payment/nocreditcard.svg" alt="nocreditcard"></div>
                        </div>
                                  <div class="col-md-5">
                                    <h5>Credit/Debit Card</h5>
                                    <p class="m-0">{{carddetails?.maskedNumber}}</p>
                                  </div>
                                  <div class="col-md-4">
                                    <h5>Expiry</h5>
                                    <p class="m-0">{{carddetails?.expiryMonth}}/ {{carddetails?.expiryYear}}</p>
                                  </div>
                      </ng-container>
                      <ng-container *ngIf="carddetails==null">
                        <div class="no-billing pb_5">
                          <div class="media">
                            <div class="media-left media-middle">
                              <a href="javascript:void(0)">
                                <img class="media-object" width="52px"
                                  src="../../../../assets/images/no-billing-image.png" alt="...">
                              </a>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">No Billing Details!!</h4>
                              <p>Your Billing details snippet will be shown here</p>
                            </div>
                          </div>
                        </div>
                      </ng-container>


                      <a data-toggle="tab" (click)="removeactives()" href="#billing-details">Manage Billing Details</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-default box-shadow">
                  <div class="panel-body b-h">
                    <div>
                      <h2 class="panel-title">Bill History</h2>
                    </div>
                    <div>
                      <!-- If billing -->
                     
                       <ng-container *ngIf="InvoicesList.length>0">
                        <div>              
                        <table class="table m-0 td-p-8">
                          <thead>
                            <tr>
                              <th>Paid On</th>
                              <th>Status</th>  
                              <th>Amount</th>          
                            </tr>
                          </thead>    
                          <tbody>
                            <tr *ngFor="let history of InvoicesList;let i=index">
                              <ng-container *ngIf="i<2">
                                <td>{{history?.paidAt  | date:'mediumDate'}} </td>                              
                                <td>Paid</td>
                                <td>$ {{history?.total/100}}</td>
                              </ng-container>                          
                            </tr>
                          </tbody>
                          </table>
                          <a data-toggle="tab" (click)="removeactiveh()" href="#billing-history">View More</a>                   
                        </div>
                      </ng-container>
                    
                          <ng-container *ngIf="InvoicesList.length==0">
                            <div class="no-billing-view text-center">
                          <img src="./../../../../assets/images/no-billing-image.png">
                          <h5>No Billing History</h5>
                          <p>Your Billing history snippet will be shown here</p>
                           </div> 
                           </ng-container>

                    
                      

                

                      <!-- #If billing -->
                      <!-- If no billing -->
                      <!-- <div class="no-billing">
                        <div class="media">
                          <div class="media-left media-middle">
                            <a href="javascript:void(0)">
                              <img class="media-object" width="52px"
                                src="../../../../assets/images/no-billing-image.png" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">No Billing History</h4>
                            <p>Your Billing history snippet will be shown here</p>
                          </div>
                        </div>
                      </div> -->
                      <!-- #If no billing -->
                    </div>


                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default box-shadow">
                  <div class="panel-body">
                    <div>
                      <h2 class="panel-title">Billing Contacts</h2>
                    </div>
                    <div>
                      <div class="media">
                        <div class="media-left media-middle">
                          <a href="javascript:void(0)">
                            <img class="media-object"
                              src="https://ui-avatars.com/api/?name={{this.customer?.FirstName}}+{{this.customer?.LastName}}"
                              alt="User">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">{{contactdetails?.firstName}}{{contactdetails?.lastName}}</h4>
                          <span>{{contactdetails?.email}}</span>
                        </div>
                      </div>
                      <!-- <div class="ptb_5">Send Copy to: <span class="pl-_5"> accounts@admin.com</span> </div> -->
                      <a data-toggle="tab" (click)="removeactives()" href="#billing-details">Manage Billing Contacts</a>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="estimates" class="tab-pane fade">
            <app-estimates></app-estimates>
          </div>
          <div id="billing-details" class="tab-pane fade">
            <app-billing-details></app-billing-details>
          </div>
          <div id="billing-history" class="tab-pane fade">
            <!-- if billing-history -->
            <div>
              <app-billing-history></app-billing-history>
            </div>
            <!-- #if billing-history -->
            <!-- if no billing-history -->
            <!-- <div class="no-billing-view">
              <img src="./../../../../assets/images/no-billing-image.png">
              <h5>No Billing History</h5>
              <p>Your Billing history snippet will be shown here</p>
            </div> -->
            <!-- #if no billing-history -->
          </div>
          <div id="subscription" class="tab-pane fade bs-responsive-tabs active in">
            <app-manage-subscriptions id="subscription"></app-manage-subscriptions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>