<alert class="basic-info-alert"></alert>
<div class="col-xl-12" *ngIf="!iseditProfile">
  <div class="card card--basic-info">
    <div class="card-header">
      <h1 class="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="18.5px" height="20px" viewBox="-1939 -3251 20.519 22.078"
          fill="none" stroke="#448afa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
          <g id="info-icon" transform="translate(-2150 -3481)">
            <line y1="4" transform="translate(221.5 240)"></line>
            <line transform="translate(221.5 236)"></line>
            <path
              d="M17.961,1H2.559A1.607,1.607,0,0,0,1,2.559V16.4a1.607,1.607,0,0,0,1.559,1.559H7.142l3.117,3.117,3.117-3.117h4.584A1.607,1.607,0,0,0,19.519,16.4V2.559A1.607,1.607,0,0,0,17.961,1Z"
              transform="translate(211 230)"></path>
          </g>
        </svg>
        <span>Basic Info</span>
      </h1>
      <a (click)="iseditProfile=!iseditProfile" class="edit-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="none" stroke="#93a2bb"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
          viewBox="-750.5 -3250.6 19.9 20">
          <g id="edit-icon" transform="translate(-2150 -3481)">
            <path
              d="M1246.4,42.4v5.5a1.793,1.793,0,0,1-1.8,1.8h-12.3a1.793,1.793,0,0,1-1.8-1.8V35.7a1.793,1.793,0,0,1,1.8-1.8h5.5"
              transform="translate(170 199.7)"></path>
            <path d="M1246.6,31.7l1.8,1.8-9.6,9.7-2.6.7.7-2.6Z" transform="translate(170 199.7)"></path>
          </g>
        </svg>
        <span>Edit</span>
      </a>
    </div>
    <div class="card-inner">
      <div class="company-logo" *ngIf="getcompanylogo">
        <div class="img">
          <img class="img-responsive" width="200" title="{{getcompanylogo?.CompanyName}}"
            src="{{companyLogo?.CompanyLogo}}" alt="Company Logo">
        </div>
      </div>
      <div class="company-info">
        <h1>{{companyprofile?.CompanyName}}</h1>
        <h3>IT Consulting</h3>
        <div class="social-media">
          <ng-container *ngIf="companyprofile?.TwitterURL!=null && companyprofile?.TwitterURL!=''">
            <a [attr.href]="companyprofile?.TwitterURL" target="_blank">
              <img src="../../../../assets/images/twitter-icon.svg" alt="Twitter">
            </a>
          </ng-container>
          <ng-container
            *ngIf="companyprofile?.TwitterURL==null || companyprofile?.TwitterURL=='' || companyprofile?.TwitterURL==undefined">
            <a>
              <img src="../../../../assets/images/twitter-icon.svg" alt="Twitter">
            </a>
          </ng-container>
          <ng-container *ngIf="companyprofile?.LinkedInURL!=null && companyprofile?.LinkedInURL!=''">
            <a [attr.href]="companyprofile?.LinkedInURL" target="_blank">
              <img src="../../../../assets/images/linkedin-icon.svg" alt="Linkedin">
            </a>
          </ng-container>
          <ng-container
            *ngIf="companyprofile?.LinkedInURL==null || companyprofile?.LinkedInURL=='' || companyprofile?.LinkedInURL==undefined">
            <a>
              <img src="../../../../assets/images/linkedin-icon.svg" alt="Linkedin">
            </a>
          </ng-container>
          <ng-container *ngIf="companyprofile?.FacebookURL!=null && companyprofile?.FacebookURL!=''">
            <a [attr.href]="companyprofile?.FacebookURL" target="_blank">
              <img src="../../../../assets/images/fb-icon.svg" alt="Facebook">
            </a>
          </ng-container>
          <ng-container
            *ngIf="companyprofile?.FacebookURL==null || companyprofile?.FacebookURL=='' || companyprofile?.FacebookURL==undefined">
            <a>
              <img src="../../../../assets/images/fb-icon.svg" alt="Facebook">
            </a>
          </ng-container>

        </div>
        <div class="meta">
          <img class="icon" src="../../../../assets/images/globe-icon.svg" alt="Website">
          <a *ngIf="companyprofile?.WebSite!=''" [attr.href]="'//' + companyprofile?.WebSite"
            target="_blank">{{companyprofile?.WebSite}}</a>
          <ng-container *ngIf="companyprofile?.WebSite==''">
            N/A
          </ng-container>
        </div>
        <div class="meta">
          <img class="icon" src="../../../../assets/images/email-icon.svg" alt="Email">
          <a href="javascript:void(0)">{{companyprofile?.ContactEmail}}</a>
        </div>
        <div class="v-divider"></div>
      </div>
      <div class="company-address">
        <table>
          <tbody>
            <tr>
              <td><img src="../../../../assets/images/phn-icon.svg" class="icon" alt="Phone"></td>
              <td *ngIf="companyprofile?.MobilePhone!=null"> {{companyprofile?.HomeAreaCode}}
                {{companyprofile?.MobilePhone}}</td>
              <td *ngIf="companyprofile?.MobilePhone==null">
                N/A
              </td>
            </tr>
            <tr>
              <td><img src="../../../../assets/images/fax-icon.svg" class="icon" alt="Fax"></td>
              <td *ngIf="companyprofile?.HomePhone!=null">{{companyprofile?.HomePhone}}</td>
              <td *ngIf="companyprofile?.HomePhone==null"> N/A </td>
            </tr>
            <tr>
              <td><img src="../../../../assets/images/location-icon.svg" class="icon" alt="Address"></td>
              <td *ngIf="companyprofile?.Address1=='' && companyprofile?.Address2==''">
                N/A
              </td>
              <td>
                <ng-container *ngIf="companyprofile?.Address1!=''">
                  {{companyprofile?.Address1}},
                </ng-container>
                <ng-container *ngIf="companyprofile?.Address2!=''">
                  {{companyprofile?.Address2}}.
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="company-video" class="video video-profile">
        <div class="video-ui">
          <a href="#" data-toggle="modal" data-target="#videoModal">
            <!-- <img class="video__poster img-responsive" src="../../../../assets/images/video-poster.png" alt="">
              <div class="video__overlay"></div>
              <div class="video__play">
                <img src="images/play.svg" alt="►">
                <div>Video Profile</div>
              </div> -->
            <video width="240" controls class="video-align" [src]="videoUrl" type="video/mp4" #videoPlayer></video>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12" *ngIf="iseditProfile">
  <div class="card card--basic-info">
    <div class="card-header" id="edit-btn">
      <h1 class="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="18.5px" height="20px" viewBox="-1939 -3251 20.519 22.078"
          fill="none" stroke="#448afa" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px">
          <g id="info-icon" transform="translate(-2150 -3481)">
            <line y1="4" transform="translate(221.5 240)"></line>
            <line transform="translate(221.5 236)"></line>
            <path
              d="M17.961,1H2.559A1.607,1.607,0,0,0,1,2.559V16.4a1.607,1.607,0,0,0,1.559,1.559H7.142l3.117,3.117,3.117-3.117h4.584A1.607,1.607,0,0,0,19.519,16.4V2.559A1.607,1.607,0,0,0,17.961,1Z"
              transform="translate(211 230)"></path>
          </g>
        </svg>
        <span>Basic Info</span>
      </h1>
      <div class="layout layout--btn">
        <button class="btn btn btn-border" (click)="iseditProfile=!iseditProfile;">Cancel</button>
        <button class="btn btn-filled" (click)="saveProfile()">Save</button>
      </div>
    </div>
    <form class="card-inner">
      <div class="company-logo">
        <div class="img">
          <img class="img-responsive" width="200" title="{{getcompanylogo?.CompanyName}}"
            src="{{companyLogo?.CompanyLogo}}" alt="Company Logo">
        </div>
        <div class="actions">
          <div class="item">
            <a href="javascript:void(0)">
              <svg xmlns="http://www.w3.org/2000/svg" width="22.9" height="19">
                <g>
                  <path class="st0"
                    d="M19.9 19h-17A2.9 2.9 0 0 1 0 16.1V5.7c0-1.6 1.3-2.9 2.9-2.9h3.3L7.8.4c.2-.2.5-.4.8-.4h5.7c.3 0 .6.2.8.4l1.6 2.4H20c1.6 0 2.9 1.3 2.9 2.9v10.4c0 .2-.1.4-.1.5-.3 1.4-1.5 2.4-2.9 2.4zM2.9 4.8c-.5 0-.9.4-.9.9v10.4c0 .5.4.9.9.9h17c.5 0 .9-.4.9-.9 0-.2 0-.3.1-.4v-10c0-.5-.4-.9-.9-.9h-3.8c-.3 0-.6-.2-.8-.4L13.8 2H9.1L7.5 4.4c-.2.2-.5.4-.8.4H2.9z">
                  </path>
                  <path class="st0"
                    d="M11.4 15.3c-2.6 0-4.8-2.2-4.8-4.8s2.2-4.8 4.8-4.8c2.6 0 4.8 2.2 4.8 4.8s-2.2 4.8-4.8 4.8zm0-7.6c-1.5 0-2.8 1.3-2.8 2.8s1.3 2.8 2.8 2.8c1.5 0 2.8-1.3 2.8-2.8s-1.3-2.8-2.8-2.8z">
                  </path>
                </g>
              </svg>
              <h4>Camera</h4>
            </a>
          </div>
          <div class="item">
            <a href="javascript:void(0)">
              <svg xmlns="http://www.w3.org/2000/svg" width="18.3" height="16.8">
                <g>
                  <path class="st0"
                    d="M3.8 6.4c-.3 0-.6-.1-.8-.4-.3-.4-.2-1 .2-1.4L8.7.2c.4-.3.9-.3 1.3 0l5 4.3c.4.4.5 1 .1 1.4-.4.4-1 .5-1.4.1L9.3 2.3 4.4 6.2c-.1.1-.4.2-.6.2z">
                  </path>
                  <path class="st0"
                    d="M2.7 16.8c-1.5 0-2.7-1.2-2.7-2.7v-2.5c0-.6.4-1 1-1s1 .4 1 1v2.5c0 .4.3.7.7.7h12.9c.4 0 .7-.3.7-.7v-2.5c0-.6.4-1 1-1s1 .4 1 1v2.5c0 1.5-1.2 2.7-2.7 2.7H2.7z">
                  </path>
                  <path class="st0" d="M9.3 11.4c-.6 0-1-.4-1-1V1.5c0-.6.4-1 1-1s1 .4 1 1v8.9c0 .6-.4 1-1 1z"></path>
                </g>
              </svg>
              <a (click)="photo.click()" href="javascript:void(0)">
                <input class="hidden" type="file" #photo (click)="photo.value = null" value=""
                  (change)="onFileChange($event)">
                <p>Upload</p>
              </a>
            </a>
          </div>
        </div>
      </div>
      <div class="company-info">
        <div class="form-block">
          <div class="form-group">
            <input type="text" class="form-control" value="{{companyprofile?.CompanyName||'CompanyName'}}"
              id="companyName" readonly>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" value="Design &amp; Animation" placeholder="Domain">
          </div>
        </div>
        <div class="form-group meta-info">
          <label for="" class="opacity1">Online</label>
          <div class="meta">
            <div class="input-group transparent">
              <span class="input-group-addon">
                <img src="../../../../assets/images/globe-icon.svg" alt="Website">
              </span>
              <input type="text" class="form-control" value="{{companyprofile?.WebSite}}" id="webSite"
                placeholder="Company URL">
            </div>
          </div>
          <div class="meta">
            <div class="input-group transparent">
              <span class="input-group-addon">
                <img src="../../../../assets/images/email-icon.svg" alt="Email">
              </span>
              <input type="text" class="form-control" value="{{companyprofile?.ContactEmail}}" id="contactEmail"
                readonly>
            </div>
          </div>
        </div>
        <div class="social-media">
          <label for="">Social Connections</label>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <img src="../../../../assets/images/twitter-icon.svg" alt="Twitter">
              </span>
              <input type="text" class="form-control" value="{{companyprofile?.TwitterURL}}" id="twitterUrl"
                placeholder="http://www.twitter.com">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <img src="../../../../assets/images/linkedin-icon.svg" alt="Linkedin">
              </span>
              <input type="text" class="form-control" value="{{companyprofile?.LinkedInURL}}" id="linkedinUrl"
                placeholder="http://www.linkedin.com">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <img src="../../../../assets/images/fb-icon.svg" alt="Linkedin">
              </span>
              <input type="text" class="form-control" value="{{companyprofile?.FacebookURL}}" id="facebookUrl"
                placeholder="http://www.facebook.com">
            </div>
          </div>
        </div>
        <div class="v-divider"></div>
      </div>
      <div class="company-address">
        <div class="form-block">

          <!--Country Code and Phone Number-->
          <div class="form-group country-phone-code">
            <div class="input-group transparent">
              <span class="col-md-2 col-xs-2 phone-icon">
                <img src="../../../../assets/images/phn-icon.svg" class="icon" alt="Phone">
              </span>
              <select class="col-md-4 col-xs-4" (change)="chooseCountry($event.target.value)">
                <option title="{{ls?.dial_code}} {{ls?.name}}" *ngFor="let ls of selectCountry" [selected]="ls.dial_code == companyprofile?.HomeAreaCode"
                  value="{{ls?.dial_code}}">{{ls?.dial_code}} {{ls?.name}}</option>
              </select>
              <input type="text" class="col-md-6 col-xs-6" value="{{companyprofile?.MobilePhone}}" id="mobile"
                placeholder="Phone Number">
            </div>
          </div>
          <!---->

          <div class="form-group">
            <div class="input-group transparent">
              <span class="input-group-addon">
                <img src="../../../../assets/images/fax-icon.svg" class="icon" alt="Fax">
              </span>
              <input type="text" class="form-control" value="{{companyprofile?.HomePhone}}" id="home" placeholder="Fax">
            </div>
          </div>
          <div class="form-group">
            <label for="">
              <img src="../../../../assets/images/location-icon.svg" class="icon" alt=".">
              Address
            </label>
            <input type="text" class="form-control" value="{{companyprofile?.Address1}}" id="address1"
              placeholder="Address">
          </div>
          <div class="form-group">
            <app-googlelocation></app-googlelocation>
          </div>
        </div>
        <div class="v-divider"></div>
      </div>

      <!-- <div  class="video video-profile">
            <div class="video-placeholder">
              <div class="video__play">
                <img src="../../../../assets/images/play-line-icon.svg" alt="">
                <div>Video Profile</div>
              </div>
            </div>
            <div class="actions">
              <div class="item">
                <a href="javascript:void(0)">
                  <svg xmlns="http://www.w3.org/2000/svg"width="22.9" height="19">
                    <g id="record-icon_1_" transform="translate(-408 -3487)">
                      <path d="M431.9 3502.8c-.3 0-.5-.1-.8-.2l-5.1-2.6c-.3-.2-.5-.5-.5-.9v-5.6c0-.4.2-.7.5-.9l5.2-2.7s.1 0 .1-.1c.2-.1.3-.1.5-.1.9 0 1.5.7 1.5 1.5v10.1c0 .3-.1.5-.2.8-.2.3-.5.6-.9.7h-.3zm-4.4-4.4l3.9 2v-8.4l-3.9 2v4.4z"></path>
                      <path d="M411.2 3505.3c-.8 0-1.6-.3-2.3-.9-.6-.6-1-1.4-1-2.3V3490.3c0-.8.3-1.6.8-2.3s1.4-1 2.2-1H424.1c1.8-.1 3.3 1.4 3.3 3.2V3502a3.26 3.26 0 0 1-3.2 3.3h-13c.1 0 .1 0 0 0zm0-16.3c-.3 0-.6.2-.8.4s-.3.5-.3.9v11.7c0 .4.1.7.4.9.2.2.5.3.9.4h12.9c.4 0 .7-.1.9-.4.2-.2.4-.6.4-.9v-11.7c0-.8-.6-1.3-1.3-1.3h-13.1z"></path>
                    </g>
                  </svg>
                  <h4>Record</h4>
                </a>
              </div>
              <div class="item">
                <a href="javascript:void(0)">
                  <svg xmlns="http://www.w3.org/2000/svg"  width="18.3" height="16.8">
                    <g>
                      <path d="M3.8 6.4c-.3 0-.6-.1-.8-.4-.3-.4-.2-1 .2-1.4L8.7.2c.4-.3.9-.3 1.3 0l5 4.3c.4.4.5 1 .1 1.4-.4.4-1 .5-1.4.1L9.3 2.3 4.4 6.2c-.1.1-.4.2-.6.2z"></path>
                      <path d="M2.7 16.8c-1.5 0-2.7-1.2-2.7-2.7v-2.5c0-.6.4-1 1-1s1 .4 1 1v2.5c0 .4.3.7.7.7h12.9c.4 0 .7-.3.7-.7v-2.5c0-.6.4-1 1-1s1 .4 1 1v2.5c0 1.5-1.2 2.7-2.7 2.7H2.7z"></path>
                      <path d="M9.3 11.4c-.6 0-1-.4-1-1V1.5c0-.6.4-1 1-1s1 .4 1 1v8.9c0 .6-.4 1-1 1z"></path>
                    </g>
                  </svg>
                  <h4>Upload</h4>
                </a>
              </div>
            </div>
          </div> -->

      <div class="video-col col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div>
          <div class="video">
            <div>
              <video width="240" controls class="video-align" [src]="videoUrl" type="video/mp4" #videoPlayer></video>
            </div>
          </div>
          <div class="wrap-icon actions">
            <!--TBD Feature, commenting on 17-01-2020-->
            <!-- <div class="item">
              <img id="btn-start-recording" (click)="startRecording()" src="assets/images/record-icon.png" alt="">
              <p id="record_p">Record</p>
              <img src="assets/images/upload-icon.png" id="btn-stop-recording" hidden (click)="stopRecording()" alt="">
              <p id="upload_p" hidden>Stop & Upload</p>
            </div> -->
            <!--TBD Feature, commenting on 17-01-2020-->
            <div class="item">
              <a href="javascript:void(0)">
                <a (click)="videovalue.click()" href="javascript:void(0)">
                  <input type="file" class="hidden" #videovalue (click)="videovalue.value = null" value=""
                    (change)="onVideoFileChange($event)">
                  <img src="assets/images/upload-icon.png" alt="upload-icon">
                  <p>Upload</p>
                </a>
              </a>

              <!-- <form class="form-inline" action="" enctype="multipart/form-data">
                       
                        <label for="browse">
                          <input type="file" #videoval id="btn-upload-videofile" (click)="videoval.value = null" value=""
                            (change)="onVideoFileChange($event)">
                          <img src="assets/images/upload-icon.png">
                          <p>Upload</p>
                        </label>
                      </form>  -->

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>