<div class="col-lg-3">
  <div class="left-nav">
    <ul class="nav nav-tabs list-active">
      <li routerLink="app-accountsettingdetails" routerLinkActive="active" *ngIf="customer?.AccessDetails?.AccountSetting==true">
        <a data-toggle="tab">
          <svg xmlns="http://www.w3.org/2000/svg" width="22.2" height="22" fill="#41536e">
            <g transform="translate(-189 -159)">
              <path d="M199.5 174h-.1c-1.3-.1-2.4-.9-2.9-2l-.1-.1c-.1-.2-.2-.4-.3-.7-.1-.4-.1-.8-.1-1.1 0-1.2.6-2.4 1.6-3.2a4 4 0 0 1 2.3-.8c2.2.1 4 1.8 4.1 4a4 4 0 0 1-3.9 4h-.6zm.1-2h.5c1.1 0 2-.9 2-1.9-.1-1.1-1-2-2.1-2.1-.4 0-.7.1-1 .4-.5.4-.8 1.1-.9 1.7 0 .2 0 .4.1.6v.2c.1.1.1.2.1.2.2.4.7.8 1.3.9zm-1.4-1.1z"></path>
              <path d="M201.1 181h-1.8a2 2 0 0 1-2-2v-1.2l-.6-.3-.9.9c-.8.7-2 .7-2.7 0l-1.3-1.3c-.7-.8-.7-2 0-2.7l.9-.9c-.1-.2-.1-.3-.2-.5H191a2 2 0 0 1-2-2v-1.8c0-1.1.9-2 2-2h1.3l.2-.5-1-.9-.1-.1c-.6-.8-.6-1.9 0-2.7l.1-.1 1.3-1.3.1-.1c.8-.6 1.9-.6 2.7 0 .1 0 .1.1.1.1l.9 1 .5-.3V161v-.1c0-.5.2-1 .5-1.4s.8-.6 1.4-.6h1.8c.6 0 1.1.2 1.4.6.4.4.6.9.6 1.4v1.3c.2.1.4.2.5.2l.9-.9c.8-.7 2-.7 2.7 0 0 0 .1 0 .1.1l1.3 1.4a2 2 0 0 1 0 2.7l-.9.9.3.6h1.2c.5 0 1.5.2 2.1 1.6 0 .1.1.2.1.4v1.7a2 2 0 0 1-2 2h-1.4l-.1.4 1 1c.7.8.7 2 0 2.7l-1.3 1.3c-.8.7-2 .7-2.7 0l-1-1-.5.3v1.4c.1 1.1-.9 2-2 2zm-4.5-5.6c.2 0 .3 0 .5.1h.1l1.1.5c.7.2 1 1 1 1.7v1.3h1.8v-1.7-.3c.1-.4.4-.8.8-1l1.2-.6c.4-.2.7-.2 1.1-.1.3.1.6.3.7.6l1 1 1.2-1.2-1.4-1.3a.9.9 0 0 1-.3-.7v-.3c0-.1 0-.3.1-.4l.4-1c.1-.5.6-.9 1.1-.9h2v-1.5c-.1-.1-.1-.2-.1-.2H207c-.4-.1-.8-.4-1-.8 0 0-.1-.1-.1-.2-.1-.3-.3-.7-.5-1 0-.1-.1-.1-.1-.2v-.2c-.2-.4-.1-.9.2-1.2l.5-.5h.1l.9-.9-1.2-1.3-1.1 1.1c-.5.4-1.1.5-1.6.4-.4-.1-.9-.3-1.3-.5s-.7-.6-.8-1.2V161h-1.8v2c-.1.4-.4.8-.8 1l-1.1.6c-.3.2-.7.2-1.1.1-.3 0-.5-.2-.7-.4l-1.1-1.4h-.2l-1.1 1.1v.2l1.3 1.2c.1.1.2.2.2.3.2.4.2.9 0 1.3l-.4 1c-.1.5-.4.7-.5.8-.2.2-.4.3-.7.3h-2v1.8h2c.4.1.8.4 1 .8 0 0 0 .1.1.1.2.4.4.8.5 1.2 0 .1.1.2.1.3v.3c0 .3-.1.5-.3.7l-1.3 1.3 1.3 1.2 1.1-1.1.1-.1c.3 0 .6-.2 1-.2zm1 2.4c0 .1 0 .1 0 0zm11.5-8.6zm-16.9-1.4zm.5-1.5zm3.3-3.3zm7.6-.5zm-.9-.3zm-3.5-1.3z"></path>
            </g>
          </svg>
          Account Settings
        </a>
      </li>
      <!-- <li routerLink="app-users" routerLinkActive="active">
        <a href="javascript:void(0)"  data-toggle="tab">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22">
            <path d="M9.5 22c-.7 0-3.3-.1-3.3-.1-4.5-.2-5.5-1.8-5.7-2.1-1.4-2.2 0-4.3 1.4-5.2 1.2-.8 2.5-1.4 3.8-2 .5-.2.7-.4.8-.5V12a7.85 7.85 0 0 1-2.4-5.7c0-4.7 3-6.3 5.5-6.3 2.6 0 5.5 1.7 5.5 6.3 0 2.2-.9 4.3-2.5 5.8.1.2.4.4.7.5 1.4.6 2.6 1.2 3.8 2 .1 0 .1.1.2.1 1.8 1.5 2.2 3.4 1.1 5.1-.3.5-1.4 1.9-5.6 2.1.1 0-2.6.1-3.3.1zm-3.2-2.1s2.6.1 3.2.1c.7 0 3.3-.1 3.3-.1 3.3-.1 4-1.1 4-1.1.2-.3.8-1.3-.7-2.5-1.1-.7-2.2-1.3-3.4-1.8-.6-.2-1.2-.6-1.6-1.2 0 0 0-.1-.1-.1-.5-.7-.4-1.7.1-2.4l.1-.1c1.2-1.1 1.9-2.8 1.9-4.4 0-3.8-2.2-4.4-3.5-4.4-1 .1-3.5.5-3.5 4.4 0 1.7.7 3.3 1.9 4.5.1.1.1.1.1.2.4.7.5 1.5.1 2.2-.1.3-.5.7-1.7 1.3-1.2.5-2.4 1.1-3.5 1.8-.3.2-1.6 1.2-.7 2.5 0 0 .8 1 4 1.1zm.2-7.6s-.1 0 0 0c-.1 0 0 0 0 0zm0 0z"></path>
          </svg>
          Users
        </a>
      </li> -->
      <li *ngIf="customer?.AccessDetails.InviteUsers==true">
        <a href="javascript:void(0)"  data-toggle="tab" (click)="cl()">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22">
            <path d="M9.5 22c-.7 0-3.3-.1-3.3-.1-4.5-.2-5.5-1.8-5.7-2.1-1.4-2.2 0-4.3 1.4-5.2 1.2-.8 2.5-1.4 3.8-2 .5-.2.7-.4.8-.5V12a7.85 7.85 0 0 1-2.4-5.7c0-4.7 3-6.3 5.5-6.3 2.6 0 5.5 1.7 5.5 6.3 0 2.2-.9 4.3-2.5 5.8.1.2.4.4.7.5 1.4.6 2.6 1.2 3.8 2 .1 0 .1.1.2.1 1.8 1.5 2.2 3.4 1.1 5.1-.3.5-1.4 1.9-5.6 2.1.1 0-2.6.1-3.3.1zm-3.2-2.1s2.6.1 3.2.1c.7 0 3.3-.1 3.3-.1 3.3-.1 4-1.1 4-1.1.2-.3.8-1.3-.7-2.5-1.1-.7-2.2-1.3-3.4-1.8-.6-.2-1.2-.6-1.6-1.2 0 0 0-.1-.1-.1-.5-.7-.4-1.7.1-2.4l.1-.1c1.2-1.1 1.9-2.8 1.9-4.4 0-3.8-2.2-4.4-3.5-4.4-1 .1-3.5.5-3.5 4.4 0 1.7.7 3.3 1.9 4.5.1.1.1.1.1.2.4.7.5 1.5.1 2.2-.1.3-.5.7-1.7 1.3-1.2.5-2.4 1.1-3.5 1.8-.3.2-1.6 1.2-.7 2.5 0 0 .8 1 4 1.1zm.2-7.6s-.1 0 0 0c-.1 0 0 0 0 0zm0 0z"></path>
          </svg>
          Team Members
        </a>
      </li>
      <li routerLink="app-billing-and-payments" routerLinkActive="active" *ngIf="customer?.AccessDetails?.Subscription==true">
        <a data-toggle="tab" href="javascript:void(0)">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22">
            <g transform="translate(-209 -289)">
              <path d="M219.6 310.2c-.6 0-1-.4-1-1v-4.3c0-.6.4-1 1-1h5.3c.6 0 1 .4 1 1s-.4 1-1 1h-4.3v3.3c0 .6-.4 1-1 1z"></path>
              <path d="M210.4 311c-.3 0-.7-.1-.9-.4-.3-.3-.5-.6-.5-1v-19.1c0-.3.1-.7.4-1 .3-.3.6-.5 1-.5h14.7c.3 0 .7.1 1 .4.3.3.5.6.5 1V305.7c0 .6-.4 1-1 1s-1-.4-1-1V291H211v18h8.6c.6 0 1 .4 1 1s-.4 1-1 1h-9.2c.1 0 .1 0 0 0zm.1-2zm14.6-18zm-14.1-.6c0 .1 0 .1 0 0z"></path>
              <path d="M221 295.8h-6.4c-.6 0-1-.4-1-1s.4-1 1-1h6.4c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
              <path d="M221 300.2h-2c-.6 0-1-.4-1-1s.4-1 1-1h2c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
              <path d="M219.6 311a.9.9 0 0 1-.8-.4c-.3-.4-.2-1.1.2-1.4l6-4.4c.4-.3 1.1-.2 1.4.2.3.4.2 1.1-.2 1.4l-6 4.4c-.2.1-.4.2-.6.2z"></path>
            </g>
          </svg>
          Billing and Payments
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
