
<ul id="steps-tab" class="nav nav-tabs">
  <li [ngClass]="{ 'tab-list':!step1isClicked, 'tab-list active':step1isClicked }"
      (click)="step1toggleClass(complete)">
      <ng-container *ngIf="complete >= 0;else nocomplete">
      <a data-toggle="tab" [ngClass]="{'completed':true}" title="Step 1" routerLink="app-steps-step1" routerLinkActive="active">
        <span class="step-check"></span>Step 1</a>
        </ng-container>
        <ng-template #nocomplete>
            <a data-toggle="tab"   title="Step 1" routerLink="app-steps-step1" routerLinkActive="active">
                <span class="step-check"></span>Step 1</a>
          </ng-template>
      </li>
  <li class="line"></li>  
  <li [ngClass]="{ 'tab-list':!step2isClicked, 'tab-list active':step2isClicked, 
'disabled' : stepNumber <= 1  }"  
      (click)="step2toggleClass(complete)">
      <ng-container *ngIf="complete >1;else nocompl">
      <a data-toggle="tab" [ngClass]="{'completed':true}" title="Step 2" routerLink="app-steps-step2"><span class="step-check"></span>Step 2</a>
      </ng-container>
      <ng-template #nocompl>
          <a data-toggle="tab" title="Step 2" routerLink="app-steps-step2"><span class="step-check"></span>Step 2</a>
      </ng-template>
    </li>
  <li class="line"></li> 
  <li [ngClass]="{ 'tab-list':!step3isClicked, 'tab-list active':step3isClicked, 'disabled' : stepNumber < 2  }" 
      (click)="step3toggleClass(complete)">
      <ng-container *ngIf="complete >2;else nocom">
      <a data-toggle="tab" [ngClass]="{'completed':true}" title="Step 3" routerLink="app-steps-step3"><span class="step-check"></span>Step 3</a>
      </ng-container>
      <ng-template #nocom>
          <a data-toggle="tab" title="Step 3" routerLink="app-steps-step3"><span class="step-check"></span>Step 3</a>
      </ng-template>
    </li>
  <li class="line"></li> 
  <li [ngClass]="{ 'tab-list':!step4isClicked, 'tab-list active':step4isClicked, 'disabled' : stepNumber < 3  }" 
      (click)="step4toggleClass(complete)">
      <ng-container *ngIf="complete >3;else nocomp">
        <a data-toggle="tab"  [ngClass]="{'completed':true}"  title="Step 4" routerLink="app-steps-step4">
          <span class="step-check"></span>Step 4
        </a>
      </ng-container>
      <ng-template #nocomp>
        <a data-toggle="tab"title="Step 4" routerLink="app-steps-step4">
          <span class="step-check"></span>Step 4
        </a>
      </ng-template>   
  </li>
</ul>
<header>
  <h1 class="blue text-center">Please tell us about the job.</h1>
  <p class="description text-center">Share details so we can find you the most eligible candidates.</p>
</header>
<router-outlet></router-outlet>
