.page--job-details #rejectCandidate {
    padding-right: 0 !important;
}
.page--job-details #rejectCandidate .modal-body {
    padding: 0px;
}
.page--job-details #rejectCandidate .modal-body .form-control{
    height: 50px;
    font-size: 13px;
}
.page--job-details #rejectCandidate .modal-title {
    text-align: left;
    font-family: "Poppins", sans-serif !important;
}
.page--job-details #rejectCandidate textarea.form-control {
padding-top:10px;
}
.page--job-details #rejectCandidate .modal-footer{
    border-top: 0;
}
