<!--<button class="btn btn-border btn-block add-btn">
        <a href="javascript:void(0)"  data-toggle="modal" href="#newsModel">
        <span class="add add--green rounded">+</span>Add News & Events
        </a>
        <ng-container>
          <input  type="file" #browse multiple (click)="browse.value = null" value="" (change)="getFileDetails($event)">
      </ng-container> 
      </button>-->
<div class="tab-inner scrollbar-inner" >
  <div style="text-align: end">
    <a href="javascript:void(0)" class="add-btn pr-0" data-toggle="modal" (click)="ClearThevalues()" href="#newsModel">
      <span class="add add--green rounded">+</span>
      <!-- <span>Add</span> -->
    </a>
    <span *ngIf="getcompanynewsinfo.length==0">
      Add News and Events
    </span>
  </div>
  <ul class="achievements__list edit-delete-dropdown" *ngIf="getcompanynewsinfo.length>0">
    <li class="item text-center" *ngFor="let companynewsinfo of getcompanynewsinfo">
      <div class="img-170">
        <div class="dropdown card-dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20.7">
              <path
                d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"
                fill="#448afa"></path>
            </svg>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:void(0)" data-toggle="modal" href="#newsModel"
                (click)="Edit(companynewsinfo)">Edit</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="DeleteId(companynewsinfo?.CompanyNewsInfoId)">Delete</a>
            </li>
          </ul>
        </div>

        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="27.4" height="37">
                  <g>
                    <path d="M6.4 32.6h-.1c-.5 0-1-.3-1.3-.7-.2-.3-.4-.9-.3-1.5.1-.8.7-1.5 1.6-2.1.3-.2 1.3-1 3.3-1.8.4-.7.6-1.2.6-1.2.7-1.7 1.2-3.1 1.6-4.3-.1-.1-.1-.2-.2-.3-.2-.5-1.3-2.7-1.1-4.3 0-.8.6-2 2-2.1.2 0 .9 0 1.5.6.5.5.6 1.3.5 2.2 0 .3-.1 1.6-.6 3.6.6.9 1.3 1.9 1.3 1.9.5.7 1 1.3 1.5 1.7 1.1-.2 2.3-.4 3.5-.4.3 0 1.5.1 2.2.9.3.4.5.8.4 1.3 0 .2-.1.6-.4 1-.6.6-1.4.9-2.5.9h-.1c-.1 0-1.8-.2-3.6-1.5-1.3.3-2.3.6-2.3.6-1.1.3-2.1.6-2.9 1-.6 1.1-1.5 2.4-2.6 3.5-.2.2-1.1 1-2 1zm6.7-9.4c-.3.7-.6 1.5-.9 2.4.3-.1.7-.2 1-.3 0 0 .5-.2 1.1-.3-.3-.3-.6-.7-.8-1.1.1-.1-.1-.4-.4-.7zm-.6-6.8V16.9c.1-.3 0-.4 0-.5z" id="XMLID_5_"></path>
                    <path d="M25.5 37H1.9c-1 0-1.9-.8-1.9-1.9V1.9C0 .8.8 0 1.9 0H16c.6 0 1 .4 1 1v8.4h9.4c.6 0 1 .4 1 1v24.7c0 1.1-.9 1.9-1.9 1.9zM2 35h23.4V11.4H16c-.6 0-1-.4-1-1V2H2v33z" id="XMLID_4_"></path>
                    <path d="M26.4 11.4H15.9c-.6 0-1-.4-1-1V1c0-.4.2-.8.6-.9.4-.2.8-.1 1.1.2L27 9.7c.3.3.4.7.3 1.1-.2.4-.5.6-.9.6zm-9.5-2h6.8l-6.8-6.2v6.2z" id="XMLID_3_"></path>
                  </g>
                </svg> -->
        <img src="{{companynewsinfo?.ImageURL}}" alt="">
      </div>
      <div>
        <span>{{companynewsinfo?.NewsTitle}}</span>
      </div>
    </li>
  </ul>
  <!--Empty Data Placeholder-->
  <div class="hint-text text-center" *ngIf="getcompanynewsinfo.length==0">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="17.3">
      <g>
        <path class="st0"
          d="M23 17.3H4.8c-2.7 0-4.8-2.2-4.8-4.8V2.7C0 1.2 1.2 0 2.7 0c1.5 0 2.7 1.2 2.7 2.7v11.2c0 .6-.4 1-1 1s-1-.4-1-1V2.7C3.3 2.3 3 2 2.7 2s-.7.3-.7.7v9.8c0 1.6 1.3 2.8 2.8 2.8s2.8-1.3 2.8-2.8V3.9c0-.6.4-1 1-1H23c.6 0 1 .4 1 1v12.4c0 .6-.4 1-1 1zm-14.3-2H22V4.9H9.7v7.6c0 1-.4 2-1 2.8z">
        </path>
        <path class="st0"
          d="M21.6 4.9c-.6 0-1-.4-1-1V2H2.4c-.6 0-1-.4-1-1s.4-1 1-1h19.1c.6 0 1 .4 1 1v2.9c.1.5-.4 1-.9 1zM17 9.2h-4.8c-.6 0-1-.4-1-1s.4-1 1-1H17c.6 0 1 .4 1 1s-.4 1-1 1zM18.5 13h-6.2c-.6 0-1-.4-1-1s.4-1 1-1h6.2c.6 0 1 .4 1 1s-.5 1-1 1z">
        </path>
      </g>
    </svg>
    <h4>Provide News & Press Releases of the company. It attracts Candidates to choose the Job.</h4>
  </div>
  <!--Empty Data Placeholder-->
</div>

<div Id="newsModel" class="modal fade news" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!---->
      <div class="row">
        <div class="col-md-12 ">
          <div class="card card--other-info">
            <div class="card-header header-title">
              <h1 class="title">
                <span>News Papers</span>
              </h1>
              <alert class="basic-info-alert"></alert>
              <div class="layout layout--btn">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
            </div> <!-- .header -->

            <div class="row">
              <div class="col-md-6">
                <div class="card-inner culture-add-imgs">
                  <form>
                    <div class="form-group c-form-group">
                      <label class="title-lab">
                        Title
                      </label>
                      <input type="text" class="form-control" name="name" maxlength="20" [(ngModel)]="name" placeholder="Title" />
                    </div>
                    <div class="form-group c-form-group">
                      <label class="title-lab">
                        Description
                      </label>
                      <textarea type="text" class="form-control" name="description" [(ngModel)]="description"
                        placeholder="Description" rows="6">  </textarea>
                    </div>





                  </form>

                </div>

              </div>
              <div class="col-md-6 bl-1">
                <div class="culture-add-imgs scrollbar-inner">

                  <div class="card-inner placeholder">
                    <div class="card-content">


                      <div class="culture-card file-upload-dashed">
                        <div class="img-wrapper">
                          <div class="img-170">
                            <button class="btn delete-btn t2-r30 upload-close-btn" (click)="Clear()">X</button>

                            <img class="img-responsive" [src]="imageSrc || 'https://via.placeholder.com/150'"
                              id="profile" alt="">

                          </div>
                        </div>
                        <div class="culture-card text-center pointer pt-1" (click)="photo.click()">
                          <input class="hidden" type="file" #photo (click)="photo.value = null" value=""
                            (change)="onFileChange($event)">
                          <img src="../../../../assets/images/upload-icon.svg" style="max-width:22px" alt="icon">
                          <p class="m-0">Upload Image</p>
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-12 p0-30">
                <div class="bt-1-E0E3EF mrl--15">
                  <a data-dismiss="modal" class="btn btn-filled btn-next pull-right mtb-5r-25" (click)="uploadNews()"
                    href="javascript:void(0)">Submit</a>

                </div>
              </div>

            </div>
            <!-- <div class="placeholder">
                        <div class="flex-col">
                          <img src="../../../../assets/images/uploading-file.svg" style="max-width:32px" alt="icon">
                          <p>There are no Culture Images added</p>
                          <button class="btn green-btn  modalBtn" data-toggle="modal" data-target="#education">
                            <span>+</span>Add Images
                          </button>
          
                        </div>
                      </div> 
          
          
          
                    </div> .card--other-info -->
          </div> <!-- .col-md-12 -->
        </div> <!-- .row -->

        <!---->
      </div>
    </div>
  </div>
</div>