<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner> -->
<div class="col-md-6">
    <!-- <h5>Recent jobs</h5> -->
  <section class="jobs">
    <h1>Recent jobs</h1>
      <div>
         <!-- <div id="domainLoader">
            <div>
              <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
              <span></span>
            </div>
        </div> -->
        
    <mat-progress-spinner  *ngIf="jobLoader===true"
    class=""
    [color]="color"
    [mode]="mode" strokeWidth="3" [diameter]="50" >
</mat-progress-spinner>
      <div class="card" *ngFor="let job of joblist?.Jobs; let i=index">
      <div class="header">
          <h2 (click)="ViewJobdetails(joblist.CustomerId,job.UserId,job.JobId)">
              {{job?.JobTitle | slice:0:25}}
          </h2>
          <span class="status {{job?.JobStatus}}">{{job?.JobStatus}}</span>
        <div class="meta">
            <span  *ngIf="job?.JobLocations!=null">
                <svg x="0px" y="0px" width="16px" height="19.1px" viewBox="0 0 16 19.1" xml:space="preserve" style="fill:#9EABC0;">
                <path d="M8,19.1c-0.2,0-0.4-0.1-0.6-0.2C7.1,18.7,0,13.9,0,8c0-4.4,3.6-8,8-8s8,3.6,8,8c0,5.9-7.1,10.7-7.4,10.9
                          C8.4,19.1,8.2,19.1,8,19.1z M8,2C4.7,2,2,4.7,2,8c0,4,4.4,7.7,6,8.9c1.6-1.2,6-4.9,6-8.9C14,4.7,11.3,2,8,2z"></path>
                <path d="M8,11.3c-1.8,0-3.3-1.5-3.3-3.3S6.2,4.7,8,4.7s3.3,1.5,3.3,3.3S9.8,11.3,8,11.3z M8,6.7C7.3,6.7,6.7,7.3,6.7,8
                          S7.3,9.3,8,9.3c0.7,0,1.3-0.6,1.3-1.3S8.7,6.7,8,6.7z"></path>
                      </svg>
                {{job?.JobLocations[0].CityName}}, {{job?.JobLocations[0].StateCode}}
            </span>
          <span class="v-divider"></span>
          <span>{{job?.PostedOn}}</span>
        </div>
      </div>
      <div class="stats stats--row">
        <div class="jobs-redirect" (click)="GetJobsRedirect(4,joblist.CustomerId,job.UserId,job.JobId)">
            <h1 >{{job?.TotalApplicants}}</h1>
          <span>Prospect</span>
        </div>
        <div class="v-divider"></div>
        <div class="jobs-redirect" (click)="GetJobsRedirect(15,joblist.CustomerId,job.UserId,job.JobId)">
            <!-- <h1>{{jobS}}</h1>
          <span>Suggested</span> -->
        <app-recentjobscount
        [job]="job"
        [joblist]="joblist"></app-recentjobscount>
      </div>
        <div class="v-divider"></div>
        <div class="jobs-redirect" (click)="GetJobsRedirect(5,joblist.CustomerId,job.UserId,job.JobId)">
          <h1 >{{job?.ShortListedCount}}</h1>
        <span>Shortlisted</span>
      </div>
        <div class="v-divider"></div>
        <div class="jobs-redirect" (click)="GetJobsRedirect(7,joblist.CustomerId,job.UserId,job.JobId)">
            <h1 >{{job?.InterviewedCount}}</h1>
          <span>Interviews</span>
        </div>
      </div>

    </div> 
    </div> 
    <ng-container *ngIf="joblist?.TotalCount == 0">
        <div class="card text-center d-block1">
            <h5>No Jobs!</h5>
        </div>
    </ng-container>
  </section>
</div>
