  <div class="col-md-12" *ngIf="!iseditOther">
    <div class="card card--other-info">
      <div class="card-header">
        <h1 class="title">
          <svg version="1.1" x="0px" y="0px" width="21.1px" height="21.1px" viewBox="0 0 21.1 21.1" style="enable-background:new 0 0 21.1 21.1;" xml:space="preserve">
          <g>
          <g>
          <path fill="#448AFA" d="M10.6,21.1C4.7,21.1,0,16.4,0,10.6C0,4.7,4.7,0,10.6,0s10.6,4.7,10.6,10.6C21.1,16.4,16.4,21.1,10.6,21.1z
                        M10.6,2C5.8,2,2,5.8,2,10.6c0,4.7,3.8,8.6,8.6,8.6s8.6-3.8,8.6-8.6C19.1,5.8,15.3,2,10.6,2z"></path>
                    </g>
          <circle fill-rule="evenodd" clip-rule="evenodd" fill="#448AFA" cx="10.6" cy="5.7" r="1.1"></circle>
          <g>
          <path fill="#448AFA" d="M10.6,16.3c-0.6,0-1-0.4-1-1V9.6c0-0.6,0.4-1,1-1s1,0.4,1,1v5.6C11.6,15.8,11.1,16.3,10.6,16.3z"></path>
                    </g>
                  </g>
                  </svg>
          <span>Other Info</span>
        </h1>
        <a (click)="iseditOther=!iseditOther" class="edit-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="none" stroke="#93a2bb" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px" viewBox="-750.5 -3250.6 19.9 20">
            <g id="edit-icon" transform="translate(-2150 -3481)">
              <path d="M1246.4,42.4v5.5a1.793,1.793,0,0,1-1.8,1.8h-12.3a1.793,1.793,0,0,1-1.8-1.8V35.7a1.793,1.793,0,0,1,1.8-1.8h5.5" transform="translate(170 199.7)"></path>
              <path d="M1246.6,31.7l1.8,1.8-9.6,9.7-2.6.7.7-2.6Z" transform="translate(170 199.7)"></path>
            </g>
          </svg>
          <span>Edit</span>
        </a>
      </div> <!-- .header -->
      <div class="card-inner">
        <div class="row text-center">
          <div class="stats-col col-md-2 col-xs-4">
            <h4 class="title">No. of Employees</h4>
            <h1 *ngIf="companyprofileotherinfo?.NumberOfEmployees!=null" class="number">{{companyprofileotherinfo?.NumberOfEmployees}}</h1>
            <h1  *ngIf="companyprofileotherinfo?.NumberOfEmployees==null"> N/A </h1>
          </div>
          <div class="stats-col col-md-2 col-xs-4">
            <h4 class="title">No of Offices</h4>
            <h1  *ngIf="companyprofileotherinfo?.NumberOfOffices!=null" class="number">{{companyprofileotherinfo?.NumberOfOffices}}</h1>
            <h1 *ngIf="companyprofileotherinfo?.NumberOfOffices==null">
             N/A
            </h1>
          </div>
          <div class="stats-col col-md-3 col-xs-4">
            <h4 class="title">Date of Establishment</h4>
            <h1  *ngIf="companyprofileotherinfo?.EstablishedIn!=null" >{{companyprofileotherinfo?.EstablishedIn}}</h1>
            <h1 *ngIf="companyprofileotherinfo?.EstablishedIn==null">
            N/A
            </h1>
          </div>
          <div class="stats-col col-md-2 col-xs-4">
            <h4 class="title">Company type</h4>
            <h1  *ngIf="companyprofileotherinfo?.CompanyType!=null" >{{companyprofileotherinfo?.CompanyType}}</h1>
            <h1 *ngIf="companyprofileotherinfo?.CompanyType==null">
                N/A
            </h1>
          </div>
          <div class="stats-col col-md-3 col-xs-4">
            <h4 class="title">Company Revenue</h4>
            <h1  *ngIf="companyprofileotherinfo?.RevenueInfo!=null" >{{companyprofileotherinfo?.RevenueInfo}}</h1>
            <h1 *ngIf="companyprofileotherinfo?.RevenueInfo==null">
              N/A
            </h1>
          </div>
        </div>
      </div>
    </div> <!-- .card--other-info -->
  </div> <!-- .col-md-12 -->

  <div class="col-md-12 " *ngIf="iseditOther">
    <div class="card card--other-info">
      <div class="card-header" id="edit-btn">
        <h1 class="title">
          <svg
            x="0px" y="0px" width="21.1px" height="21.1px" viewBox="0 0 21.1 21.1" style="enable-background:new 0 0 21.1 21.1;"
            xml:space="preserve">
          <g>
            <path fill="#448AFA" d="M10.6,21.1C4.7,21.1,0,16.4,0,10.6C0,4.7,4.7,0,10.6,0s10.6,4.7,10.6,10.6C21.1,16.4,16.4,21.1,10.6,21.1z
              M10.6,2C5.8,2,2,5.8,2,10.6c0,4.7,3.8,8.6,8.6,8.6s8.6-3.8,8.6-8.6C19.1,5.8,15.3,2,10.6,2z"/>
            <circle fill-rule="evenodd" clip-rule="evenodd" fill="#448AFA" cx="10.6" cy="5.7" r="1.1"/>
            <path fill="#448AFA" d="M10.6,16.3c-0.6,0-1-0.4-1-1V9.6c0-0.6,0.4-1,1-1s1,0.4,1,1v5.6C11.6,15.8,11.1,16.3,10.6,16.3z"/>
          </g>
          </svg>
          <span>Other Info</span>
        </h1>
        <div class="layout layout--btn">
          <button class="btn btn btn-border" (click)="iseditOther=!iseditOther">Cancel</button>
          <button class="btn btn-filled"(click)="saveOtherInfo()">Save</button>
        </div>
      </div> <!-- .header -->
      <form class="card-inner">
        <div class="row text-center">
          <div class="form-group col-md-2">
            <label>No. of Employees</label>
            <input type="text" class="form-control" value="{{companyprofileotherinfo?.NumberOfEmployees}}" id="NumberOfEmployees" maxlength = "10">
          </div>
          <div class="form-group col-md-2">
            <label>No of Offices</label>
            <input type="text" class="form-control" value="{{companyprofileotherinfo?.NumberOfOffices}}" id="NumberOfOffices" maxlength = "10">
          </div>
          <div class="form-group col-md-3">
            <label>Date of Establishment</label>
            <input type="text" class="form-control" value="{{companyprofileotherinfo?.EstablishedIn}}" id="EstablishedIn">
          </div>
          <div class="form-group col-md-3">
            <label>Company type</label>
            <select name="company-type" id="company-type" class="styled-select-box block">
              <option [value]="0" [selected]="companyprofileotherinfo?.CompanyType == 'Public Limited'">Public Limited</option>
              <option [value]="1" [selected]="companyprofileotherinfo?.CompanyType == 'Private Limited'">Private Limited</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label>Company Revenue  </label>
            <input type="text" class="form-control" value="{{companyprofileotherinfo?.RevenueInfo}}" id="revenueinfo" maxlength = "10">
          </div>
        </div>
      </form>
    </div> <!-- .card--other-info -->
  </div> 

