.ng-select.interview-schedule-popup>.ng-select-container {
    margin-top: 0px!important;
}

.mat-dialog-actions {
    display: inline-grid;
    width: 100%;
}

.bg-primary {
    background-color: #337ab7 !important;
}

.pt-4r {
    padding-top: 4rem;
}

.cal-icon.mt-2_7 {
    margin-top: 2.7rem;
}

.page--job-details #scheduleInterview .interview-type .tab-content {
    padding: 30px 0 0;
}

/*Add new user styles 19-03-2020*/
.add-new-user .add-btn {
    margin-top: 35%;
    text-align: center;
    color: #ffffff;
    padding: 18px;
    width: 55px;
    background-color: #66DAB5;
    border: 0;
    border-radius: 3px;
}