<div class="col-xs-12 col-sm-6 col-md-3" style="cursor:pointer;" (click)="Schedule()">
  <div class="card scheduled-interview">
      <h1>{{dashboardstatistics?.ScheduledInterview}}</h1>
    <span>Scheduled Interview</span>
    <a>
      <svg width="24.6px" height="18.4px" xmlns="http://www.w3.org/2000/svg" viewBox="-993.9 -2825.6 26.6 20.4" style="fill: none; stroke: #448afa; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2px;">
        <g id="right-arrow" transform="translate(-2103 -2975)">
          <line x2="24.6" transform="translate(1110.1 159.6)"></line>
          <path d="M958.1,30.9l9.2,9.2-9.2,9.2" transform="translate(167.4 119.5)"></path>
        </g>
      </svg>
    </a>
  </div>
</div>
