<div class="col-md-12">
  <div class="card card--withTabs card--benefits card--special">
    <div class="card-header active-line-move">
      <div id="benefits-tabs" class="bs-responsive-tabs">
        <div class="selected-tab hidden-xs">
          <h1 class="title">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18.7">
              <g>
                <path class="st0"
                  d="M4.2 18.7c-.4 0-.7-.2-.8-.3-.2-.2-.7-.7-.5-1.6l.9-4.2L.6 9.7C-.1 9.1 0 8.4.1 8.1s.4-.9 1.4-1l4.2-.5 1.8-3.9c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1L12 6.6l4.2.5c1 .1 1.3.7 1.4 1 .1.3.2 1-.5 1.6L14 12.6l.9 4.2c.2 1-.3 1.5-.5 1.6-.2.2-.8.5-1.7 0L9 16.3l-3.7 2.1c-.5.2-.8.3-1.1.3zm4.7-4.5c.2 0 .3 0 .5.1l3.3 1.9-.8-3.7c-.1-.3 0-.7.3-.9L15 9l-3.8-.4c-.4 0-.7-.3-.8-.6L8.9 4.5 7.3 8c-.1.3-.5.5-.8.5L2.7 9l2.8 2.6c.3.2.4.6.3.9L5 16.2l3.3-1.9c.2-.1.4-.1.6-.1z">
                </path>
                <path class="st0"
                  d="M19.9 16.2c-.3 0-.6-.1-.9-.3l-1.3-.7c-.5-.3-.6-.9-.4-1.4.3-.5.9-.6 1.4-.4l.3.2-.7-3.4c-.1-.3 0-.7.3-.9L21.2 7l-3.5-.4c-.4 0-.7-.3-.8-.6l-1.4-3.2-.4.8c-.2.5-.8.7-1.3.5-.5-.2-.7-.8-.5-1.3l.9-1.8c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1l1.7 3.7 4 .4c1 .1 1.3.7 1.4 1-.1.3 0 .9-.7 1.6l-3 2.7.8 3.9c.2 1-.3 1.5-.5 1.6-.1.2-.4.3-.8.3z">
                </path>
              </g>
            </svg>
            <span>Benefits</span>
          </h1>
        </div>
        <ul class="nav nav-tabs responsive hidden-xs">
          <li class="active">
            <a data-toggle="tab" href="#benefits">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path class="st0"
                      d="M4.2 18.7c-.4 0-.7-.2-.8-.3-.2-.2-.7-.7-.5-1.6l.9-4.2L.6 9.7C-.1 9.1 0 8.4.1 8.1s.4-.9 1.4-1l4.2-.5 1.8-3.9c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1L12 6.6l4.2.5c1 .1 1.3.7 1.4 1 .1.3.2 1-.5 1.6L14 12.6l.9 4.2c.2 1-.3 1.5-.5 1.6-.2.2-.8.5-1.7 0L9 16.3l-3.7 2.1c-.5.2-.8.3-1.1.3zm4.7-4.5c.2 0 .3 0 .5.1l3.3 1.9-.8-3.7c-.1-.3 0-.7.3-.9L15 9l-3.8-.4c-.4 0-.7-.3-.8-.6L8.9 4.5 7.3 8c-.1.3-.5.5-.8.5L2.7 9l2.8 2.6c.3.2.4.6.3.9L5 16.2l3.3-1.9c.2-.1.4-.1.6-.1z">
                    </path>
                    <path class="st0"
                      d="M19.9 16.2c-.3 0-.6-.1-.9-.3l-1.3-.7c-.5-.3-.6-.9-.4-1.4.3-.5.9-.6 1.4-.4l.3.2-.7-3.4c-.1-.3 0-.7.3-.9L21.2 7l-3.5-.4c-.4 0-.7-.3-.8-.6l-1.4-3.2-.4.8c-.2.5-.8.7-1.3.5-.5-.2-.7-.8-.5-1.3l.9-1.8c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1l1.7 3.7 4 .4c1 .1 1.3.7 1.4 1-.1.3 0 .9-.7 1.6l-3 2.7.8 3.9c.2 1-.3 1.5-.5 1.6-.1.2-.4.3-.8.3z">
                    </path>
                  </g>
                </svg>
                <span>Benefits</span>
              </h1>
            </a>
          </li>
          <!--Merging-->
          <li>
            <a data-toggle="tab" href="#specialities">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path
                      d="M15 22H3c-1.7 0-3-1.3-3-3V5c0-1.7 1.3-3 3-3h2c.6 0 1 .4 1 1s-.4 1-1 1H3c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V5c0-.6-.4-1-1-1h-2c-.6 0-1-.4-1-1s.4-1 1-1h2c1.7 0 3 1.3 3 3v14c0 1.7-1.3 3-3 3z">
                    </path>
                    <path
                      d="M12 6H6c-1.1 0-2-.9-2-2V2c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2v2c0 1.1-.9 2-2 2zM6 2v2h6V2H6zM12.3 12.2h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.4 1-1 1z">
                    </path>
                    <path d="M9.8 16.2H5.3c-.6 0-1-.4-1-1s.4-1 1-1h4.5c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                  </g>
                </svg>
                <span>Specialities</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#companyTech">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path class="st0"
                      d="M18 21H6c-1.7 0-3-1.3-3-3V6c0-1.7 1.3-3 3-3h12c1.7 0 3 1.3 3 3v12c0 1.7-1.3 3-3 3zM6 5c-.6 0-1 .4-1 1v12c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V6c0-.6-.4-1-1-1H6z">
                    </path>
                    <path class="st0"
                      d="M15 16H9c-.6 0-1-.4-1-1V9c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v6c0 .6-.4 1-1 1zm-5-2h4v-4h-4v4zM9 5c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM15 5c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM9 24c-.6 0-1-.4-1-1v-3c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM15 24c-.6 0-1-.4-1-1v-3c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM23 10h-3c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM23 15h-3c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM4 10H1c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM4 15H1c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1z">
                    </path>
                  </g>
                </svg>
                <span>Technologies</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#client">
              <h1 class="title">
                <svg  width="24" height="24" viewBox="0 -31 512 512"
                  xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path class="active-path"
                      d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0"
                      data-old_color="#93a2bb" data-original="#000000"></path>
                  </g>
                </svg>
                <span>Clients</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#departments">
              <h1 class="title">
                <svg version="1.1" id="Capa_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="24px" height="24px" viewBox="0 0 512 512" enable-background="new 0 0 512 512"
                  xml:space="preserve">

                  <path  d="M205.721,176.885l-17.699-16.729c1.906-5.215,2.858-10.598,2.858-16.089c0-26.805-21.814-48.62-48.627-48.62
                       c-26.839,0-48.67,21.814-48.67,48.62c0,26.83,21.831,48.645,48.67,48.645c6.394,0,12.738-1.303,18.68-3.811l20.467,19.345
                       C187.14,196.079,195.485,185.385,205.721,176.885z" />
                  <path  d="M351.626,137.171c1.939,0.267,3.82,0.393,5.692,0.393c26.838,0,48.678-21.823,48.678-48.645
                       c0-26.813-21.84-48.628-48.678-48.628c-26.813,0-48.62,21.815-48.62,48.628c0,10.206,3.135,19.943,8.952,28.117l-25.668,43.207
                       c12.827,4.129,24.414,11.017,34.063,19.967L351.626,137.171z" />
                  <path  d="M431.381,222.768c-17.52,0-33.617,9.637-42.176,24.623l-33.994-3.358c0.035,1.033,0.06,2.068,0.06,3.109
                       c0,12.737-2.612,24.862-7.324,35.875l37.355,3.69c6.452,19.7,24.74,33.308,46.079,33.308c26.813,0,48.619-21.814,48.619-48.62
                       C480,244.583,458.193,222.768,431.381,222.768z" />
                  <path  d="M257.902,338.213l10.568,46.111c-12.203,9.109-19.525,23.369-19.525,38.773
                       c0,26.805,21.832,48.611,48.662,48.611c26.813,0,48.619-21.807,48.619-48.595c0.017-12.746-4.872-24.774-13.766-33.884
                       c-6.987-7.163-15.839-11.911-25.501-13.783l-9.889-43.21c-10.257,3.99-21.411,6.184-33.079,6.184
                       C261.945,338.421,259.915,338.347,257.902,338.213z" />
                  <path  d="M116.459,281.309c-9.144-10.014-22.057-15.806-35.831-15.806c-26.813,0-48.628,21.815-48.628,48.62
                       c0,26.829,21.815,48.661,48.628,48.661c25.267,0,46.104-19.374,48.436-44.039l59.651-19.975
                       c-7.416-10.792-12.569-23.258-14.781-36.715L116.459,281.309z" />
                  <circle cx="263.992" cy="247.143" r="58.842" />
                  <rect x="-166.5" y="141.5"  stroke="#93A2BB" stroke-miterlimit="10" width="61"
                    height="71" />
                </svg>
                <span>Departments</span>
              </h1>
            </a>
          </li>
          <!--Merging-->
          <!-- <li>
              <a data-toggle="tab" href="#revenueInfo">
                <h1 class="title">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20">
                    <path d="M13 20H9c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v18c0 .6-.4 1-1 1zm-3-2h2V2h-2v16zM21 20h-4c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v13c0 .6-.4 1-1 1zm-3-2h2V7h-2v11zM5 20H1c-.6 0-1-.4-1-1v-8c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v8c0 .6-.4 1-1 1zm-3-2h2v-6H2v6z"></path>
                  </svg>
                  <span>Revenue Information</span>
                </h1>
              </a>
            </li> -->
          <span class="active-line hidden-xs" style="width: 106.125px; left: 0px;"></span>
        </ul>


        <!--Mobile Purpose starts here-->
        <div class="selected-tab dropdown-toggle visible-xs" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          <h1 class="title">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18.7">
              <g>
                <path class="st0"
                  d="M4.2 18.7c-.4 0-.7-.2-.8-.3-.2-.2-.7-.7-.5-1.6l.9-4.2L.6 9.7C-.1 9.1 0 8.4.1 8.1s.4-.9 1.4-1l4.2-.5 1.8-3.9c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1L12 6.6l4.2.5c1 .1 1.3.7 1.4 1 .1.3.2 1-.5 1.6L14 12.6l.9 4.2c.2 1-.3 1.5-.5 1.6-.2.2-.8.5-1.7 0L9 16.3l-3.7 2.1c-.5.2-.8.3-1.1.3zm4.7-4.5c.2 0 .3 0 .5.1l3.3 1.9-.8-3.7c-.1-.3 0-.7.3-.9L15 9l-3.8-.4c-.4 0-.7-.3-.8-.6L8.9 4.5 7.3 8c-.1.3-.5.5-.8.5L2.7 9l2.8 2.6c.3.2.4.6.3.9L5 16.2l3.3-1.9c.2-.1.4-.1.6-.1z">
                </path>
                <path class="st0"
                  d="M19.9 16.2c-.3 0-.6-.1-.9-.3l-1.3-.7c-.5-.3-.6-.9-.4-1.4.3-.5.9-.6 1.4-.4l.3.2-.7-3.4c-.1-.3 0-.7.3-.9L21.2 7l-3.5-.4c-.4 0-.7-.3-.8-.6l-1.4-3.2-.4.8c-.2.5-.8.7-1.3.5-.5-.2-.7-.8-.5-1.3l.9-1.8c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1l1.7 3.7 4 .4c1 .1 1.3.7 1.4 1-.1.3 0 .9-.7 1.6l-3 2.7.8 3.9c.2 1-.3 1.5-.5 1.6-.1.2-.4.3-.8.3z">
                </path>
              </g>
            </svg>
            <span>Benefits</span>
          </h1>
        </div>
        <ul class="nav nav-tabs responsive dropdown-menu">
          <!--tried with active inactive for below li's-->
          <!-- <li [ngClass]="{'active': isActive}" (click)="isActive = !isActive"> -->
          <li class="active">
            <a data-toggle="tab" href="#benefits">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path class="st0"
                      d="M4.2 18.7c-.4 0-.7-.2-.8-.3-.2-.2-.7-.7-.5-1.6l.9-4.2L.6 9.7C-.1 9.1 0 8.4.1 8.1s.4-.9 1.4-1l4.2-.5 1.8-3.9c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1L12 6.6l4.2.5c1 .1 1.3.7 1.4 1 .1.3.2 1-.5 1.6L14 12.6l.9 4.2c.2 1-.3 1.5-.5 1.6-.2.2-.8.5-1.7 0L9 16.3l-3.7 2.1c-.5.2-.8.3-1.1.3zm4.7-4.5c.2 0 .3 0 .5.1l3.3 1.9-.8-3.7c-.1-.3 0-.7.3-.9L15 9l-3.8-.4c-.4 0-.7-.3-.8-.6L8.9 4.5 7.3 8c-.1.3-.5.5-.8.5L2.7 9l2.8 2.6c.3.2.4.6.3.9L5 16.2l3.3-1.9c.2-.1.4-.1.6-.1z">
                    </path>
                    <path class="st0"
                      d="M19.9 16.2c-.3 0-.6-.1-.9-.3l-1.3-.7c-.5-.3-.6-.9-.4-1.4.3-.5.9-.6 1.4-.4l.3.2-.7-3.4c-.1-.3 0-.7.3-.9L21.2 7l-3.5-.4c-.4 0-.7-.3-.8-.6l-1.4-3.2-.4.8c-.2.5-.8.7-1.3.5-.5-.2-.7-.8-.5-1.3l.9-1.8c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1l1.7 3.7 4 .4c1 .1 1.3.7 1.4 1-.1.3 0 .9-.7 1.6l-3 2.7.8 3.9c.2 1-.3 1.5-.5 1.6-.1.2-.4.3-.8.3z">
                    </path>
                  </g>
                </svg>
                <span>Benefits</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#specialities">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path
                      d="M15 22H3c-1.7 0-3-1.3-3-3V5c0-1.7 1.3-3 3-3h2c.6 0 1 .4 1 1s-.4 1-1 1H3c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V5c0-.6-.4-1-1-1h-2c-.6 0-1-.4-1-1s.4-1 1-1h2c1.7 0 3 1.3 3 3v14c0 1.7-1.3 3-3 3z">
                    </path>
                    <path
                      d="M12 6H6c-1.1 0-2-.9-2-2V2c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2v2c0 1.1-.9 2-2 2zM6 2v2h6V2H6zM12.3 12.2h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.4 1-1 1z">
                    </path>
                    <path d="M9.8 16.2H5.3c-.6 0-1-.4-1-1s.4-1 1-1h4.5c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                  </g>
                </svg>
                <span>Specialities</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#companyTech">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <g>
                    <path class="st0"
                      d="M18 21H6c-1.7 0-3-1.3-3-3V6c0-1.7 1.3-3 3-3h12c1.7 0 3 1.3 3 3v12c0 1.7-1.3 3-3 3zM6 5c-.6 0-1 .4-1 1v12c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V6c0-.6-.4-1-1-1H6z">
                    </path>
                    <path class="st0"
                      d="M15 16H9c-.6 0-1-.4-1-1V9c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v6c0 .6-.4 1-1 1zm-5-2h4v-4h-4v4zM9 5c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM15 5c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM9 24c-.6 0-1-.4-1-1v-3c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM15 24c-.6 0-1-.4-1-1v-3c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM23 10h-3c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM23 15h-3c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM4 10H1c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM4 15H1c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1z">
                    </path>
                  </g>
                </svg>
                <span>Technologies</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#client">
              <h1 class="title">
                <svg width="24" height="24" viewBox="0 -31 512 512" xmlns="http://www.w3.org/2000/svg">
                  <g >
                    <path class="active-path"
                      d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0"
                      data-old_color="#93a2bb" data-original="#000000"></path>
                  </g>
                </svg>
                <span>Clients</span>
              </h1>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#departments">
              <h1 class="title">
                <svg version="1.1" id="Capa_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="24" height="24" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

                  <path d="M205.721,176.885l-17.699-16.729c1.906-5.215,2.858-10.598,2.858-16.089c0-26.805-21.814-48.62-48.627-48.62
                     c-26.839,0-48.67,21.814-48.67,48.62c0,26.83,21.831,48.645,48.67,48.645c6.394,0,12.738-1.303,18.68-3.811l20.467,19.345
                     C187.14,196.079,195.485,185.385,205.721,176.885z" />
                  <path d="M351.626,137.171c1.939,0.267,3.82,0.393,5.692,0.393c26.838,0,48.678-21.823,48.678-48.645
                     c0-26.813-21.84-48.628-48.678-48.628c-26.813,0-48.62,21.815-48.62,48.628c0,10.206,3.135,19.943,8.952,28.117l-25.668,43.207
                     c12.827,4.129,24.414,11.017,34.063,19.967L351.626,137.171z" />
                  <path d="M431.381,222.768c-17.52,0-33.617,9.637-42.176,24.623l-33.994-3.358c0.035,1.033,0.06,2.068,0.06,3.109
                     c0,12.737-2.612,24.862-7.324,35.875l37.355,3.69c6.452,19.7,24.74,33.308,46.079,33.308c26.813,0,48.619-21.814,48.619-48.62
                     C480,244.583,458.193,222.768,431.381,222.768z" />
                  <path d="M257.902,338.213l10.568,46.111c-12.203,9.109-19.525,23.369-19.525,38.773
                     c0,26.805,21.832,48.611,48.662,48.611c26.813,0,48.619-21.807,48.619-48.595c0.017-12.746-4.872-24.774-13.766-33.884
                     c-6.987-7.163-15.839-11.911-25.501-13.783l-9.889-43.21c-10.257,3.99-21.411,6.184-33.079,6.184
                     C261.945,338.421,259.915,338.347,257.902,338.213z" />
                  <path d="M116.459,281.309c-9.144-10.014-22.057-15.806-35.831-15.806c-26.813,0-48.628,21.815-48.628,48.62
                     c0,26.829,21.815,48.661,48.628,48.661c25.267,0,46.104-19.374,48.436-44.039l59.651-19.975
                     c-7.416-10.792-12.569-23.258-14.781-36.715L116.459,281.309z" />
                  <circle cx="263.992" cy="247.143" r="58.842" />
                  <rect x="-166.5" y="141.5" stroke="#93A2BB" stroke-miterlimit="10" width="61" height="71" />
                </svg>
                <span>Departments</span>
              </h1>
            </a>
          </li>
          <!--Merging-->
          <!-- <li>
            <a data-toggle="tab" href="#revenueInfo">
              <h1 class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20">
                  <path d="M13 20H9c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v18c0 .6-.4 1-1 1zm-3-2h2V2h-2v16zM21 20h-4c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v13c0 .6-.4 1-1 1zm-3-2h2V7h-2v11zM5 20H1c-.6 0-1-.4-1-1v-8c0-.6.4-1 1-1h4c.6 0 1 .4 1 1v8c0 .6-.4 1-1 1zm-3-2h2v-6H2v6z"></path>
                </svg>
                <span>Revenue Information</span>
              </h1>
            </a>
          </li> -->
          <span class="active-line hidden-xs" style="width: 106.125px; left: 0px;"></span>
        </ul>
        <!--Mobile Purpose ends here-->
      </div>
    </div>
    <div class="card-inner">
      <div class="card-content">
        <div class="tab-content">
          <div id="benefits" class="tab-pane fade in active">
            <div class="input-group">
              <input id="benefitsVal" [(ngModel)]="benefit" type="text" class="form-control" name="benefits"
                placeholder="Benefits">
              <span class="input-group-btn">
                <ng-container *ngIf="benefit!=undefined;else nben">
                  <ng-container *ngIf="benefit!=''; else noben">
                    <button class="btn" (click)="saveBenefits()">+</button>
                  </ng-container>
                  <ng-template #noben>
                    <button class="btn">+</button>
                  </ng-template>
                </ng-container>
                <ng-template #nben>
                  <button class="btn">+</button>
                </ng-template>
              </span>
            </div>
            <div class="tab-inner scrollbar-inner" *ngIf="getcompanybenfit.length>0"  >
              <ul class="list--filled" >
                <li class="item" *ngFor="let companybenfit of getcompanybenfit">
                  {{companybenfit?.CompanyBenefit}}
                  <div class="actions">
                    <button class="btn btn-transparent no-padding"
                      (click)="deleteBenefits(companybenfit?.CompanyBenefitId)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.4" height="19.1">
                        <g>
                          <path
                            d="M15.6 19.1H2.9c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v9.4h10.7V7.7c0-.6.4-1 1-1s1 .4 1 1v10.4c0 .6-.5 1-1 1zM17.4 5.2H1c-.6 0-1-.4-1-1s.4-1 1-1h16.4c.6 0 1 .4 1 1s-.4 1-1 1zM12.7 2H5.8c-.6 0-1-.4-1-1s.4-1 1-1h6.9c.6 0 1 .4 1 1s-.5 1-1 1z">
                          </path>
                          <path
                            d="M7.3 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.4 1.1-1 1.1zM11.2 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.5 1.1-1 1.1z">
                          </path>
                        </g>
                      </svg>
                    </button>
                    <button class="btn btn-transparent no-padding" (click)="EditBenefits(companybenfit)">
                      <input id="benefit" type="text" hidden="hidden" value="{{companybenfit?.CompanyBenefit}}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="19.8" height="20">
                        <g>
                          <path
                            d="M15 20H2.8C1.2 20 0 18.8 0 17.2V5c0-1.5 1.2-2.8 2.8-2.8h5.5c.6 0 1 .4 1 1s-.4 1-1 1H2.8c-.5 0-.8.4-.8.8v12.3c0 .4.3.7.8.7H15c.4 0 .8-.3.8-.8v-5.5c0-.6.4-1 1-1s1 .4 1 1v5.5c0 1.6-1.3 2.8-2.8 2.8z">
                          </path>
                          <path
                            d="M6.6 14.3c-.3 0-.5-.1-.7-.3-.3-.3-.4-.6-.3-1l.8-2.6c0-.2.1-.3.3-.4L16.3.4c.4-.4 1-.4 1.4 0l1.9 1.9c.4.4.4 1 0 1.4L10 13.3c-.1.1-.3.2-.4.3l-2.6.8c-.2-.2-.3-.1-.4-.1zm1.6-3.2l-.2.7.7-.2 8.7-8.7-.4-.5-8.8 8.7z">
                          </path>
                        </g>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
            <!--Empty Data Placeholder-->
            <div class="hint-text text-center"  *ngIf="getcompanybenfit.length==0"  >
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path class="st0"
                    d="M4.2 18.7c-.4 0-.7-.2-.8-.3-.2-.2-.7-.7-.5-1.6l.9-4.2L.6 9.7C-.1 9.1 0 8.4.1 8.1s.4-.9 1.4-1l4.2-.5 1.8-3.9c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1L12 6.6l4.2.5c1 .1 1.3.7 1.4 1 .1.3.2 1-.5 1.6L14 12.6l.9 4.2c.2 1-.3 1.5-.5 1.6-.2.2-.8.5-1.7 0L9 16.3l-3.7 2.1c-.5.2-.8.3-1.1.3zm4.7-4.5c.2 0 .3 0 .5.1l3.3 1.9-.8-3.7c-.1-.3 0-.7.3-.9L15 9l-3.8-.4c-.4 0-.7-.3-.8-.6L8.9 4.5 7.3 8c-.1.3-.5.5-.8.5L2.7 9l2.8 2.6c.3.2.4.6.3.9L5 16.2l3.3-1.9c.2-.1.4-.1.6-.1z">
                  </path>
                  <path class="st0"
                    d="M19.9 16.2c-.3 0-.6-.1-.9-.3l-1.3-.7c-.5-.3-.6-.9-.4-1.4.3-.5.9-.6 1.4-.4l.3.2-.7-3.4c-.1-.3 0-.7.3-.9L21.2 7l-3.5-.4c-.4 0-.7-.3-.8-.6l-1.4-3.2-.4.8c-.2.5-.8.7-1.3.5-.5-.2-.7-.8-.5-1.3l.9-1.8c.4-.9 1.1-1 1.4-1 .3 0 1 .1 1.4 1l1.7 3.7 4 .4c1 .1 1.3.7 1.4 1-.1.3 0 .9-.7 1.6l-3 2.7.8 3.9c.2 1-.3 1.5-.5 1.6-.1.2-.4.3-.8.3z">
                  </path>
                </g>
              </svg>
              <h4>Enter your Company Benefits for Employees, which boosts the Job Postings.</h4>
            </div>
            <!--Empty Data Placeholder-->
          </div>
          <!-- <div id="revenueInfo" class="tab-pane fade">
            <div class="tab-inner scrollbar-inner">
                <h3>Company Revenue</h3>
                <p>This Feature is coming Soon!</p>
            </div>
          </div> -->
          <!--Merging-->
          <div id="specialities" class="specialities tab-pane fade">
            <div class="input-group">
              <input id="specialVal" [(ngModel)]="speciality" type="text" class="form-control" name="specialities"
                placeholder="Specialities">
              <span class="input-group-btn">
                <ng-container *ngIf="speciality!=undefined;else nsep">
                  <ng-container *ngIf="speciality!=''; else nosep">
                    <button class="btn" (click)="saveSpecialities()">+</button>
                  </ng-container>
                  <ng-template #nosep>
                    <button class="btn">+</button>
                  </ng-template>
                </ng-container>
                <ng-template #nsep>
                  <button class="btn">+</button>
                </ng-template>
              </span>
            </div>
            <div class="tab-inner scrollbar-inner" *ngIf="companyspecialities.length>0">
              <ul class="list--filled">
                <li class="item" *ngFor="let companyspeciality of companyspecialities">
                  {{companyspeciality?.CompanySpeciality}}
                  <div class="actions">
                    <button class="btn btn-transparent no-padding"
                      (click)="deleteSpecialities(companyspeciality?.CompanySpecialityId)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.4" height="19.1">
                        <g>
                          <path
                            d="M15.6 19.1H2.9c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v9.4h10.7V7.7c0-.6.4-1 1-1s1 .4 1 1v10.4c0 .6-.5 1-1 1zM17.4 5.2H1c-.6 0-1-.4-1-1s.4-1 1-1h16.4c.6 0 1 .4 1 1s-.4 1-1 1zM12.7 2H5.8c-.6 0-1-.4-1-1s.4-1 1-1h6.9c.6 0 1 .4 1 1s-.5 1-1 1z">
                          </path>
                          <path
                            d="M7.3 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.4 1.1-1 1.1zM11.2 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.5 1.1-1 1.1z">
                          </path>
                        </g>
                      </svg>
                    </button>
                    <button class="btn btn-transparent no-padding" (click)="EditSpecialities(companyspeciality)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="19.8" height="20">
                        <g>
                          <path
                            d="M15 20H2.8C1.2 20 0 18.8 0 17.2V5c0-1.5 1.2-2.8 2.8-2.8h5.5c.6 0 1 .4 1 1s-.4 1-1 1H2.8c-.5 0-.8.4-.8.8v12.3c0 .4.3.7.8.7H15c.4 0 .8-.3.8-.8v-5.5c0-.6.4-1 1-1s1 .4 1 1v5.5c0 1.6-1.3 2.8-2.8 2.8z">
                          </path>
                          <path
                            d="M6.6 14.3c-.3 0-.5-.1-.7-.3-.3-.3-.4-.6-.3-1l.8-2.6c0-.2.1-.3.3-.4L16.3.4c.4-.4 1-.4 1.4 0l1.9 1.9c.4.4.4 1 0 1.4L10 13.3c-.1.1-.3.2-.4.3l-2.6.8c-.2-.2-.3-.1-.4-.1zm1.6-3.2l-.2.7.7-.2 8.7-8.7-.4-.5-8.8 8.7z">
                          </path>
                        </g>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
                 <!--Empty Data Placeholder-->
                 <div class="hint-text text-center" *ngIf="companyspecialities.length==0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <g>
                      <path
                        d="M15 22H3c-1.7 0-3-1.3-3-3V5c0-1.7 1.3-3 3-3h2c.6 0 1 .4 1 1s-.4 1-1 1H3c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V5c0-.6-.4-1-1-1h-2c-.6 0-1-.4-1-1s.4-1 1-1h2c1.7 0 3 1.3 3 3v14c0 1.7-1.3 3-3 3z">
                      </path>
                      <path
                        d="M12 6H6c-1.1 0-2-.9-2-2V2c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2v2c0 1.1-.9 2-2 2zM6 2v2h6V2H6zM12.3 12.2h-7c-.6 0-1-.4-1-1s.4-1 1-1h7c.6 0 1 .4 1 1s-.4 1-1 1z">
                      </path>
                      <path d="M9.8 16.2H5.3c-.6 0-1-.4-1-1s.4-1 1-1h4.5c.6 0 1 .4 1 1s-.4 1-1 1z"></path>
                    </g>
                  </svg>
                  <h4>Enter your Company Specialities, which boosts the Job Postings.</h4>
                </div>
                <!--Empty Data Placeholder-->
          </div>
          <div id="companyTech" class="companyTech tab-pane fade">
            <div class="input-group">
              <input id="techVal" type="text" [(ngModel)]="companytechnology" class="form-control"
                name="companytechnology" placeholder="Technologies">
              <span class="input-group-btn">
                <ng-container *ngIf="companytechnology!=undefined;else nter">
                  <ng-container *ngIf="companytechnology!=''; else noter">
                    <button class="btn" (click)="savetechnologies()">+</button>
                  </ng-container>
                  <ng-template #noter>
                    <button class="btn">+</button>
                  </ng-template>
                </ng-container>
                <ng-template #nter>
                  <button class="btn">+</button>
                </ng-template>
              </span>
            </div>
            <div class="tab-inner scrollbar-inner" *ngIf="getcompanytechnology.length>0" >
              <ul class="list--filled">
                <li class="item" *ngFor="let companytechnology of getcompanytechnology">
                  {{companytechnology?.TechnologyName}}
                  <div class="actions">
                    <button class="btn btn-transparent no-padding"
                      (click)="deletetechnology(companytechnology?.CompanyTechnologyId)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.4" height="19.1">
                        <g>
                          <path
                            d="M15.6 19.1H2.9c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v9.4h10.7V7.7c0-.6.4-1 1-1s1 .4 1 1v10.4c0 .6-.5 1-1 1zM17.4 5.2H1c-.6 0-1-.4-1-1s.4-1 1-1h16.4c.6 0 1 .4 1 1s-.4 1-1 1zM12.7 2H5.8c-.6 0-1-.4-1-1s.4-1 1-1h6.9c.6 0 1 .4 1 1s-.5 1-1 1z">
                          </path>
                          <path
                            d="M7.3 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.4 1.1-1 1.1zM11.2 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.5 1.1-1 1.1z">
                          </path>
                        </g>
                      </svg>
                    </button>
                    <button class="btn btn-transparent no-padding" (click)="Edittechnology(companytechnology)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="19.8" height="20">
                        <g>
                          <path
                            d="M15 20H2.8C1.2 20 0 18.8 0 17.2V5c0-1.5 1.2-2.8 2.8-2.8h5.5c.6 0 1 .4 1 1s-.4 1-1 1H2.8c-.5 0-.8.4-.8.8v12.3c0 .4.3.7.8.7H15c.4 0 .8-.3.8-.8v-5.5c0-.6.4-1 1-1s1 .4 1 1v5.5c0 1.6-1.3 2.8-2.8 2.8z">
                          </path>
                          <path
                            d="M6.6 14.3c-.3 0-.5-.1-.7-.3-.3-.3-.4-.6-.3-1l.8-2.6c0-.2.1-.3.3-.4L16.3.4c.4-.4 1-.4 1.4 0l1.9 1.9c.4.4.4 1 0 1.4L10 13.3c-.1.1-.3.2-.4.3l-2.6.8c-.2-.2-.3-.1-.4-.1zm1.6-3.2l-.2.7.7-.2 8.7-8.7-.4-.5-8.8 8.7z">
                          </path>
                        </g>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
                 <!--Empty Data Placeholder-->
                 <div class="hint-text text-center" *ngIf="getcompanytechnology.length==0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <g>
                      <path class="st0"
                        d="M18 21H6c-1.7 0-3-1.3-3-3V6c0-1.7 1.3-3 3-3h12c1.7 0 3 1.3 3 3v12c0 1.7-1.3 3-3 3zM6 5c-.6 0-1 .4-1 1v12c0 .6.4 1 1 1h12c.6 0 1-.4 1-1V6c0-.6-.4-1-1-1H6z">
                      </path>
                      <path class="st0"
                        d="M15 16H9c-.6 0-1-.4-1-1V9c0-.6.4-1 1-1h6c.6 0 1 .4 1 1v6c0 .6-.4 1-1 1zm-5-2h4v-4h-4v4zM9 5c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM15 5c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM9 24c-.6 0-1-.4-1-1v-3c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM15 24c-.6 0-1-.4-1-1v-3c0-.6.4-1 1-1s1 .4 1 1v3c0 .6-.4 1-1 1zM23 10h-3c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM23 15h-3c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM4 10H1c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1zM4 15H1c-.6 0-1-.4-1-1s.4-1 1-1h3c.6 0 1 .4 1 1s-.4 1-1 1z">
                      </path>
                    </g>
                  </svg>
                  <h4>Enter Technologies which your Company deal with. It enhances the Job Postings and Job Search.</h4>
                </div>
                <!--Empty Data Placeholder-->
          </div>
          <div id="client" class="client tab-pane fade"  >
            <form #form="ngForm">
              <div class="input-group">
                <input id="cVal" type="text" class="form-control" [(ngModel)]="clientName" name="benefits"
                  placeholder="Clients">
                <span class="input-group-btn">
                  <ng-container *ngIf="clientName!=undefined;else ntem">
                    <ng-container *ngIf="clientName!=''; else no">
                      <button class="btn" (click)="SaveClients()">+</button>
                    </ng-container>
                    <ng-template #no>
                      <button class="btn">+</button>
                    </ng-template>
                  </ng-container>
                  <ng-template #ntem>
                    <button class="btn">+</button>
                  </ng-template>
                </span>
              </div>
            </form>
            <div class="tab-inner scrollbar-inner" *ngIf="getCustomerClients.length>0">
              <ul class="list--filled">
                <li class="item" *ngFor="let c of getCustomerClients">
                  {{c?.ClientName}}
                  <div class="actions">
                    <button class="btn btn-transparent no-padding" (click)="deleteClient(c?.CustomerClientId)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.4" height="19.1">
                        <g>
                          <path
                            d="M15.6 19.1H2.9c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v9.4h10.7V7.7c0-.6.4-1 1-1s1 .4 1 1v10.4c0 .6-.5 1-1 1zM17.4 5.2H1c-.6 0-1-.4-1-1s.4-1 1-1h16.4c.6 0 1 .4 1 1s-.4 1-1 1zM12.7 2H5.8c-.6 0-1-.4-1-1s.4-1 1-1h6.9c.6 0 1 .4 1 1s-.5 1-1 1z">
                          </path>
                          <path
                            d="M7.3 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.4 1.1-1 1.1zM11.2 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.5 1.1-1 1.1z">
                          </path>
                        </g>
                      </svg>
                    </button>
                    <button class="btn btn-transparent no-padding" (click)="EditClient(c)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="19.8" height="20">
                        <g>
                          <path
                            d="M15 20H2.8C1.2 20 0 18.8 0 17.2V5c0-1.5 1.2-2.8 2.8-2.8h5.5c.6 0 1 .4 1 1s-.4 1-1 1H2.8c-.5 0-.8.4-.8.8v12.3c0 .4.3.7.8.7H15c.4 0 .8-.3.8-.8v-5.5c0-.6.4-1 1-1s1 .4 1 1v5.5c0 1.6-1.3 2.8-2.8 2.8z">
                          </path>
                          <path
                            d="M6.6 14.3c-.3 0-.5-.1-.7-.3-.3-.3-.4-.6-.3-1l.8-2.6c0-.2.1-.3.3-.4L16.3.4c.4-.4 1-.4 1.4 0l1.9 1.9c.4.4.4 1 0 1.4L10 13.3c-.1.1-.3.2-.4.3l-2.6.8c-.2-.2-.3-.1-.4-.1zm1.6-3.2l-.2.7.7-.2 8.7-8.7-.4-.5-8.8 8.7z">
                          </path>
                        </g>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
                 <!--Empty Data Placeholder-->
                 <div class="hint-text text-center" *ngIf="getCustomerClients.length==0">
                  <svg width="24" height="24" viewBox="0 -31 512 512" xmlns="http://www.w3.org/2000/svg">
                    <g _ngcontent-c21="">
                      <path class="active-path"
                        d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0"
                        data-old_color="#93a2bb" data-original="#000000"></path>
                    </g>
                  </svg>
                  <h4>Enter your Company Client Details, which boosts the Job Postings.</h4>
                </div>
                <!--Empty Data Placeholder-->
          </div>
          <div id="departments" class="departments tab-pane fade">
            <form #form="ngForm">
              <div class="input-group">
                <input id="dVal" [(ngModel)]="departmentName" name="departmentName" type="text" class="form-control"
                  placeholder="Departments">
                <span class="input-group-btn">
                  <ng-container *ngIf="departmentName!=undefined;else notem">
                    <ng-container *ngIf="departmentName!=''; else not">
                      <button class="btn" (click)="SaveDepartments()">+</button>
                    </ng-container>
                    <ng-template #not>
                      <button class="btn">+</button>
                    </ng-template>
                  </ng-container>
                  <ng-template #notem>
                    <button class="btn">+</button>
                  </ng-template>
                </span>
              </div>
            </form>
            <div class="tab-inner scrollbar-inner" *ngIf="getCustomerDepartments.length>0">
              <ul class="list--filled">
                <li class="item" *ngFor="let d of getCustomerDepartments">
                  {{d?.CustomerDepartment}}
                  <div class="actions">
                    <button class="btn btn-transparent no-padding" (click)="deleteDepart(d?.CustomerDeptId)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18.4" height="19.1">
                        <g>
                          <path
                            d="M15.6 19.1H2.9c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v9.4h10.7V7.7c0-.6.4-1 1-1s1 .4 1 1v10.4c0 .6-.5 1-1 1zM17.4 5.2H1c-.6 0-1-.4-1-1s.4-1 1-1h16.4c.6 0 1 .4 1 1s-.4 1-1 1zM12.7 2H5.8c-.6 0-1-.4-1-1s.4-1 1-1h6.9c.6 0 1 .4 1 1s-.5 1-1 1z">
                          </path>
                          <path
                            d="M7.3 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.4 1.1-1 1.1zM11.2 14.4c-.6 0-1-.4-1-1V7.7c0-.6.4-1 1-1s1 .4 1 1v5.6c0 .6-.5 1.1-1 1.1z">
                          </path>
                        </g>
                      </svg>
                    </button>
                    <button class="btn btn-transparent no-padding" (click)="EditDepartments(d)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="19.8" height="20">
                        <g>
                          <path
                            d="M15 20H2.8C1.2 20 0 18.8 0 17.2V5c0-1.5 1.2-2.8 2.8-2.8h5.5c.6 0 1 .4 1 1s-.4 1-1 1H2.8c-.5 0-.8.4-.8.8v12.3c0 .4.3.7.8.7H15c.4 0 .8-.3.8-.8v-5.5c0-.6.4-1 1-1s1 .4 1 1v5.5c0 1.6-1.3 2.8-2.8 2.8z">
                          </path>
                          <path
                            d="M6.6 14.3c-.3 0-.5-.1-.7-.3-.3-.3-.4-.6-.3-1l.8-2.6c0-.2.1-.3.3-.4L16.3.4c.4-.4 1-.4 1.4 0l1.9 1.9c.4.4.4 1 0 1.4L10 13.3c-.1.1-.3.2-.4.3l-2.6.8c-.2-.2-.3-.1-.4-.1zm1.6-3.2l-.2.7.7-.2 8.7-8.7-.4-.5-8.8 8.7z">
                          </path>
                        </g>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
                 <!--Empty Data Placeholder-->
                 <div class="hint-text text-center" *ngIf="getCustomerDepartments.length==0">
                  <svg version="1.1" id="Capa_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="24" height="24" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">

                  <path d="M205.721,176.885l-17.699-16.729c1.906-5.215,2.858-10.598,2.858-16.089c0-26.805-21.814-48.62-48.627-48.62
                     c-26.839,0-48.67,21.814-48.67,48.62c0,26.83,21.831,48.645,48.67,48.645c6.394,0,12.738-1.303,18.68-3.811l20.467,19.345
                     C187.14,196.079,195.485,185.385,205.721,176.885z" />
                  <path d="M351.626,137.171c1.939,0.267,3.82,0.393,5.692,0.393c26.838,0,48.678-21.823,48.678-48.645
                     c0-26.813-21.84-48.628-48.678-48.628c-26.813,0-48.62,21.815-48.62,48.628c0,10.206,3.135,19.943,8.952,28.117l-25.668,43.207
                     c12.827,4.129,24.414,11.017,34.063,19.967L351.626,137.171z" />
                  <path d="M431.381,222.768c-17.52,0-33.617,9.637-42.176,24.623l-33.994-3.358c0.035,1.033,0.06,2.068,0.06,3.109
                     c0,12.737-2.612,24.862-7.324,35.875l37.355,3.69c6.452,19.7,24.74,33.308,46.079,33.308c26.813,0,48.619-21.814,48.619-48.62
                     C480,244.583,458.193,222.768,431.381,222.768z" />
                  <path d="M257.902,338.213l10.568,46.111c-12.203,9.109-19.525,23.369-19.525,38.773
                     c0,26.805,21.832,48.611,48.662,48.611c26.813,0,48.619-21.807,48.619-48.595c0.017-12.746-4.872-24.774-13.766-33.884
                     c-6.987-7.163-15.839-11.911-25.501-13.783l-9.889-43.21c-10.257,3.99-21.411,6.184-33.079,6.184
                     C261.945,338.421,259.915,338.347,257.902,338.213z" />
                  <path d="M116.459,281.309c-9.144-10.014-22.057-15.806-35.831-15.806c-26.813,0-48.628,21.815-48.628,48.62
                     c0,26.829,21.815,48.661,48.628,48.661c25.267,0,46.104-19.374,48.436-44.039l59.651-19.975
                     c-7.416-10.792-12.569-23.258-14.781-36.715L116.459,281.309z" />
                  <circle cx="263.992" cy="247.143" r="58.842" />
                  <rect x="-166.5" y="141.5" stroke="#93A2BB" stroke-miterlimit="10" width="61" height="71" />
                </svg>
                  <h4>Enter Departments which your Company has. It enhances the Job Postings.</h4>
                </div>
                <!--Empty Data Placeholder-->
          </div>


          <!--Merging-->
        </div>
      </div>
    </div>
  </div> <!-- .card--benefits -->
</div>