<app-Logoheader></app-Logoheader>

<!--JobPost Draft-->

<body class="page page--manage-jobs">
    <main>
        <div class="container">
            <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="ball-clip-rotate">
                <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            <div class="filters">

                <div class="row">
                    <div class="col-md-6">
                        <h3>Templates</h3>
                    </div>
                    <div class="col-md-6 ">
                        <a class="btn btn-border btn-lg pull-right" (click)='back()'>Back</a>
                    </div>
                   
                    <!-- <select name="view" id="view" class="styled-select-box" (change)="Populate($event.target.value)">
                        <option default value="0">My Templates</option>
                        <option value="1">Arytic Templates</option>
                    </select> -->
                </div>
                <div class="clearfix">&nbsp;</div>


                <!--New Tab Design 22-05-2020-->
                <!-- .row -->
                <div class="row">
                    <div class="col-xl-12 poj-template">
                        <div class="card">
                            <div class="card-header">
                                <div class="header-inner">
                                    <div id="achievement-tabs" class="bs-responsive-tabs">
                                        <ul class="nav nav-tabs responsive">
                                            <li class="active">
                                                <a data-toggle="tab" href="#mytemplates">
                                                    <h1 class="title">
                                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                                        <span>My Templates</span>
                                                    </h1>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#arytictemplates">
                                                    <h1 class="title">
                                                        <img alt="arytic-template"
                                                            src="../../../../../assets/images/arytic-circle-logo.png"
                                                            width="30">
                                                        <span>Arytic Templates</span>
                                                    </h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner">
                                <div class="card-content">
                                    <div class="tab-content">
                                        <div id="arytictemplates" class="tab-pane fade">

                                            <div class="tab-inner scrollbar-inner poj-template-inner">
                                                <ng-container *ngIf="defaultjoblist">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mr-top-10"
                                                        *ngFor="let job of defaultjoblist">
                                                        <div class="card">
                                                            <!-- <div class="dropdown card-dropdown">
                                                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20.7">
                                                        <path d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"
                                                            fill="#448afa" />
                                                    </svg>
                                                </button>
                                                                    <ul class="dropdown-menu">
                                                                        <li>
                                                                            <a (click)="editJob(job.JobId)">Edit</a>
                                                                        </li>
                                                                        <li>
                                                                            <a class="disable" (click)=" DeleteDraft(job.JobId)">Delete</a>
                                                                        </li>
                                                                    </ul>
                                                                </div> -->
                                                            <a>
                                                                <header>
                                                                    <h3 class="title pointer"
                                                                        (click)="editJobTemp(job.JobId,job.CustomerId)">
                                                                        {{job?.JobTitle | slice:0:30}}</h3>
                                                                    <div class="meta h-19">
                                                                        <svg class="draft-loc"
                                                                            *ngIf="job.JobLocations!=null"
                                                                            fill="#93a2bb"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="19" height="19.3">
                                                                            <path class="st0"
                                                                                d="M8 19.3l-.6-.4c-.3-.2-7.5-5-7.5-10.9 0-4.4 3.6-8 8-8s8 3.6 8 8c0 5.9-7.1 10.7-7.4 10.9l-.5.4zM8 2C4.7 2 2 4.7 2 8c0 4 4.4 7.7 6 8.9 1.6-1.2 6-4.9 6-8.9 0-3.3-2.7-6-6-6z" />
                                                                            <path class="st0"
                                                                                d="M8.1 11.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3s3.3 1.5 3.3 3.3c0 1.8-1.5 3.3-3.3 3.3zm0-4.6c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3S9.4 8.7 9.4 8s-.6-1.3-1.3-1.3z" />
                                                                        </svg>
                                                                        <h5 class="location draft-loc">
                                                                            {{job?.JobLocations.split("-")[1]}}</h5>
                                                                        <!-- <h5 class="draft-loc">{{job?.PostedOn}}</h5> -->
                                                                    </div>
                                                                </header>
                                                                <div class="card-footer">
                                                                    <img src="../../../../../assets/images/UserLogo.png"
                                                                        alt="Avatar" class="ui-pic" width="50">
                                                                    <h3>{{job?.PostedBy}}</h3>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- <ng-container *ngIf='draft?.length>5'>
                                                                <button *ngIf="isFullDisplayed == false" class="load-more btn btn-border btn-block"
                                                                    (click)="getData()">
                                                                    Load More
                                                                </button>
                                                            </ng-container> -->
                                                </ng-container>
                                                <!-- <ng-template #Nodrafts>
                                                            <div style="text-align: center;">
                                                                <h4>No Arytic Templates!</h4>
                                                            </div>
                                                        </ng-template> -->

                                            </div>
                                        </div>
                                        <div id="mytemplates" class="tab-pane fade in active">
                                            <div class="tab-inner scrollbar-inner poj-template-inner">

                                                <ng-container *ngIf="joblist?.Jobs?.length>0;else Nodrafts">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mr-top-10"
                                                        *ngFor="let job of draft">
                                                        <div class="card"
                                                            *ngIf="job!=null&&job.TemplateSaveTitle !=null ">
                                                            <!-- <div class="dropdown card-dropdown">
                                                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20.7">
                                                    <path d="M2 0c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zM0 10.3c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 8.4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"
                                                        fill="#448afa" />
                                                </svg>
                                            </button>
                                                                <ul class="dropdown-menu">
                                                                    <li>
                                                                        <a (click)="editJob(job.JobId)">Edit</a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="disable" (click)=" DeleteDraft(job.JobId)">Delete</a>
                                                                    </li>
                                                                </ul>
                                                            </div> -->
                                                            <a>
                                                                <header>
                                                                    <h3 class="title pointer"
                                                                        (click)="editJob(job.JobId)">
                                                                        {{job?.TemplateSaveTitle | slice:0:30}}</h3>
                                                                    <div class="meta h-19">
                                                                        <svg class="draft-loc"
                                                                            *ngIf="job.JobLocations!=null"
                                                                            fill="#93a2bb"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            width="19" height="19.3">
                                                                            <path class="st0"
                                                                                d="M8 19.3l-.6-.4c-.3-.2-7.5-5-7.5-10.9 0-4.4 3.6-8 8-8s8 3.6 8 8c0 5.9-7.1 10.7-7.4 10.9l-.5.4zM8 2C4.7 2 2 4.7 2 8c0 4 4.4 7.7 6 8.9 1.6-1.2 6-4.9 6-8.9 0-3.3-2.7-6-6-6z" />
                                                                            <path class="st0"
                                                                                d="M8.1 11.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3s3.3 1.5 3.3 3.3c0 1.8-1.5 3.3-3.3 3.3zm0-4.6c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3S9.4 8.7 9.4 8s-.6-1.3-1.3-1.3z" />
                                                                        </svg>
                                                                        <h5 class="location draft-loc">
                                                                            {{job?.Location.split("-")[1]}}</h5>
                                                                        <h5 class="draft-loc">{{job?.PostedOn}}</h5>
                                                                    </div>
                                                                </header>
                                                                <div class="card-footer">
                                                                    <img src="../../../../../assets/images/UserLogo.png"
                                                                        alt="Avatar" class="ui-pic" width="50" >
                                                                    <h3>{{job?.PostedBy}}</h3>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ng-container *ngIf='draft?.length>5'>
                                                        <button *ngIf="isFullDisplayed == false"
                                                            class="load-more btn btn-border btn-block"
                                                            (click)="getData()">
                                                            Load More
                                                        </button>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-template #Nodrafts>
                                                    <div class="text-center">
                                                        <h4>No Saved Templates!</h4>
                                                    </div>
                                                </ng-template>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .card--achievements -->
                    </div>
                    <!-- .col-xl-12 -->
                </div>
                <!-- .row -->
                <!---->
            </div>
        </div>
    </main>
</body>
<!--Endof JobPost draft-->