<div class="page page--job-details">
    <div id="selectedJobDetails">
        <mat-dialog-content class="mat-typography">
            <div class="modal-header">
                <div class="modal-header-inner">
                    <h4 mat-dialog-title class="modal-title">
                        {{jobdetailscustomer?.JobInfo?.JobTitle}}
                        <span
                            class="status {{jobdetailscustomer?.JobInfo?.JobStatus}}">{{jobdetailscustomer?.JobInfo?.JobStatus}}</span>
                    </h4>
                    <div class="meta">
                        <div class="bw-0">
                            <img src="{{jobdetailscustomer?.JobInfo?.CompanyLogo}}" alt="Avatar" class="ui-pic"
                                width="50">
                            <h5>{{jobdetailscustomer?.JobInfo?.CompanyName}}</h5>
                            <!-- <h5>{{data.JobId}}</h5> -->
                            <!-- <h5>{{data.JobId}}</h5> -->
                        </div>
                        <div class="h-19 bl-1">
                            <svg fill="#93a2bb" xmlns="http://www.w3.org/2000/svg" width="16" height="19.3">
                                <path class="st0"
                                    d="M8 19.3l-.6-.4c-.3-.2-7.5-5-7.5-10.9 0-4.4 3.6-8 8-8s8 3.6 8 8c0 5.9-7.1 10.7-7.4 10.9l-.5.4zM8 2C4.7 2 2 4.7 2 8c0 4 4.4 7.7 6 8.9 1.6-1.2 6-4.9 6-8.9 0-3.3-2.7-6-6-6z">
                                </path>
                                <path class="st0"
                                    d="M8.1 11.3c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3s3.3 1.5 3.3 3.3c0 1.8-1.5 3.3-3.3 3.3zm0-4.6c-.7 0-1.3.6-1.3 1.3s.6 1.3 1.3 1.3S9.4 8.7 9.4 8s-.6-1.3-1.3-1.3z">
                                </path>
                            </svg>
                            <ng-container *ngFor="let location of jobdetailscustomer?.JobLocation; let i=index">
                                <h5 class="location">{{location?.CityName}},{{location?.StateName}}</h5>
                            </ng-container>
                        </div>
                        <div class="h-19">
                            <svg fill="#93a2bb" height="19.3" viewBox="0 -31 512 512" width="16"
                                xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path class="active-path"
                                        d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0"
                                        data-old_color="#93a2bb" data-original="#000000" fill="#93a2bb"></path>
                                </g>
                            </svg>

                            <h5 class="location">{{jobdetailscustomer?.JobInfo?.MinExperience |monthsPipe}} -
                                {{jobdetailscustomer?.JobInfo?.MaxExperience |monthsPipe  }} Years</h5>
                        </div>
                        <!-- <div>
                            <a href="javascript:void(0)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21.1" height="21.1">
                                    <path
                                        d="M13.8 6L8.5 8c-.2.1-.4.3-.5.5l-2 5.3c-.1.4 0 .8.2 1.1.2.2.4.3.7.3.1 0 .2 0 .4-.1l5.3-2c.3-.1.5-.3.6-.6l2-5.3c.1-.4 0-.8-.2-1.1s-.8-.3-1.2-.1zm-2.4 5.4l-2.8 1 1-2.8 2.8-1-1 2.8z" />
                                    <path
                                        d="M10.5 0A10.5 10.5 0 1 0 21 10.5C21.1 4.7 16.3 0 10.5 0zm0 19.1c-4.7 0-8.5-3.8-8.5-8.5S5.8 2 10.5 2 19 5.8 19 10.5s-3.8 8.6-8.5 8.6z" />
                                </svg>
                            </a>
                        </div> -->
                    </div>
                </div>

                <div class="modal-actions">
                    <button mat-button mat-dialog-close
                        (click)="editJob(jobdetailscustomer.JobInfo.JobId,jobdetailscustomer.JobInfo.IsActive)"
                        class="btn btn-border">Edit</button>
                    <button class="btn btn-filled">Inactive</button>

                    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial
                        *ngIf="jobdetailscustomer?.JobInfo?.IsActive==true;else isactives" id="InactiveJob"
                        class="btn btn-filled" (click)="changeJobStat(jobdetailscustomer,false)">Inactive</button>
                    <ng-template #isactives>
                        <button id="ActiveJob" mat-button [mat-dialog-close]="true" cdkFocusInitial
                            class="btn btn-filled" (click)="changeJobStat(jobdetailscustomer,true)">active</button>
                    </ng-template> -->
                </div>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li routerlinkactive="active"><a class="c_41536E" data-toggle="tab"
                            href="#description">Description</a></li>
                    <li routerlinkactive="active"><a class="c_41536E" data-toggle="tab" href="#skills">Skills</a></li>
                    <li routerlinkactive="active"><a class="c_41536E" data-toggle="tab" href="#roles">Roles and
                            Responsibilities</a></li>
                    <span class="active-line" style="width: 327.625px; left: 0px;"></span>
                </ul>

                <div class="tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="group">
                                    <h4>Description</h4>
                                    <p [innerHtml]="jobdetailscustomer?.JobInfo?.JobDescription">
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.JobInfo?.JobDescription==''">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Open Positions</h4>
                                    <p>
                                        {{jobdetailscustomer?.JobInfo?.NumberOfVacancies}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Interview Type</h4>
                                    <p>
                                        {{jobdetailscustomer?.JobInfo?.InterviewType}}
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.JobInfo?.InterviewType==null">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Work Authorization</h4>
                                    <p>
                                        {{jobdetailscustomer?.JobInfo?.WorkAuthorizationType}}
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.JobInfo?.WorkAuthorizationType==null">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Employment Type</h4>
                                    <p>
                                        {{jobdetailscustomer?.JobInfo?.EmploymentType}}
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.JobInfo?.EmploymentType==''">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Salary Range</h4>
                                    <p>
                                        ${{jobdetailscustomer?.JobInfo?.MinimumSalary}} to
                                        ${{jobdetailscustomer?.JobInfo?.MaximumSalary}}
                                    </p>

                                    <p *ngIf="jobdetailscustomer?.JobInfo?.EmploymentType=='Employee'">
                                        On W2
                                    </p>

                                    <p *ngIf="jobdetailscustomer?.JobInfo?.EmploymentType=='Contractor'">
                                        Contract By Length
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Due Date</h4>
                                    <p>
                                        {{jobdetailscustomer?.JobInfo?.ExpiryDate | date:'mediumDate'}}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Immigration Status</h4>
                                    <ng-container *ngFor="let imi of jobdetailscustomer?.JobInfo?.ImmigrationForJob">
                                        <p>
                                            {{imi?.ImmigrationStatus}}
                                        </p>
                                    </ng-container>
                                    <ng-container
                                        *ngFor="let imi of jobdetailscustomer?.JobInfo?.ImmigrationForJob.length==0">
                                        <p>
                                            N/A
                                        </p>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Remote</h4>

                                    <p *ngIf="jobdetailscustomer?.JobInfo?.RemoteWorkId==0">
                                        No
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.JobInfo?.RemoteWorkId==1">
                                        Yes
                                    </p>

                                </div>
                            </div>


                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Job Priority</h4>
                                    <p>
                                        {{jobdetailscustomer?.JobInfo?.JobPriority}}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Education Criteria</h4>
                                    <p *ngIf="jobdetailscustomer?.EducationDetails.length==0">
                                        N/A
                                    </p>
                                    <p *ngFor="let education of jobdetailscustomer?.EducationDetails">
                                        <ng-container *ngIf="jobdetailscustomer?.EducationDetails.length>0">
                                            {{education?.QualificationName}}
                                        </ng-container>

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Type of Person</h4>
                                    <p>
                                        Dominance
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Category</h4>
                                    <p *ngIf="jobdetailscustomer?.JobInfo?.JobCategory!=''">
                                        {{jobdetailscustomer?.JobInfo?.JobCategory}}
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.JobInfo?.JobCategory==''">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Department</h4>
                                    <p *ngFor="let dept of jobdetailscustomer?.JobDepartments">
                                        <ng-container *ngIf="jobdetailscustomer?.JobDepartments?.length!=0">
                                            {{dept?.DepartmentName}}
                                        </ng-container>
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.JobDepartments?.length==0">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Reporting Manager</h4>

                                    <p *ngFor="let rpt of jobdetailscustomer?.JobInfo?.ReportingManager">
                                        <ng-container *ngIf="jobdetailscustomer?.JobInfo?.ReportingManager?.length!=0">
                                            {{rpt?.FirstName}} {{rpt?.LastName}}
                                        </ng-container>
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.JobInfo?.ReportingManager?.length==0">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Recruiting Manager</h4>

                                    <p *ngFor="let rp of jobdetailscustomer?.RecruitingMember">
                                        <ng-container *ngIf="jobdetailscustomer?.RecruitingMember.length!=0">
                                            {{rp?.FirstName}} {{rp?.LastName}}
                                        </ng-container>
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.RecruitingMember?.length==0">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4 >Matching Criteria</h4>
                                    <p *ngFor="let match of jobdetailscustomer?.MatchingCrieterias" >
                                    <ng-container *ngIf="jobdetailscustomer?.MatchingCrieterias.length!=0">
                                        <ng-container *ngIf="match?.ParameerId==1" > 
                                          Domain: {{match?.Percentage}}%
                                        </ng-container>
                                        <ng-container  *ngIf="match?.ParameerId==2">
                                           Experience: {{match?.Percentage}}%
                                        </ng-container>
                                        <ng-container *ngIf="match?.ParameerId==3">
                                            Role: {{match?.Percentage}}%
                                        </ng-container>
                                        <ng-container *ngIf="match?.ParameerId==4">
                                           Skills: {{match?.Percentage}}%
                                        </ng-container>
                                    </ng-container>
                                    </p>
                                    <P *ngIf="jobdetailscustomer?.MatchingCrieterias.length==0">
                                       N/A
                                    </P>
                                </div>
                            </div> -->
                            <div class="col-md-4 col-xs-6">
                                <div class="group">
                                    <h4>Technical Team for Screening</h4>
                                    <p *ngFor="let team of jobdetailscustomer?.TechnicalTeam">
                                        <ng-container *ngIf="jobdetailscustomer?.TechnicalTeam.length!=0">
                                            {{team?.FirstName}} {{team?.LastName}}
                                        </ng-container>
                                    </p>
                                    <p *ngIf="jobdetailscustomer?.TechnicalTeam.length==0">
                                        N/A
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="job-details-reviews">
                                    <div class="review" *ngFor="let comments of jobComments">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                                    <img class="media-object" width="40"
                                                        src="http://api.tenendus.com:1090/IdentityAPI/EsolvitImages/professional.png"
                                                        alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{comments?.FirstName}} {{comments?.LastName}}
                                                </h4>
                                                <p>{{comments?.CommentedDate | date}}</p>
                                            </div>
                                        </div>
                                        <p>{{comments?.CommentText}}.</p>

                                    </div>
                                    <!-- <div class="review">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                                    <img class="media-object" width="40"
                                                        src="http://api.tenendus.com:1090/IdentityAPI/EsolvitImages/professional.png"
                                                        alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Harlod Smith</h4>
                                                <p>1min ago</p>
                                            </div>
                                        </div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book.</p>

                                    </div> -->

                                </div>

                            </div>
                        </div>
                        <!-- <div class="group">
                            <h4>Description</h4>
                            <p [innerHtml]="jobdetailscustomer?.JobInfo?.JobDescription">
                            </p>
                            <p *ngIf="jobdetailscustomer?.JobInfo?.JobDescription==''">
                                N/A
                            </p>
                        </div> -->
                        <!-- <div class="group">
                            <h4>Job Roles and Responsbilities</h4>
                            <p *ngFor="let response of jobdetailscustomer?.JobResponsibility">
                                {{response?.RolesAndResponsibilities}}
                            </p>
                        </div> -->
                        <!-- <div class="group">
                            <h4>Skills</h4>
                            <ul class="list">
                                <li *ngFor="let skill of jobdetailscustomer?.JobRequiredSkills; let i=index">
                                    {{skill?.SkillName}}</li>
                            </ul>
                        </div> -->
                        <!-- <div class="group">
                            <h4>Work Authorization</h4>
                            <p>
                                {{jobdetailscustomer?.JobInfo?.WorkAuthorizationType}}
                            </p>
                            <p *ngIf="jobdetailscustomer?.JobInfo?.WorkAuthorizationType==null">
                                N/A
                            </p>
                        </div>
                        <div class="group">
                            <h4>Domain</h4>
                            <ul class="list">
                                <li *ngFor="let domain of jobdetailscustomer?.JobRequiredDomain; let i=index">
                                    {{domain?.DomainName}}
                                </li>
                                <li *ngIf="jobdetailscustomer?.JobRequiredDomain.length == 0">
                                    N/A
                                </li>
                            </ul>
                        </div>
                        <div class="group">
                            <h4>Benefits</h4>
                            <ul class="list">
                                <li class="item" *ngFor="let companybenfit of getcompanybenfit">
                                    {{companybenfit?.CompanyBenefit}}
                                </li>
                                <li *ngIf="getcompanybenfit?.length == 0">
                                    N/A
                                </li>
                            </ul>
                        </div>
                        <div class="group review-group">
                            <h4>Reviews</h4>
                            <ul class="reviews">
                                <li *ngFor="let comment of jobComments">
                                    <div class="img-wrapper">
                                        <img [src]="comment?.ProfilePic" alt="">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-header">
                                            <div>
                                                <h5>{{comment?.FirstName}} {{comment?.LastName}}</h5>
                                                <h6>{{comment?.ProfileTitle}}</h6>
                                            </div>
                                            <div class="time">{{comment?.CommentedDate | date:'shortTime'}}</div>
                                        </div>
                                        <p>
                                            {{comment?.CommentText}}
                                        </p>
                                    </div>
                                </li>
                                <li *ngIf="jobComments?.length == 0">
                                    N/A
                                </li>
                            </ul>
                        </div> -->

                    </div>
                    <div id="roles" class="tab-pane fade">
                        <div class="row">
                            <ul class="job-details-roles">
                                <li *ngFor="let response of jobdetailscustomer?.JobResponsibility">
                                    {{response?.RolesAndResponsibilities}}</li>
                                <!-- <li>Assist and support other team members on multiple projects.</li>
                                <li>All round development and coding of client-side logic within browser environment
                                </li>
                                <li>Able to integrate multiple data sources and databases into one system</li>
                                <li>Support continuous improvement</li> -->
                            </ul>
                            <!-- <ul class="job-details-roles">
                                <li *ngIf="jobdetailscustomer?.JobResponsibility?.length === 0">N/A</li>
                                </ul> -->
                        </div>
                        <!-- <div class="group">
                            <h4>Job Roles and Responsbilities</h4>
                            <p *ngFor="let response of jobdetailscustomer?.JobResponsibility">
                                {{response?.RolesAndResponsibilities}}
                            </p>
                            <p *ngIf="jobdetailscustomer?.JobResponsibility?.length == 0">
                                N/A
                            </p>
                        </div> -->
                        <!-- <div class="group">
                            <h4>Video Sizzle</h4>
                            <video _ngcontent-c21="" class="video-align" controls="" type="video/mp4" width="440"
                                [src]="jobdetailscustomer.JobInfo?.VideoURL"></video>
                        </div> -->


                    </div>
                    <div id="skills" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-6 skills">
                                <h4>Skills <span>(Primary & Secondary)</span></h4>
                                <ul class="data-list job-details-skills">
                                    <li class="col-md-12 col-xs-12 no-exp ng-star-inserted"
                                        *ngFor="let skill of jobdetailscustomer?.JobRequiredSkills; let i=index">
                                        <span class="name">{{skill?.SkillName}} </span>
                                        <span class="experience">
                                            {{skill?.MinimumExp|monthsPipe}}-{{skill?.MaximumExp|monthsPipe}} Yrs</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>Domain</h4>
                                <ul class="data-list job-details-skills">
                                    <li class="col-md-12 col-xs-12 no-exp ng-star-inserted"
                                        *ngFor="let domain of jobdetailscustomer?.JobRequiredDomain">
                                        <span class="name">{{domain?.DomainName}}</span>
                                        <span class="experience"> {{domain?.MinimumExperience |monthsPipe}} -
                                            {{domain?.MaximumExperience |monthsPipe}} Yrs</span>
                                        <!-- <span class="close">×</span> -->
                                    </li>
                                    <!-- <li class="col-md-12 no-exp ng-star-inserted"  *ngIf="jobdetailscustomer?.JobRequiredDomain.length === 0">
                                      Domain knowledge not required
                                    </li> -->
                                </ul>
                            </div>


                        </div>
                        <!-- <div class="group"> -->
                        <!-- <h4>Skills</h4> -->
                        <!-- <ul class="list">
                                <li *ngFor="let skill of jobdetailscustomer?.JobRequiredSkills; let i=index">
                                    {{skill?.SkillName}}
                                </li>
                            </ul> -->
                        <!-- <div class="clearfix">&nbsp;</div> -->
                        <!--SkillsWithExperience-->
                        <!-- Commented As it is not finalised -->
                        <!-- <div class="lists row">
                                    <div class="col-md-6">
                                      <h4 for="" class="light">Required Primary Skills</h4>
                                      <div class="pill-badges">
                                            <span class="pillbadge">
                                                <span class="pbadge-name">NodeJS</span> <span class="pbadge-experience">1 - 2 Yrs</span>
                                            </span>
                                            <span class="pillbadge">
                                                <span class="pbadge-name">Mongo DB</span> <span class="pbadge-experience">1 - 2 Yrs</span>
                                            </span>
                                            <span class="pillbadge">
                                                <span class="pbadge-name">Python</span> <span class="pbadge-experience">1 - 2 Yrs</span>
                                            </span>

                                      </div>
                                      -->

                        <!-- <ul class="data-list skills-view">
                                        <li class="col-md-12 no-exp ">
                                          <span class="name">NodeJS</span>
                                          <span class="experience"> 1 - 2 Yrs</span>
                                        </li>
                                        <li class="col-md-12 no-exp ">
                                            <span class="name">Mongo DB</span>
                                            <span class="experience"> 1 - 2 Yrs</span>
                                          </li>
                                          <li class="col-md-12 no-exp ">
                                            <span class="name">Python</span>
                                            <span class="experience"> 1 - 2 Yrs</span>
                                          </li>
                                      </ul> -->
                        <!-- <ul class="data-list">
                                        <li>
                                          <span class="name">Adobe Photoshop</span>
                                          <span class="experience">2 Yrs</span>

                                        </li>
                                        <li>
                                          <span class="name">Adobe Photoshop</span>
                                          <span class="experience">2 Yrs</span>

                                        </li>
                                        <li>
                                          <span class="name">Adobe Photoshop</span>
                                          <span class="experience">2 Yrs</span>

                                        </li>
                                        <li>
                                          <span class="name">Adobe Photoshop</span>
                                          <span class="experience">2 Yrs</span>

                                        </li>
                                      </ul> -->
                        <!-- </div>
                                    <div class="col-md-6">
                                      <h4 for="" class="light">Required Secondary Skills</h4>
                                      <div class="pill-badges">
                                            <span class="pillbadge">
                                                <span class="pbadge-name">Java</span> <span class="pbadge-experience">1 - 2 Yrs</span>
                                            </span>
                                            <span class="pillbadge">
                                                <span class="pbadge-name">Angular JS</span> <span class="pbadge-experience">1 - 2 Yrs</span>
                                            </span>
                                            <span class="pillbadge">
                                                <span class="pbadge-name">TFS</span> <span class="pbadge-experience">1 - 2 Yrs</span>
                                            </span>

                                      </div> -->
                        <!-- <ul class="data-list skills-view">
                                        <li class="col-md-12 no-exp ">
                                          <span class="name">Java</span>
                                          <span class="experience"> 1 - 2 Yrs</span>
                                        </li>
                                        <li class="col-md-12 no-exp ">
                                            <span class="name">Angular JS</span>
                                            <span class="experience"> 1 - 2 Yrs</span>
                                          </li>
                                          <li class="col-md-12 no-exp ">
                                            <span class="name">TFS</span>
                                            <span class="experience"> 1 - 2 Yrs</span>
                                          </li>
                                      </ul> -->
                        <!-- </div>
                                  </div> -->
                        <!--SkillsWithExperience-->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="modal-footer">
            <button mat-button mat-dialog-close class="btn btn-border">Close</button>
            <!-- <button mat-button cdkFocusInitial [mat-dialog-close]="true" class="btn btn-filled"
                (click)="OpenShareJobDialog()">Share</button> -->
        </mat-dialog-actions>
    </div>
</div>