<div class="col-md-6" *ngIf="!iseditAbout">
  <div class="card card--about">
    <div class="card-header">
      <h1 class="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="28.5" height="22">
          <g fill="#448AFA">
            <path class="st0"
              d="M25 22H14c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h11c.6 0 1 .4 1 1v20c0 .6-.4 1-1 1zm-10-2h9V2h-9v18z"></path>
            <path class="st0"
              d="M14 22H4.5c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1H14c.6 0 1 .4 1 1v15c0 .6-.4 1-1 1zm-8.5-2H13V7H5.5v13z">
            </path>
            <path class="st0"
              d="M27.5 22H1c-.6 0-1-.4-1-1s.4-1 1-1h26.5c.6 0 1 .4 1 1s-.4 1-1 1zM11.5 12h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM11.5 16h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 6.5h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 11h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 15.5h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1z">
            </path>
          </g>
        </svg>
        <span>About Company</span>
      </h1>
      <a (click)="iseditAbout=!iseditAbout" class="edit-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="none" stroke="#93a2bb"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px"
          viewBox="-750.5 -3250.6 19.9 20">
          <g id="edit-icon" transform="translate(-2150 -3481)">
            <path
              d="M1246.4,42.4v5.5a1.793,1.793,0,0,1-1.8,1.8h-12.3a1.793,1.793,0,0,1-1.8-1.8V35.7a1.793,1.793,0,0,1,1.8-1.8h5.5"
              transform="translate(170 199.7)"></path>
            <path d="M1246.6,31.7l1.8,1.8-9.6,9.7-2.6.7.7-2.6Z" transform="translate(170 199.7)"></path>
          </g>
        </svg>
        <span>Edit</span>
      </a>
    </div> <!-- .card-header -->
    <div class="card-inner">
      <div class="card-content">
        <ul class="nav nav-tabs li-bg-0">
          <li class="active"><a data-toggle="tab" href="#aboutTab">About</a></li>
          <li><a data-toggle="tab" href="#visionTab">Vision and Mission</a></li>
          <li><a data-toggle="tab" href="#coreTab">Core Values</a></li>
          <!-- <div class="active-line" style="width: 46.8875px; left: 0px;"></div> -->
        </ul>
        <div class="tab-content" *ngFor="let aboutcompany of getaboutcompany">
          <div id="aboutTab" class="tab-pane fade in active">
            <div class="tab-inner scrollbar-inner">
              <p>
                {{aboutcompany?.CompanyDescription}}
              </p>
            </div>
          </div>
          <div id="visionTab" class="tab-pane fade">
            <div class="tab-inner scrollbar-inner">
              <p>
                {{aboutcompany?.CompanyVision}}
              </p>
            </div>
          </div>
          <div id="coreTab" class="tab-pane fade">
            <div class="tab-inner scrollbar-inner">
              <p>
                {{aboutcompany?.CoreValue}}
              </p>
            </div>
          </div>
        </div> <!-- .tab-content -->
      </div> <!-- .card-content -->
    </div> <!-- .card-inner -->
  </div> <!-- .card--location -->
</div>
<ng-template>
   <!--Empty Data Placeholder-->
   <div class="hint-text text-center" >
    <svg xmlns="http://www.w3.org/2000/svg" width="28.5" height="22">
      <g fill="#448AFA">
        <path class="st0"
          d="M25 22H14c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h11c.6 0 1 .4 1 1v20c0 .6-.4 1-1 1zm-10-2h9V2h-9v18z">
        </path>
        <path class="st0"
          d="M14 22H4.5c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1H14c.6 0 1 .4 1 1v15c0 .6-.4 1-1 1zm-8.5-2H13V7H5.5v13z">
        </path>
        <path class="st0"
          d="M27.5 22H1c-.6 0-1-.4-1-1s.4-1 1-1h26.5c.6 0 1 .4 1 1s-.4 1-1 1zM11.5 12h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM11.5 16h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 6.5h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 11h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 15.5h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1z">
        </path>
      </g>
    </svg>
    <h5>Provide About the Company, which gives more information to Candidates.</h5>
  </div>
  <!--Empty Data Placeholder-->
</ng-template>
<div class="col-md-6" *ngIf="iseditAbout">
  <div class="card card--about">
    <div class="card-header" id="edit-btn">
      <h1 class="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="28.5" height="22">
          <g fill="#448AFA">
            <path class="st0"
              d="M25 22H14c-.6 0-1-.4-1-1V1c0-.6.4-1 1-1h11c.6 0 1 .4 1 1v20c0 .6-.4 1-1 1zm-10-2h9V2h-9v18z"></path>
            <path class="st0"
              d="M14 22H4.5c-.6 0-1-.4-1-1V6c0-.6.4-1 1-1H14c.6 0 1 .4 1 1v15c0 .6-.4 1-1 1zm-8.5-2H13V7H5.5v13z">
            </path>
            <path class="st0"
              d="M27.5 22H1c-.6 0-1-.4-1-1s.4-1 1-1h26.5c.6 0 1 .4 1 1s-.4 1-1 1zM11.5 12h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM11.5 16h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 6.5h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 11h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1zM21.5 15.5h-4c-.6 0-1-.4-1-1s.4-1 1-1h4c.6 0 1 .4 1 1s-.4 1-1 1z">
            </path>
          </g>
        </svg>
        <span>About Company</span>
      </h1>
      <div class="layout layout--btn">
        <button class="btn btn-border" (click)="iseditAbout=!iseditAbout;">Cancel</button>
        <button class="btn btn-filled" (click)="saveAboutInfo()">Save</button>
      </div>
    </div> <!-- .card-header -->
    <div class="card-inner">
      <div class="card-content">
        <ul class="nav nav-tabs li-bg-0">
          <li class="active"><a data-toggle="tab" href="#aboutTab">About</a></li>
          <li><a data-toggle="tab" href="#visionTab">Vision and Mission</a></li>
          <li><a data-toggle="tab" href="#coreTab">Core Values</a></li>
          <!-- <div class="active-line" style="width: 46.8875px; left: 0px;"></div> -->
        </ul>
        <div class="tab-content" *ngFor="let aboutcompany of getaboutcompany">
          <div id="aboutTab" class="tab-pane fade in active">
            <div class="tab-inner scrollbar-inner">
              <div>
                <textarea rows="20" cols="80" id="CompanyDescription">
    {{aboutcompany?.CompanyDescription}}
    </textarea>
              </div>
            </div>
          </div>
          <div id="visionTab" class="tab-pane fade">
            <div class="tab-inner scrollbar-inner">
              <textarea rows="20" cols="80" id="CompanyVision">
                      {{aboutcompany?.CompanyVision}}
                      </textarea>
            </div>
          </div>
          <div id="coreTab" class="tab-pane fade">
            <div class="tab-inner scrollbar-inner">
              <textarea rows="20" cols="80" id="CoreValue">
                      {{aboutcompany?.CoreValue}}
                      </textarea>
            </div>
          </div>
        </div> <!-- .tab-content -->
      </div> <!-- .card-content -->
    </div> <!-- .card-inner -->
  </div> <!-- .card--location -->
</div>